openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Service Entitlement Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Service Entitlement Resource.
  name: ServiceEntitlementResource
paths:
  /{domain}/myservices/api/v1/serviceEntitlements/{id}:
    get:
      description: Returns a Service Entitlement Resource
      operationId: resource_MSServiceEntitlementResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceEntitlement unique identifier
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use expands=serviceInstancesEligibleDataCenters to obtain Eligible Data Centers
        in: query
        name: expands
        schema:
          type: string
          default: none
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSServiceEntitlement'
                description: ''
        default:
          description: Unexpected error.
      summary: Returns a Service Entitlement Resource.
      tags:
      - ServiceEntitlementResource
components:
  schemas:
    json_MSSEExadataSecurityGroups:
      description: MyServices Exadata Security Groups object
      properties:
        canonicalLink:
          description: link to access this SEExadataSecurityGroup list
          type: string
        hasMore:
          description: Set to true if subsequent GETs need to be done to list all SEExadataSecurityGroups
          type: boolean
        items:
          description: List of SEExadataSecurityGroups.
          items:
            $ref: '#/components/schemas/json_MSSEExadataSecurityGroup'
          type: array
        limit:
          description: Maximum number of SEExadataSecurityGroup returned
          type: number
        nextLink:
          description: Link to next SEExadataSecurityGroup page
          type: string
        offset:
          description: Starting offset of SEExadataSecurityGroups returned
          type: number
        previousLink:
          description: Link to previous SEExadataSecurityGroup page
          type: string
      title: SEExadataSecurityGroups
      type: object
    json_MSSEExadataSecurityRule:
      description: MyServices Exadata Security Rule. Each rule defines an element in the white-list of allowed network access points
      properties:
        direction:
          description: 'Direction of the network communications that are subject to this rule. Allowed values: [ingress | egress] for inbound (configures the rule to allow network communications to be received from the location specified in the rule) or outbound (configures the rule to allow network communications to be sent to the location specified in the rule).'
          type: string
        endPort:
          description: See startPort.
          type: number
        ipSubnet:
          description: Specifies the IP addresses that are subject to this rule. Specify a single IP address, or specify a range of IP addresses using Classless Inter-Domain Routing (CIDR) notation.
          type: string
        proto:
          description: 'Network Protocol. Allowed values: [tcp | udp].'
          type: string
        ruleInterface:
          description: 'Network interface that is subject to this rule. Allowed values: [admin | client | backup]. admin: The rule applies to network communications over the administration network interface. The administration network is typically used to support administration tasks by using terminal sessions, monitoring agents, and so on. client: The rule applies to network communications over the client access network interface, which is typically used by Oracle Net (database) connections. backup: The rule applies to network communications over the backup network interface, which is typically used to transport backup information to and from network-based storage that is separate from Exadata Cloud Service.'
          type: string
        startPort:
          description: startPort and endPort define the range of ports to open/white-list [0 - 65535]. startPort <= endPort and startPort == endPort to open only 1 port.
          type: number
      title: SEExadataSecurityRule
      type: object
    json_PurchaseEntitlementStatus:
      description: ''
      enum:
      - TRA_UNKNOWN
      - INITIALIZED
      - PENDING_CANCELATION
      - ACTIVE
      - PASSIVE
      - PENDING_ACTIVATION
      - ACTIVATED
      - BEGIN_TERMINATION
      - LOCKED
      - MIGRATED
      - MIGRATED_INACTIVE
      - PROVISIONED
      - PENDING_RECLAIM
      - RECLAIMED
      - RELOCATING
      - ARCHIVED
      - PURGED
      - DISABLED
      - NON_RECOVERABLE
      - TERMINATED
      - CANCELED
      - CONVERTED_TO_PAID
      - SOFT_TERMINATED
      - PENDING_DEPROVISIONING
      - DEPROVISIONED
      - BEGIN_ONBOARDING_PASSIVE
      title: PurchaseEntitlementStatus
      type: string
    json_MSSEServiceConfigurationExadata:
      description: MyServices ServiceEntitlement Service Configuration Exadata object
      properties:
        canonicalLink:
          description: ''
          type: string
        id:
          description: ''
          type: string
        securityGroups:
          $ref: '#/components/schemas/json_MSSEExadataSecurityGroups'
          description: ''
      title: SEServiceConfigurationExadata
      type: object
    json_ResourceFilter:
      description: ''
      title: ResourceFilter
      type: object
    json_MSSEServiceConfiguration:
      description: MyServices ServiceEntitlement Service Configuration object
      properties:
        canonicalLink:
          description: ''
          type: string
        exadata:
          $ref: '#/components/schemas/json_MSSEServiceConfigurationExadata'
          description: ''
        id:
          description: ''
          type: string
      title: SEServiceConfiguration
      type: object
    json_MSPurchaseEntitlement:
      description: Customer PurchaseEntitlement. A Purchase Entitlement represents the entity bought by a customer.
      properties:
        activationDate:
          description: ''
          type: number
        billingMetrics:
          description: ''
          type: string
        canonicalLink:
          description: Canonical Link of the Purchase Entitlement Resource
          type: string
        cloudAccount:
          $ref: '#/components/schemas/json_MSCloudAccount'
          description: Cloud Account to which the purchase entitlement is associated
        createdBy:
          description: User who requested the Purchase Entitlement
          type: string
        createdOn:
          description: Date and Time of creation
          type: number
        csiNumber:
          description: ''
          type: string
        endDate:
          description: ''
          type: number
        id:
          description: Unique Id of the Purchase Entitlement
          type: string
        identityDomain:
          $ref: '#/components/schemas/json_MSIdentityDomain'
          description: Identity Domain to which the purchase entitlement is associated
        modifiedBy:
          description: User who performed the last modification
          type: string
        modifiedOn:
          description: Date and Time of the last modification
          type: number
        serviceDefinition:
          $ref: '#/components/schemas/json_MSServiceDefinition'
          description: The Purchase Entitlement is for a specific type of service. The Service Definition indicates the type of Service.
        startDate:
          description: ''
          type: number
        status:
          $ref: '#/components/schemas/json_PurchaseEntitlementStatus'
          description: Current Status
        subscriptionId:
          description: The Purchase Entitlement may be part of a Subscription
          type: string
        terminationDate:
          description: ''
          type: number
        trial:
          description: ''
          type: boolean
      title: PurchaseEntitlement
      type: object
    json_MSServiceDefinition:
      description: MyServices ServiceDefinition
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        id:
          description: Unique Id of the Service Definition
          type: string
        name:
          description: Name of the Service Definition. As an example, "DBAAS" would represent the service "DataBase As A Service"
          type: string
      title: ServiceDefinition
      type: object
    json_MSIdentityDomain:
      description: MyServices IdentityDomain object
      properties:
        displayName:
          description: Identity Domain Display Name
          type: string
        id:
          description: Identity Domain Unique Id
          type: string
        name:
          description: Identity Domain Name
          type: string
      title: IdentityDomain
      type: object
    json_MSSEExadataSecurityGroup:
      description: 'MyServices Exadata Security Group. Exadata Cloud Service Self-Service Firewall provides a system of rules and groups. By default, the firewall denies network access to the Exadata Cloud Service instance.

        Security groups contains security rules. The security rules effectively define a white-list of allowed network access points.'
      properties:
        canonicalLink:
          description: Canonical Link
          type: string
        customerId:
          description: Customer Id. This must be the same as the {serviceEntitlementId}
          type: string
        description:
          description: Group Description
          type: string
        id:
          description: MSSEExadataSecurityGroup unique identifier
          type: string
        name:
          description: Group Name. A group name.
          type: string
        rules:
          description: Rules defining the white-list of allowed network access points
          items:
            $ref: '#/components/schemas/json_MSSEExadataSecurityRule'
          type: array
        version:
          description: Version
          type: number
      title: SEExadataSecurityGroup
      type: object
    json_MSServiceEntitlement:
      description: 'Customer ServiceEntitlement. A Service Entitlement represents a specific service included in a Purchase Entitlement.

        As an example, a Service Entitlement with with a Service Definition "DBAAS" would be for the entitlement to use the

        service "DataBase As A Service".'
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        cloudAccount:
          $ref: '#/components/schemas/json_MSCloudAccount'
          description: Cloud Account to which the Service Entitlement is associated
        createdBy:
          description: User who requested the Service Entitlement
          type: string
        createdOn:
          description: Date and Time of creation
          type: number
        id:
          description: Unique Id of the Service Entitlement
          type: string
        identityDomain:
          $ref: '#/components/schemas/json_MSIdentityDomain'
          description: Identity Domain to which the Service Entitlement is associated
        modifiedBy:
          description: User who performed the last modification
          type: string
        modifiedOn:
          description: Date and Time of the last modification
          type: number
        purchaseEntitlement:
          $ref: '#/components/schemas/json_MSPurchaseEntitlement'
          description: Purchase Entitlement in which this service is included.
        serviceConfigurations:
          $ref: '#/components/schemas/json_MSSEServiceConfigurations'
          description: Service Configurations
        serviceDefinition:
          $ref: '#/components/schemas/json_MSServiceDefinition'
          description: The Service Definition defines the exact type of service
        status:
          $ref: '#/components/schemas/json_ServiceEntitlementStatus'
          description: Current Status
      title: ServiceEntitlement
      type: object
    json_ServiceEntitlementStatus:
      description: ''
      enum:
      - TRA_UNKNOWN
      - INITIALIZED
      - PENDING_CANCELATION
      - ACTIVE
      - PASSIVE
      - PENDING_ACTIVATION
      - ACTIVATED
      - BEGIN_TERMINATION
      - LOCKED
      - MIGRATED
      - MIGRATED_INACTIVE
      - PROVISIONED
      - PENDING_RECLAIM
      - RECLAIMED
      - RELOCATING
      - ARCHIVED
      - PURGED
      - DISABLED
      - NON_RECOVERABLE
      - TERMINATED
      - CANCELED
      - CONVERTED_TO_PAID
      - SOFT_TERMINATED
      - PENDING_DEPROVISIONING
      - DEPROVISIONED
      - BEGIN_ONBOARDING_PASSIVE
      - BEGIN_ACTIVATION
      - BEGIN_SOFT_TERMINATION
      - BEGIN_SUSPENSION
      - BEGIN_RESUMPTION
      - SUSPENDED
      - BEGIN_LOCK_RELOCATION
      - LOCKED_RELOCATION
      - BEGIN_RELOCATION
      - RELOCATED
      - BEGIN_UNLOCK_RELOCATION
      - UNLOCKED_RELOCATION
      - FAILED_LOCK_RELOCATION
      - FAILED_ACTIVATION
      title: ServiceEntitlementStatus
      type: string
    json_MSSEServiceConfigurations:
      description: MyServices ServiceEntitlement Service Configurations object
      properties:
        canonicalLink:
          description: ''
          type: string
        items:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSSEServiceConfiguration'
          type: array
        resourceFilter:
          $ref: '#/components/schemas/json_ResourceFilter'
          description: ''
      title: SEServiceConfigurations
      type: object
    json_MSCloudAccount:
      description: MyServices Cloud Account. A Cloud Account is a container for Cloud Services purchased by a Customer.
      properties:
        canonicalLink:
          description: Canonical Link of the Cloud Account Resource
          type: string
        id:
          description: Unique Id of the Cloud Account
          type: string
        name:
          description: Name of the Cloud Account as defined by the customer
          type: string
      title: CloudAccount
      type: object
