openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Cloud Account Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Cloud Account Resource.
  name: CloudAccountResource
paths:
  /{domain}/myservices/api/v1/cloudAccounts/{id}:
    get:
      description: Returns a Cloud Account Resource
      operationId: resource_MSCloudAccountResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: The unique Cloud Account Id
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSCloudAccount'
                description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        '404':
          description: The resource was not found.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        default:
          description: Unexpected error.
      summary: Returns a Cloud Account Resource.
      tags:
      - CloudAccountResource
components:
  schemas:
    json_MSError:
      description: ''
      properties:
        additionalInfoLink:
          description: ''
          type: string
        errorCode:
          description: ''
          type: string
        errorMessage:
          description: ''
          type: string
        httpMessage:
          description: ''
          type: string
        httpStatusCode:
          description: ''
          type: number
        relatedLink:
          description: ''
          type: string
      title: Error
      type: object
    json_MSCloudAccount:
      description: MyServices Cloud Account. A Cloud Account is a container for Cloud Services purchased by a Customer.
      properties:
        canonicalLink:
          description: Canonical Link of the Cloud Account Resource
          type: string
        id:
          description: Unique Id of the Cloud Account
          type: string
        name:
          description: Name of the Cloud Account as defined by the customer
          type: string
      title: CloudAccount
      type: object
