openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services SI Exadata Bursting Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Represents a Service Instance Service Configuration Exadata Bursting Resource.
  name: SIExadataBurstingResource
paths:
  /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/bursting:
    get:
      description: Returns SIExadataBursting resource
      operationId: resource_MSSIExadataBurstingResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        schema:
          type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSSIExadataBursting'
                description: ''
        default:
          description: Unexpected error.
      summary: Returns SIExadataBursting resource.
      tags:
      - SIExadataBurstingResource
    put:
      description: "<p>Modify bursting configuration</p>\n\n<br><strong>Sample - Modify bursting configuration</strong>\n\n<pre class=\"prettyprint lang-js\"><br>\n PUT /{domain}/myservices/api/{versionId}/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/bursting HTTP/1.1\n\n \n {\n   \"ocpuOpInProgress\": false,\n   \"exaunitId\": 19,\n   \"ocpuAllocations\": [\n     {\n       \"hostName\": \"host.us.oracle.com\",\n       \"subscriptionOcpu\": 8,\n       \"meteredOcpu\": 0,\n       \"burstOcpu\": 0,\n       \"minOcpu\": 1,\n       \"maxOcpu\": 34,\n       \"maxBurstOcpu\": 8,\n       \"maxSubOcpu\": 34,\n       \"maxMetOcpu\": 0\n     },\n     {\n       \"hostName\": \"host.us.oracle.com\",\n       \"subscriptionOcpu\": 8,\n       \"meteredOcpu\": 0,\n       \"burstOcpu\": 0,\n       \"minOcpu\": 1,\n       \"maxOcpu\": 34,\n       \"maxBurstOcpu\": 8,\n       \"maxSubOcpu\": 34,\n       \"maxMetOcpu\": 0\n     }\n   ],\n   \"additionalNumOfCoresHourly\": \"2\",\n   \"additionalNumOfCores\": \"3\",\n   \"coreBursting\": \"Y\"\n }\n \n </pre>"
      operationId: resource_MSSIExadataBurstingResource_put_PUT
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        schema:
          type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: string
                format: binary
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SIExadataBurstingResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_MSSIExadataBursting'
              description: ''
components:
  schemas:
    json_MSSIExadataBursting:
      description: MyServices Exadata Bursting object
      properties:
        additionalNumOfCores:
          description: ''
          type: string
        additionalNumOfCoresHourly:
          description: ''
          type: string
        canonicalLink:
          description: Canonical Link
          type: string
        coreBursting:
          description: ''
          type: string
        exaunitId:
          description: ''
          type: number
        ocpuAllocations:
          description: List of Bursting configuration for each Host Name
          items:
            $ref: '#/components/schemas/json_MSSIExadataOcpuAllocation'
          type: array
        ocpuOpInProgress:
          description: Indicates that a modification to the Bursting Configuration is in Progress
          type: boolean
        op:
          description: ''
          type: string
        requestId:
          description: ''
          type: string
        status:
          description: ''
          type: number
      title: SIExadataBursting
      type: object
    json_MSSIExadataOcpuAllocation:
      description: MyServices Exadata Ocpu Allocation object used in Exadata Bursting
      properties:
        burstOcpu:
          description: Current Burst value. 0 means no Bursting. A positive value means an increase in compute nodes. Not that the additional number of compute nodes cannot exceed the value in maxBurstOcpu
          type: number
        hostName:
          description: Host Name
          type: string
        maxBurstOcpu:
          description: Maximum amount of compute nodes allowed for Bursting.
          type: number
        maxMetOcpu:
          description: ''
          type: number
        maxOcpu:
          description: ''
          type: number
        maxSubOcpu:
          description: ''
          type: number
        meteredOcpu:
          description: ''
          type: number
        minOcpu:
          description: ''
          type: number
        subscriptionOcpu:
          description: ''
          type: number
      title: SIExadataOcpuAllocation
      type: object
