openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services SE Exadata Security Group Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Represents a Service Entitlement Service Configuration Exadata SecurityGroup Resource.
  name: SEExadataSecurityGroupResource
paths:
  ? /{domain}/myservices/api/v1/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups/{id}
  : delete:
      description: Deletes a SEExadataSecurityGroup resource.
      operationId: resource_MSSEExadataSecurityGroupResource_deleteSecurityGroup_DELETE
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        schema:
          type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        schema:
          type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSCloudAccount'
                description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        '404':
          description: The resource was not found.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        default:
          description: Unexpected error.
      summary: Deletes a SEExadataSecurityGroup resource.
      tags:
      - SEExadataSecurityGroupResource
    get:
      description: Returns SEExadataSecurityGroup resource
      operationId: resource_MSSEExadataSecurityGroupResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        schema:
          type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        schema:
          type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSSEExadataSecurityGroup'
                description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        '404':
          description: The resource was not found.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        default:
          description: Unexpected error.
      summary: Returns SEExadataSecurityGroup resource.
      tags:
      - SEExadataSecurityGroupResource
    put:
      description: "<p>Modify an existing Security Group</p>\n\n<br><strong>Sample - Modify an existing Security Group</strong><br>\n\n<pre class=\"prettyprint lang-js\">\n PUT /{domain}/myservices/api/{versionId}/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups/{id} HTTP/1.1\n\n {\n   \"id\": \"2\",\n   \"customerId\": \"504078663\",\n   \"name\": \"TestGroup2\",\n   \"description\": \"HR's first group\",\n   \"rules\": [\n     {\n       \"direction\": \"ingress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 30,\n       \"endPort\": 31,\n       \"ipSubnet\": \"100.100.100.255\",\n       \"ruleInterface\": \"admin\"\n     },\n     {\n       \"direction\": \"egress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 32,\n       \"endPort\": 33,\n       \"ipSubnet\": \"100.100.255.255\",\n       \"ruleInterface\": \"admin\"\n     }\n   ]\n }\n \n </pre>"
      operationId: resource_MSSEExadataSecurityGroupResource_put_PUT
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        schema:
          type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        schema:
          type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: string
                format: binary
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SEExadataSecurityGroupResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_MSSEExadataSecurityGroup'
              description: ''
        description: SecurityGroup unique identifier
components:
  schemas:
    json_MSSEExadataSecurityGroup:
      description: 'MyServices Exadata Security Group. Exadata Cloud Service Self-Service Firewall provides a system of rules and groups. By default, the firewall denies network access to the Exadata Cloud Service instance.

        Security groups contains security rules. The security rules effectively define a white-list of allowed network access points.'
      properties:
        canonicalLink:
          description: Canonical Link
          type: string
        customerId:
          description: Customer Id. This must be the same as the {serviceEntitlementId}
          type: string
        description:
          description: Group Description
          type: string
        id:
          description: MSSEExadataSecurityGroup unique identifier
          type: string
        name:
          description: Group Name. A group name.
          type: string
        rules:
          description: Rules defining the white-list of allowed network access points
          items:
            $ref: '#/components/schemas/json_MSSEExadataSecurityRule'
          type: array
        version:
          description: Version
          type: number
      title: SEExadataSecurityGroup
      type: object
    json_MSError:
      description: ''
      properties:
        additionalInfoLink:
          description: ''
          type: string
        errorCode:
          description: ''
          type: string
        errorMessage:
          description: ''
          type: string
        httpMessage:
          description: ''
          type: string
        httpStatusCode:
          description: ''
          type: number
        relatedLink:
          description: ''
          type: string
      title: Error
      type: object
    json_MSCloudAccount:
      description: MyServices Cloud Account. A Cloud Account is a container for Cloud Services purchased by a Customer.
      properties:
        canonicalLink:
          description: Canonical Link of the Cloud Account Resource
          type: string
        id:
          description: Unique Id of the Cloud Account
          type: string
        name:
          description: Name of the Cloud Account as defined by the customer
          type: string
      title: CloudAccount
      type: object
    json_MSSEExadataSecurityRule:
      description: MyServices Exadata Security Rule. Each rule defines an element in the white-list of allowed network access points
      properties:
        direction:
          description: 'Direction of the network communications that are subject to this rule. Allowed values: [ingress | egress] for inbound (configures the rule to allow network communications to be received from the location specified in the rule) or outbound (configures the rule to allow network communications to be sent to the location specified in the rule).'
          type: string
        endPort:
          description: See startPort.
          type: number
        ipSubnet:
          description: Specifies the IP addresses that are subject to this rule. Specify a single IP address, or specify a range of IP addresses using Classless Inter-Domain Routing (CIDR) notation.
          type: string
        proto:
          description: 'Network Protocol. Allowed values: [tcp | udp].'
          type: string
        ruleInterface:
          description: 'Network interface that is subject to this rule. Allowed values: [admin | client | backup]. admin: The rule applies to network communications over the administration network interface. The administration network is typically used to support administration tasks by using terminal sessions, monitoring agents, and so on. client: The rule applies to network communications over the client access network interface, which is typically used by Oracle Net (database) connections. backup: The rule applies to network communications over the backup network interface, which is typically used to transport backup information to and from network-based storage that is separate from Exadata Cloud Service.'
          type: string
        startPort:
          description: startPort and endPort define the range of ports to open/white-list [0 - 65535]. startPort <= endPort and startPort == endPort to open only 1 port.
          type: number
      title: SEExadataSecurityRule
      type: object
