openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Purchase Entitlements Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Purchase Entitlement Resource Collection.
  name: PurchaseEntitlementsResource
paths:
  /{domain}/myservices/api/v1/purchaseEntitlements:
    get:
      description: Purchase Entitlement resource collection, default ordering is "id:asc"
      operationId: resource_MSPurchaseEntitlementsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: Filter on a list of ids
        in: query
        name: ids
        schema:
          type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        schema:
          type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering of the resources, this resource can be ordered by id, modifiedOn, createdOn
        in: query
        name: orderBy
        schema:
          type: string
      - description: Filter on a list of service definition names
        in: query
        name: serviceDefinitionNames
        schema:
          type: string
      - description: Filter on a list of statuses
        in: query
        name: statuses
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSPurchaseEntitlements'
                description: ''
        default:
          description: Unexpected error.
      summary: Purchase Entitlement resource collection, default ordering is "id:asc".
      tags:
      - PurchaseEntitlementsResource
components:
  schemas:
    json_MSPurchaseEntitlements:
      description: ''
      properties:
        canonicalLink:
          description: link to access this PurchaseEntitlement list
          type: string
        hasMore:
          description: Set to true if subsequent GETs need to be done to list all PurchaseEntitlements
          type: boolean
        items:
          description: List of PurchaseEntitlements.
          items:
            $ref: '#/components/schemas/json_MSPurchaseEntitlement'
          type: array
        limit:
          description: Maximum number of PurchaseEntitlement returned
          type: number
        nextLink:
          description: Link to next PurchaseEntitlement page
          type: string
        offset:
          description: Starting offset of PurchaseEntitlements returned
          type: number
        previousLink:
          description: Link to previous PurchaseEntitlement page
          type: string
      title: PurchaseEntitlements
      type: object
    json_MSPurchaseEntitlement:
      description: Customer PurchaseEntitlement. A Purchase Entitlement represents the entity bought by a customer.
      properties:
        activationDate:
          description: ''
          type: number
        billingMetrics:
          description: ''
          type: string
        canonicalLink:
          description: Canonical Link of the Purchase Entitlement Resource
          type: string
        cloudAccount:
          $ref: '#/components/schemas/json_MSCloudAccount'
          description: Cloud Account to which the purchase entitlement is associated
        createdBy:
          description: User who requested the Purchase Entitlement
          type: string
        createdOn:
          description: Date and Time of creation
          type: number
        csiNumber:
          description: ''
          type: string
        endDate:
          description: ''
          type: number
        id:
          description: Unique Id of the Purchase Entitlement
          type: string
        identityDomain:
          $ref: '#/components/schemas/json_MSIdentityDomain'
          description: Identity Domain to which the purchase entitlement is associated
        modifiedBy:
          description: User who performed the last modification
          type: string
        modifiedOn:
          description: Date and Time of the last modification
          type: number
        serviceDefinition:
          $ref: '#/components/schemas/json_MSServiceDefinition'
          description: The Purchase Entitlement is for a specific type of service. The Service Definition indicates the type of Service.
        startDate:
          description: ''
          type: number
        status:
          $ref: '#/components/schemas/json_PurchaseEntitlementStatus'
          description: Current Status
        subscriptionId:
          description: The Purchase Entitlement may be part of a Subscription
          type: string
        terminationDate:
          description: ''
          type: number
        trial:
          description: ''
          type: boolean
      title: PurchaseEntitlement
      type: object
    json_MSCloudAccount:
      description: MyServices Cloud Account. A Cloud Account is a container for Cloud Services purchased by a Customer.
      properties:
        canonicalLink:
          description: Canonical Link of the Cloud Account Resource
          type: string
        id:
          description: Unique Id of the Cloud Account
          type: string
        name:
          description: Name of the Cloud Account as defined by the customer
          type: string
      title: CloudAccount
      type: object
    json_MSServiceDefinition:
      description: MyServices ServiceDefinition
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        id:
          description: Unique Id of the Service Definition
          type: string
        name:
          description: Name of the Service Definition. As an example, "DBAAS" would represent the service "DataBase As A Service"
          type: string
      title: ServiceDefinition
      type: object
    json_PurchaseEntitlementStatus:
      description: ''
      enum:
      - TRA_UNKNOWN
      - INITIALIZED
      - PENDING_CANCELATION
      - ACTIVE
      - PASSIVE
      - PENDING_ACTIVATION
      - ACTIVATED
      - BEGIN_TERMINATION
      - LOCKED
      - MIGRATED
      - MIGRATED_INACTIVE
      - PROVISIONED
      - PENDING_RECLAIM
      - RECLAIMED
      - RELOCATING
      - ARCHIVED
      - PURGED
      - DISABLED
      - NON_RECOVERABLE
      - TERMINATED
      - CANCELED
      - CONVERTED_TO_PAID
      - SOFT_TERMINATED
      - PENDING_DEPROVISIONING
      - DEPROVISIONED
      - BEGIN_ONBOARDING_PASSIVE
      title: PurchaseEntitlementStatus
      type: string
    json_MSIdentityDomain:
      description: MyServices IdentityDomain object
      properties:
        displayName:
          description: Identity Domain Display Name
          type: string
        id:
          description: Identity Domain Unique Id
          type: string
        name:
          description: Identity Domain Name
          type: string
      title: IdentityDomain
      type: object
