openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Operations Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Operation Resource Collection.
  name: OperationsResource
paths:
  /{domain}/myservices/api/v1/operations:
    get:
      description: Returns operation resource collection, default ordering is "id:asc"
      operationId: resource_MSOperationsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        schema:
          type: string
      - description: Range end filter based on the createdOn attribute
        in: query
        name: createdOnRangeEnd
        schema:
          type: string
      - description: Range start filter based on the createdOn attribute
        in: query
        name: createdOnRangeStart
        schema:
          type: string
      - description: 'list of sub objects to expand inside the operation object, supported values: none, operationItems'
        in: query
        name: expands
        schema:
          type: string
          default: operationItems
      - description: Limits the number of resources to return
        in: query
        name: limit
        schema:
          type: string
      - description: Range end filter based on the modifiedOn attribute
        in: query
        name: modifiedOnRangeEnd
        schema:
          type: string
      - description: Range start filter based on the modifiedOn attribute
        in: query
        name: modifiedOnRangeStart
        schema:
          type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        schema:
          type: string
      - description: Return all operations who have an operationitem containing the specified attribute name
        in: query
        name: operationItemAttributeName
        schema:
          type: string
      - description: Return all operations who have an operationitem containing the specified attribute value
        in: query
        name: operationItemAttributeValue
        schema:
          type: string
      - description: Comma separated list of operation item current actions, operation whose operation item current action matches one of the specified curent action will be returned.
        in: query
        name: operationItemCurrentActions
        schema:
          type: string
      - description: DEPRECATED, use operationItemDefinitionIds, return the operations with an operation item definition specified
        in: query
        name: operationItemDefinitionId
        schema:
          type: string
      - description: Comma separated list of operation item definitions, operations whose operation item has one of the specified operation item definition ids will be returned.
        in: query
        name: operationItemDefinitionIds
        schema:
          type: string
      - description: Return the operation containing this operation item id
        in: query
        name: operationItemId
        schema:
          type: string
      - description: DEPRECATED, use operationItemStatuses, return the operations having at least one operation item with the specified status
        in: query
        name: operationItemStatus
        schema:
          type: string
          enum:
          - ASYNC_WAIT
          - FAILED
          - PROCESSED
          - PROCESSING
          - READY
          - WAITING
      - description: Comma separated list of operation item statuses, operations whose operation item status matches one of the specified operation item statuses will be returned.
        in: query
        name: operationItemStatuses
        schema:
          type: string
      - description: Ordering of the resources, this resource can be ordered by id, createdOn, modifiedOn
        in: query
        name: orderBy
        schema:
          type: string
      - description: DEPRECATED, use statuses,  operations whose status matches the specified operation status will be returned.
        in: query
        name: status
        schema:
          type: string
          enum:
          - FAILED
          - NEW
          - PENDING_APPROVAL
          - PROCESSED
          - PROCESSING
          - REJECTED
      - description: Comma separated list of operation statuses, operations whose status matches one of the specified operation statuses will be returned.
        in: query
        name: statuses
        schema:
          type: string
      - description: Subsytem to query, currently only TRA is supported, operations from other subsystems can only be queried by id.
        in: query
        name: subSystem
        schema:
          type: string
          enum:
          - CIM
          - TAS
          - TRA
          default: TRA
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSOperations'
                description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        '429':
          description: Too Many Requests, too many requests sent in a given amount of time or too many simultaneous requests for the same user being processed.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSError'
                description: ''
        default:
          description: Unexpected error.
      summary: Returns operation resource collection, default ordering is "id:asc".
      tags:
      - OperationsResource
    post:
      description: "<p>The operations resource is a mean to send and monitor asynchronous operations to various Oracle Cloud Service Components.\nThe operations consist of items defined in the operationItemDefinitions resource. </p>\n\n<p>Sample for creating a new service instance</p>\n<pre class=\"prettyprint lang-js\">\n   POST /itas/idcs-b613095893a44b0582073eb2edade2de/myservices/api/v1/operations HTTP/1.1\n   User-Agent: test/1.0\n   Host: host\n   Accept: application/json\n   Content-Type:application/json\n\n   {\n   \"operationItems\": [\n    {\n      \"attributes\": [\n        {\n          \"name\": \"requestPayload.name\",\n          \"value\": \"myServiceName\"\n        },\n        {\n          \"name\": \"requestPayload.serviceEntitlementId\",\n          \"value\": \"500176796\"\n        },\n        {\n          \"name\": \"requestPayload.size\",\n          \"value\": \"CUSTOM\"\n        },\n        {\n          \"name\": \"requestPayload.serviceType\",\n          \"value\": \"IDCS\"\n        },\n        {\n          \"name\": \"requestPayload.customAttributes.PickInstanceSize\",\n          \"value\": \"Identity Cloud Service Basic - Enterprise User- Non-metered - Hosted Named User\"\n        }\n      ],\n      \"operationItemDefinition\": {\n        \"id\": \"CIM-IDCS-CUSTOM--CREATE\",\n        \"operationType\": \"CREATE\",\n        \"canonicalLink\": \"/itas/idcs-b613095893a44b0582073eb2edade2de/myservices/api/operationItemDefinitions/CIM-IDCS-CUSTOM--CREATE\"\n      }\n    }\n   ]\n   }\n</pre>"
      operationId: resource_MSOperationsResource_post_POST
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        schema:
          type: string
      responses:
        '201':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: string
                format: binary
        default:
          description: Unexpected error.
      summary: .
      tags:
      - OperationsResource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_MSOperation'
              description: ''
components:
  schemas:
    json_MSOperations:
      description: ''
      properties:
        canonicalLink:
          description: link to access this Operation list
          type: string
        hasMore:
          description: Set to true if subsequent GETs need to be done to list all Operations
          type: boolean
        items:
          description: List of Operations.
          items:
            $ref: '#/components/schemas/json_MSOperation'
          type: array
        limit:
          description: Maximum number of Operation returned
          type: number
        nextLink:
          description: Link to next Operation page
          type: string
        offset:
          description: Starting offset of Operations returned
          type: number
        previousLink:
          description: Link to previous Operation page
          type: string
        resourceFilter:
          description: ''
          type: string
      title: Operations
      type: object
    json_MSOperationResourceType:
      description: ''
      enum:
      - PRODUCT
      - CLOUD_ACCOUNT
      - PURCHASE_ENTITLEMENT
      - SERVICE_ENTITLEMENT
      - SERVICE_INSTANCE
      title: MSOperationResourceType
      type: string
    json_MSAttributeDefinitionTransformationClassExecutionMode:
      description: ''
      enum:
      - VALIDATION
      - PROCESSING
      - BOTH
      title: MSAttributeDefinitionTransformationClassExecutionMode
      type: string
    json_MSServiceDefinition:
      description: MyServices ServiceDefinition
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        id:
          description: Unique Id of the Service Definition
          type: string
        name:
          description: Name of the Service Definition. As an example, "DBAAS" would represent the service "DataBase As A Service"
          type: string
      title: ServiceDefinition
      type: object
    json_MSAttribute:
      description: MyServices ServiceDefinition object
      properties:
        attributes:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttribute'
          type: array
        name:
          description: ''
          type: string
        value:
          description: ''
          type: string
      title: Attribute
      type: object
    json_MSAttributeDefinition:
      description: MyServices ServiceDefinition object
      properties:
        attributeDefinitions:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttributeDefinition'
          type: array
        description:
          description: ''
          type: string
        id:
          description: ''
          type: string
        inputType:
          $ref: '#/components/schemas/json_MSAttributeDefinitionInputType'
          description: ''
        maxLength:
          description: ''
          type: number
        maxValue:
          description: ''
          type: number
        minLength:
          description: ''
          type: number
        minValue:
          description: ''
          type: number
        name:
          description: ''
          type: string
        operationItemDefinitionId:
          description: ''
          type: string
        required:
          description: ''
          type: boolean
        supportedResourceValues:
          description: ''
          type: string
        supportedValues:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttributeSupportedValue'
          type: array
        transformationAttributeName:
          description: ''
          type: string
        transformationClass:
          description: ''
          type: string
        transformationClassExecutionMode:
          $ref: '#/components/schemas/json_MSAttributeDefinitionTransformationClassExecutionMode'
          description: ''
        transformationClassParameters:
          description: ''
          items:
            type: string
          type: array
        validationClass:
          description: ''
          type: string
        validationClassParameters:
          description: ''
          items:
            type: string
          type: array
        validationRuleRegExp:
          description: ''
          type: string
        value:
          description: ''
          type: string
        valueFromAttribute:
          description: ''
          type: string
      title: AttributeDefinition
      type: object
    json_MSProductPrice:
      description: ''
      properties:
        currencyCode:
          description: ''
          type: string
        model:
          $ref: '#/components/schemas/json_ProductPriceModel'
          description: ''
        rangeMax:
          description: ''
          type: number
        rangeMin:
          description: ''
          type: number
        rangeUnit:
          description: ''
          type: string
        value:
          description: The maximum precision is 10 digits after the decimal point, extra digits will be discarded.
          type: number
      title: ProductPrice
      type: object
    json_MSOperationItemDefinition:
      description: OperationItemDefinition object
      properties:
        attributeDefinitions:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttributeDefinition'
          type: array
        canonicalLink:
          description: ''
          type: string
        id:
          description: ''
          type: string
        name:
          description: ''
          type: string
        operationType:
          $ref: '#/components/schemas/json_MSOperationType'
          description: ''
        product:
          $ref: '#/components/schemas/json_MSProduct'
          description: ''
        resourceType:
          $ref: '#/components/schemas/json_MSOperationResourceType'
          description: ''
        serviceDefinition:
          $ref: '#/components/schemas/json_MSServiceDefinition'
          description: ''
      title: OperationItemDefinition
      type: object
    json_MSOperation:
      description: Represents an operation
      properties:
        canonicalLink:
          description: ''
          type: string
        createdOn:
          description: ''
          type: number
        id:
          description: ''
          type: string
        modifiedOn:
          description: ''
          type: number
        name:
          description: ''
          type: string
        operationItems:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSOperationItem'
          type: array
        result:
          description: ''
          type: string
      title: Operation
      type: object
    json_MSActionLog:
      description: MyServices ServiceDefinition object
      properties:
        action:
          description: ''
          type: string
        attributes:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttribute'
          type: array
        createdOn:
          description: ''
          type: number
        id:
          description: ''
          type: string
        message:
          description: ''
          type: string
        operationId:
          description: ''
          type: string
        operationItemId:
          description: ''
          type: string
        status:
          $ref: '#/components/schemas/json_OperationItemResultStatus'
          description: ''
      title: ActionLog
      type: object
    json_OperationItemResultStatus:
      description: ''
      enum:
      - READY
      - ASYNC_WAIT
      - PROCESSING
      - PROCESSED
      - FAILED
      - WAITING
      title: OperationItemResultStatus
      type: string
    json_MSProduct:
      description: ''
      properties:
        allowedPromotions:
          description: Array of Product that includes associated allowed promotions
          items:
            $ref: '#/components/schemas/json_MSProduct'
          type: array
        canonicalLink:
          description: ''
          type: string
        currencyCode:
          description: Three letters currency code in ISO 4217 standard
          type: string
        currencyCodeLocalizations:
          description: Array of Product containing subset of attributes that are localized by currencyCode
          items:
            $ref: '#/components/schemas/json_MSProduct'
          type: array
        displayName:
          description: ''
          type: string
        eligibleSelections:
          description: 'List of selection criteria that specifies a product eligibility (e.g., EDITION: Standard)'
          items:
            $ref: '#/components/schemas/json_MSProductSelection'
          type: array
        id:
          description: Product unique identifier
          type: string
        language:
          description: ''
          type: string
        languageLocalizations:
          description: Array of Product containing subset of attributes that are localized by language
          items:
            $ref: '#/components/schemas/json_MSProduct'
          type: array
        metricDisplayName:
          description: ''
          type: string
        parentProducts:
          description: Array of Product that includes this product (i.e., top-level SKUs)
          items:
            $ref: '#/components/schemas/json_MSProduct'
          type: array
        partInventoryItemId:
          description: Part inventory item id
          type: string
        partNumber:
          description: Product part number
          type: string
        prices:
          description: Product price list for a specific currency code
          items:
            $ref: '#/components/schemas/json_MSProductPrice'
          type: array
        serviceCategoryDisplayName:
          description: ''
          type: string
        serviceDefinition:
          $ref: '#/components/schemas/json_MSServiceDefinition'
          description: ''
        shortDisplayName:
          description: ''
          type: string
      title: Product
      type: object
    json_MSOperationItemResult:
      description: MyServices ServiceDefinition object
      properties:
        actionRetryCount:
          description: ''
          type: number
        actionScheduledOn:
          description: ''
          type: number
        attributes:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttribute'
          type: array
        currentAction:
          description: ''
          type: string
        status:
          $ref: '#/components/schemas/json_OperationItemResultStatus'
          description: ''
      title: OperationItemResult
      type: object
    json_MSAttributeDefinitionInputType:
      description: ''
      enum:
      - READ_ONLY
      - HIDDEN
      - DEFINITION
      - PROMOTION
      - INTERNAL
      - TEXT
      - TEXTAREA
      - CHECKBOX
      - SELECT_ONE_RESOURCE
      - SELECT_ONE_VALUE
      title: AttributeDefinitionInputType
      type: string
    json_MSError:
      description: ''
      properties:
        additionalInfoLink:
          description: ''
          type: string
        errorCode:
          description: ''
          type: string
        errorMessage:
          description: ''
          type: string
        httpMessage:
          description: ''
          type: string
        httpStatusCode:
          description: ''
          type: number
        relatedLink:
          description: ''
          type: string
      title: Error
      type: object
    json_MSProductSelection:
      description: ''
      properties:
        localizationId:
          description: ''
          type: string
        name:
          description: ''
          type: string
        value:
          description: ''
          type: string
      title: ProductSelection
      type: object
    json_ProductPriceModel:
      description: ''
      enum:
      - PAY_AS_YOU_GO
      - MONTHLY_COMMIT
      title: ProductPriceModel
      type: string
    json_MSAttributeSupportedValue:
      description: MyServices ServiceDefinition object
      properties:
        attributeDefinitionId:
          description: ''
          type: string
        displayValue:
          description: ''
          type: string
        value:
          description: ''
          type: string
      title: AttributeSupportedValue
      type: object
    json_MSOperationType:
      description: ''
      enum:
      - CREATE
      - UPDATE
      - DELETE
      title: MSOperationType
      type: string
    json_MSOperationItem:
      description: MyServices ServiceDefinition object
      properties:
        actionLogs:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSActionLog'
          type: array
        attributes:
          description: ''
          items:
            $ref: '#/components/schemas/json_MSAttribute'
          type: array
        createdOn:
          description: ''
          type: number
        id:
          description: ''
          type: string
        modifiedOn:
          description: ''
          type: number
        operationId:
          description: ''
          type: string
        operationItemDefinition:
          $ref: '#/components/schemas/json_MSOperationItemDefinition'
          description: ''
        result:
          $ref: '#/components/schemas/json_MSOperationItemResult'
          description: ''
      title: OperationItem
      type: object
