openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Service Definition Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Service Definition Resource.
  name: ServiceDefinitionResource
paths:
  /{domain}/myservices/api/v1/serviceDefinitions/{id}:
    get:
      description: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements and

        Service Instances.'
      operationId: resource_MSServiceDefinitionResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: ServiceDefinition unique identifier
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSServiceDefinition'
                description: ''
        default:
          description: Unexpected error.
      summary: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements and

        Service Instances.'
      tags:
      - ServiceDefinitionResource
components:
  schemas:
    json_MSServiceDefinition:
      description: MyServices ServiceDefinition
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        id:
          description: Unique Id of the Service Definition
          type: string
        name:
          description: Name of the Service Definition. As an example, "DBAAS" would represent the service "DataBase As A Service"
          type: string
      title: ServiceDefinition
      type: object
