openapi: 3.2.0
info:
  description: Use the Marketplace API to manage applications in Oracle Cloud Infrastructure Marketplace. For more information, see [Overview of Marketplace](/Content/Marketplace/Concepts/marketoverview.htm)
  title: Marketplace Service Account API
  version: '20181001'
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Marketplace Service API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    what: the harvested document for Marketplace Service API
servers:
- url: http://marketplace.us-ashburn-1.oci.oraclecloud.com/20181001
- url: https://marketplace.us-ashburn-1.oci.oraclecloud.com/20181001
tags:
- name: Account
paths:
  /launchEligibility:
    get:
      description: Returns Tenant eligibility and other information for launching a PIC image
      operationId: GetLaunchEligibility
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      - $ref: '#/components/parameters/ImageIdQueryParam'
      responses:
        '200':
          description: The operation was successful.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchEligibility'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Get Tenant eligibility and other information for launching a PIC image
      tags:
      - Account
  /thirdPartyPaidListingEligibility:
    get:
      description: Returns eligibility details of the tenancy to see and launch third party paid listings
      operationId: GetThirdPartyPaidListingEligibility
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      responses:
        '200':
          description: The operation was successful.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThirdPartyPaidListingEligibility'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Get eligibilty of the tenancy to see third party paid listings
      tags:
      - Account
      x-obmcs-authz-declarations:
        authorizationRequired: false
components:
  parameters:
    ImageIdQueryParam:
      description: Image ID
      in: query
      name: imageId
      required: true
      schema:
        type: string
    CompartmentIdQueryParam:
      description: The unique identifier for the compartment.
      in: query
      name: compartmentId
      required: true
      schema:
        type: string
    OpcRequestIdHeaderParam:
      description: 'Unique Oracle-assigned identifier for the request. If you need to contact Oracle about a particular request,

        please provide the request ID.

        '
      in: header
      name: opc-request-id
      required: false
      schema:
        type: string
  responses:
    '401':
      description: Not Authenticated
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    '404':
      description: Not Found
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    '500':
      description: Internal Server Error
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    '400':
      description: Bad Request
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    DefaultError:
      description: An error has occurred.
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    '429':
      description: Too Many Requests
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
    '409':
      description: Conflict
      headers:
        opc-request-id:
          description: 'Unique Oracle-assigned identifier for the request. If you need to contact

            Oracle about a particular request, please provide the request ID.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEntity'
  schemas:
    LaunchEligibility:
      description: Tenant eligibility and other information for launching a PIC image
      properties:
        imageId:
          description: PIC Image ID
          type: string
        ineligibilityReason:
          description: Reason the account is ineligible to launch paid listings
          enum:
          - INELIGIBLE_ACCOUNT_COUNTRY
          - INELIGIBLE_REGION
          - INELIGIBLE_ACCOUNT_BLACKLISTED
          - INELIGIBLE_ACCOUNT_FEATURE_DISABLED
          - INELIGIBLE_ACCOUNT_CURRENCY
          - INELIGIBLE_ACCOUNT_NOT_PAID
          - INELIGIBLE_ACCOUNT_INTERNAL
          - INELIGIBLE_ACCOUNT_GOV_SUBSCRIPTION
          - INELIGIBLE_PAID_LISTING_THROTTLED
          - INELIGIBLE_ACCOUNT_NOT_AVAILABLE
          - INELIGIBLE_ACCOUNT_NOT_MONTHLY_INCLUSIVE
          - IMAGE_META_DATA_SO
          - INELIGIBLE_ACCOUNT_TENANCY_NOT_ALLOWED_ACCESS_IMAGE
          - INELIGIBLE_ACCOUNT_GOV_LAUNCH_NON_GOV_LISTING
          - AGREEMENT_NOT_ACCEPTED
          - NOT_AUTHORIZED
          - ELIGIBLE
          type: string
          x-obmcs-top-level-enum: '#/definitions/IneligibilityReasonEnum'
        isLaunchAllowed:
          description: Is the tenant permitted to launch the PIC image
          type: boolean
        meters:
          description: related meters for the PIC image
          type: string
      required:
      - imageId
      - isLaunchAllowed
      type: object
      x-example: "[\n  {\n    \"imageId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaavvijdvafj64pj5y45k7qgda2um7qdsunr6snzl2456s5isvyuaoq\",\n    \"isLaunchAllowed\" : true,\n    \"meters\" : \"{\\\"default\\\" : {\\\"pausedOnInstanceStop\\\" : true,\\\"extendedMeters\\\" : [{\\\"name\\\" : \\\"MP_BOBO_AP\\\",\\\"minimumBillingPeriodInHours\\\" : 0}]}}\"\n  }\n  {\n    \"imageId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaavvijdvafj64pj5y45k7qgda2um7qdsunr6snzl2456s5isvyuaoq\",\n    \"isLaunchAllowed\" : false,\n    \"meters\" : \"{\\\"default\\\" : {\\\"pausedOnInstanceStop\\\" : true,\\\"extendedMeters\\\" : [{\\\"name\\\" : \\\"MP_BOBO_AP\\\",\\\"minimumBillingPeriodInHours\\\" : 0}]}}\"\n    \"ineligibilityReason\" : \"INELIGILE_PAID_LISTING_THROTTLED\"\n  }\n]\n"
    ThirdPartyPaidListingEligibility:
      description: Tenant eligibility for using third party paid listings
      properties:
        eligibilityReason:
          description: Reason the account is ineligible to launch paid listings
          enum:
          - ELIGIBLE
          - INELIGIBLE_ACCOUNT_COUNTRY
          - INELIGIBLE_REGION
          - INELIGIBLE_ACCOUNT_BLACKLISTED
          - INELIGIBLE_ACCOUNT_FEATURE_DISABLED
          - INELIGIBLE_ACCOUNT_CURRENCY
          - INELIGIBLE_ACCOUNT_NOT_PAID
          - INELIGIBLE_ACCOUNT_INTERNAL
          - INELIGIBLE_ACCOUNT_GOV_SUBSCRIPTION
          - NOT_AUTHORIZED
          type: string
        isPaidListingEligible:
          description: Whether the tenant is permitted to use paid listings
          type: boolean
        isPaidListingThrottled:
          description: Whether the tenant is currently prevented from using paid listings because of throttling
          type: boolean
      required:
      - isPaidListingEligible
      - isPaidListingThrottled
      - eligibilityReason
      type: object
      x-example: "{\n  \"isPaidListingEligible\" : true,\n  \"isPaidListingThrottled\" : false,\n  \"eligibilityReason\" : \"ELIGIBLE\"\n}\n"
    ErrorEntity:
      description: The model for the error entity.
      properties:
        code:
          description: A short error code that defines the error.
          maxLength: 200
          minLength: 0
          type: string
        message:
          description: A human-readable error string.
          maxLength: 1000
          minLength: 0
          type: string
      required:
      - code
      - message
      type: object
x-anchors:
  x-headers:
    etag:
      description: 'For optimistic concurrency control. See `if-match`.

        '
      type: string
    opc-next-page:
      description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

        then a partial list might have been returned. Include this value as the `page` parameter for the

        subsequent GET request to get the next batch of items.

        '
      type: string
    opc-request-id:
      description: 'Unique Oracle-assigned identifier for the request. If you need to contact

        Oracle about a particular request, please provide the request ID.

        '
      type: string
    opc-work-request-id:
      description: 'The OCID of the asynchronous work request.

        Use GetWorkRequest with this OCID to track the status of the asynchronous request.

        '
      type: string
  x-properties:
    definedTags:
      additionalProperties:
        additionalProperties:
          type: object
        type: object
      description: 'The defined tags associated with this resource, if any. Each key is predefined and scoped to namespaces.

        For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

        Example: `{"Operations": {"CostCenter": "42"}}`

        '
      type: object
    freeformTags:
      additionalProperties:
        type: string
      description: 'The freeform tags associated with this resource, if any. Each tag is a simple key-value pair with no

        predefined name, type, or namespace. For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

        Example: `{"Department": "Finance"}`

        '
      type: object
    systemTags:
      additionalProperties:
        additionalProperties:
          type: object
        type: object
      description: 'The system tags associated with this resource, if any. The system tags are set by Oracle Cloud Infrastructure services. Each key is predefined and scoped to namespaces.

        For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

        Example: `{orcl-cloud: {free-tier-retain: true}}`

        '
      type: object
x-obmcs-client-retries-enabled: true
