openapi: 3.2.0
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to access the Oracle Cloud</p>
  title: Oracle Cloud My Services Service Definitions Resource API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
servers:
- url: https://itra.oraclecloud.com/itas
tags:
- description: Represents a serviceDefinition resource collection.
  name: ServiceDefinitionsResource
paths:
  /{domain}/myservices/api/v1/serviceDefinitions:
    get:
      description: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements and

        Service Instances, default ordering is "name:asc"'
      operationId: resource_MSServiceDefinitionsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        schema:
          type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        schema:
          type: string
      - description: Service Definition name
        in: query
        name: name
        schema:
          type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering of the resources, this resource can be ordered by name
        in: query
        name: orderBy
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_MSServiceDefinitions'
                description: ''
        default:
          description: Unexpected error.
      summary: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements and

        Service Instances, default ordering is "name:asc".'
      tags:
      - ServiceDefinitionsResource
components:
  schemas:
    json_MSServiceDefinitions:
      description: ''
      properties:
        canonicalLink:
          description: link to access this ServiceDefinition list
          type: string
        hasMore:
          description: Set to true if subsequent GETs need to be done to list all ServiceDefinitions
          type: boolean
        items:
          description: List of ServiceDefinitions.
          items:
            $ref: '#/components/schemas/json_MSServiceDefinition'
          type: array
        limit:
          description: Maximum number of ServiceDefinition returned
          type: number
        nextLink:
          description: Link to next ServiceDefinition page
          type: string
        offset:
          description: Starting offset of ServiceDefinitions returned
          type: number
        previousLink:
          description: Link to previous ServiceDefinition page
          type: string
      title: ServiceDefinitions
      type: object
    json_MSServiceDefinition:
      description: MyServices ServiceDefinition
      properties:
        canonicalLink:
          description: Canonical Link of the Service Entitlement Resource
          type: string
        id:
          description: Unique Id of the Service Definition
          type: string
        name:
          description: Name of the Service Definition. As an example, "DBAAS" would represent the service "DataBase As A Service"
          type: string
      title: ServiceDefinition
      type: object
