openapi: 3.2.0
info:
  description: Use the Marketplace API to manage applications in Oracle Cloud Infrastructure Marketplace. For more information, see [Overview of Marketplace](/Content/Marketplace/Concepts/marketoverview.htm)
  title: Service Marketplace API
  version: '20181001'
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Marketplace Service API OCI service and stored verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    what: the harvested document for Marketplace Service API
servers:
- url: http://marketplace.us-ashburn-1.oci.oraclecloud.com/20181001
- url: https://marketplace.us-ashburn-1.oci.oraclecloud.com/20181001
tags:
- name: Marketplace
paths:
  /acceptedAgreements:
    get:
      description: 'Lists the terms of use agreements that have been accepted in the specified compartment.

        You can filter results by specifying query parameters.

        '
      operationId: ListAcceptedAgreements
      parameters:
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      - $ref: '#/components/parameters/DisplayNameQueryParam'
      - $ref: '#/components/parameters/ListingIdQueryParam'
      - $ref: '#/components/parameters/PackageVersionQueryParam'
      - $ref: '#/components/parameters/AcceptedAgreementIdQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/AcceptedAgreementsSortByQueryParam'
      - $ref: '#/components/parameters/AcceptedAgreementsSortOrderQueryParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AcceptedAgreementSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets the list of accepted terms of use agreements in the specified compartment.
      tags:
      - Marketplace
      x-example: 'GET /20181001/acceptedAgreements?compartmentId=<var>&lt;compartmentId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
    post:
      description: 'Accepts a terms of use agreement for a specific package version of a listing. You must accept all

        terms of use for a package before you can deploy the package.

        '
      operationId: CreateAcceptedAgreement
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      responses:
        '200':
          description: The agreement is marked as accepted.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedAgreement'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Accepts a terms of use agreement for a listing.
      tags:
      - Marketplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAcceptedAgreementDetails'
        description: Details necessary to accept an agreement.
        required: true
  /acceptedAgreements/{acceptedAgreementId}:
    delete:
      description: 'Removes a previously accepted terms of use agreement from the list of agreements that Marketplace checks

        before initiating a deployment. Listings in Marketplace that require acceptance of the specified terms

        of use can no longer be deployed, but existing deployments aren''t affected.

        '
      operationId: DeleteAcceptedAgreement
      parameters:
      - $ref: '#/components/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/components/parameters/SignatureQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/IfMatchHeaderParam'
      responses:
        '204':
          description: The specified terms of use agreement will be removed from the list of accepted terms of use.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Removes an accepted terms of use agreement.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/AcceptedAgreement'
    get:
      description: 'Gets the details of a specific, previously accepted terms of use agreement.

        '
      operationId: GetAcceptedAgreement
      parameters:
      - $ref: '#/components/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedAgreement'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets the details of a terms of use agreement.
      tags:
      - Marketplace
    put:
      description: 'Updates the display name or tags associated with a listing''s previously accepted terms of use agreement.

        '
      operationId: UpdateAcceptedAgreement
      parameters:
      - $ref: '#/components/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/components/parameters/IfMatchHeaderParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedAgreement'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Updates an accepted terms of use agreement.
      tags:
      - Marketplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAcceptedAgreementDetails'
        description: Details to update for an accepted agreement.
        required: true
  /categories:
    get:
      description: 'Gets the list of all the categories for listings published to Oracle Cloud Infrastructure Marketplace. Categories apply

        to the software product provided by the listing.

        '
      operationId: ListCategories
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategorySummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets a list of listing categories.
      tags:
      - Marketplace
      x-example: 'GET /20181001/categories

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/CategorySummary'
  /listings:
    get:
      description: 'Gets a list of listings from Oracle Cloud Infrastructure Marketplace by searching keywords and

        filtering according to listing attributes.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing. When

        you launch the instance, you also need to provide the image ID of the listing resource version that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements) API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements) object, including

        its signature, is returned in the response. With the signature for the terms of use agreement for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription) API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion) API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance) API call.

        '
      operationId: ListListings
      parameters:
      - $ref: '#/components/parameters/ListingNameQueryParam'
      - $ref: '#/components/parameters/ListingIdQueryParam'
      - $ref: '#/components/parameters/ImageIdOptionalQueryParam'
      - $ref: '#/components/parameters/PublisherIdQueryParam'
      - $ref: '#/components/parameters/PackageTypeQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/ListingsSortByQueryParam'
      - $ref: '#/components/parameters/SortOrderQueryParam'
      - $ref: '#/components/parameters/CategoryQueryParam'
      - $ref: '#/components/parameters/PricingQueryParam'
      - $ref: '#/components/parameters/FeaturedQueryParam'
      - $ref: '#/components/parameters/ListingTypeOptionalQueryParam'
      - $ref: '#/components/parameters/OperatingSystemQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListingSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets a list of listings.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}:
    get:
      description: 'Gets detailed information about a listing, including the listing''s name, version, description, and

        resources.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing. When

        you launch the instance, you also need to provide the image ID of the listing resource version that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements) API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements) object, including

        its signature, is returned in the response. With the signature for the terms of use agreement for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription) API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion) API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance) API call.

        '
      operationId: GetListing
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets the details of a listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/packages:
    get:
      description: 'Gets the list of packages for a listing.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing. When

        you launch the instance, you also need to provide the image ID of the listing resource version that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements) API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements) object, including

        its signature, is returned in the response. With the signature for the terms of use agreement for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription) API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion) API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance) API call.

        '
      operationId: ListPackages
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/PackageVersionQueryParam'
      - $ref: '#/components/parameters/PackageTypeQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/ListingsSortByQueryParam'
      - $ref: '#/components/parameters/SortOrderQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListingPackageSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets the list of packages for a listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/ListingPackageSummary'
  /listings/{listingId}/packages/{packageVersion}:
    get:
      description: 'Get the details of the specified version of a package, including information needed to launch the package.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing. When

        you launch the instance, you also need to provide the image ID of the listing resource version that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements) API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements) object, including

        its signature, is returned in the response. With the signature for the terms of use agreement for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription) API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion) API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance) API call.

        '
      operationId: GetPackage
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/PackageVersionPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingPackage'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Get the details of a specific package version.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/ListingPackage'
  /listings/{listingId}/packages/{packageVersion}/agreements:
    get:
      description: 'Returns the terms of use agreements that must be accepted before you can deploy the specified version of a package.

        '
      operationId: ListAgreements
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/PackageVersionPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgreementSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Lists terms of use agreements for a package.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>/agreements

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/packages/{packageVersion}/agreements/{agreementId}:
    get:
      description: 'Returns a terms of use agreement for a package with a time-based signature that can be used to

        accept the agreement.

        '
      operationId: GetAgreement
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/PackageVersionPathParam'
      - $ref: '#/components/parameters/AgreementIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets a terms of use agreement for a package.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>/agreements/<var>&lt;agreementId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/taxes:
    get:
      description: Returns list of all tax implications that current tenant may be liable to once they launch the listing.
      operationId: ListTaxes
      parameters:
      - $ref: '#/components/parameters/ListingIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TaxSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets tax implication that current tenant may be eligible while using specific listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/taxes

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/TaxSummary'
  /marketplaceExternalAttestedMetadata:
    post:
      description: Generates attested marketplace metadata
      operationId: CreateMarketplaceExternalAttestedMetadata
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      responses:
        '200':
          description: Returns attested marketplace metadata for a given instance in JWT format - used by third party publishers for verifying VM identity
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceExternalAttestedMetadata'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Generates attested marketplace metadata for given a given instance
      tags:
      - Marketplace
      x-related-resource: '#/definitions/CreateMarketplaceExternalAttestedMetadataDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMarketplaceExternalAttestedMetadataDetails'
        description: Payload that customer will use to generate JWT for launched instance associated with Marketplace listing
        required: true
  /marketplaceMetadataPublicKeys:
    get:
      description: Get public certificates used in JWT signing, in JSON Web Key Sets format
      operationId: ListMarketplaceMetadataPublicKeys
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/SortOrderQueryParam'
      - $ref: '#/components/parameters/ListMarketplaceMetadataPublicKeySummarySortByQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: Returns list of public certificates used in signing JWT for MarketplaceMetadata object
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MarketplaceMetadataPublicKeySummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Get public certificates used in JWT signing, in JSON Web Key Sets format
      tags:
      - Marketplace
      x-related-resource: '#/definitions/MarketplaceMetadataPublicKeySummary'
  /publications:
    get:
      description: Lists the publications in the specified compartment.
      operationId: ListPublications
      parameters:
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      - $ref: '#/components/parameters/PublicationNameQueryParam'
      - $ref: '#/components/parameters/ListingTypeQueryParam'
      - $ref: '#/components/parameters/PublicationIdQueryParam'
      - $ref: '#/components/parameters/OperatingSystemQueryParam'
      - $ref: '#/components/parameters/ListingsSortByQueryParam'
      - $ref: '#/components/parameters/SortOrderQueryParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: A list of all publications in the compartment.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublicationSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Lists all publications.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publications

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/PublicationSummary'
    post:
      description: Creates a publication of the specified listing type with an optional default package.
      operationId: CreatePublication
      parameters:
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The operation to create a publication succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Creates a publication.
      tags:
      - Marketplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicationDetails'
        description: The details for creating the publication.
        required: true
  /publications/{publicationId}:
    delete:
      description: Deletes a publication, which also removes the associated listing from anywhere it was published, such as Marketplace or Compute.
      operationId: DeletePublication
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/IfMatchHeaderParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '204':
          description: The operation to delete the publication succeeded.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Deletes a publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/Publication'
    get:
      description: Gets the details of the specified publication.
      operationId: GetPublication
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The details of the requested publication.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Gets a publication.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publications/<var>&lt;listingId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
    put:
      description: Updates the details of an existing publication.
      operationId: UpdatePublication
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/components/parameters/IfMatchHeaderParam'
      responses:
        '200':
          description: The operation to update the publication succeeded.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Updates an existing publication.
      tags:
      - Marketplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicationDetails'
        description: The details for updating the publication.
        required: true
  /publications/{publicationId}/actions/changeCompartment:
    post:
      description: Moves the specified publication from one compartment to another.
      operationId: ChangePublicationCompartment
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/IfMatchHeaderParam'
      responses:
        '204':
          description: The operation to change the compartment of the publication succeeded.
          headers:
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Changes the compartment of the publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/Publication'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePublicationCompartmentDetails'
        description: The details of the request to change the compartment of a given publication.
        required: true
  /publications/{publicationId}/packages:
    get:
      description: Lists the packages in the specified publication.
      operationId: ListPublicationPackages
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/PackageVersionQueryParam'
      - $ref: '#/components/parameters/PackageTypeQueryParam'
      - $ref: '#/components/parameters/ListingsSortByQueryParam'
      - $ref: '#/components/parameters/SortOrderQueryParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The packages associated with the specified publication.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublicationPackageSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Lists the packages in a publication.
      tags:
      - Marketplace
  /publications/{publicationId}/packages/{packageVersion}:
    get:
      description: Gets the details of a specific package version within a given publication.
      operationId: GetPublicationPackage
      parameters:
      - $ref: '#/components/parameters/PublicationIdPathParam'
      - $ref: '#/components/parameters/PackageVersionPathParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The requested publication package version.
          headers:
            etag:
              description: 'For optimistic concurrency control. See `if-match`.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationPackage'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Gets a package version of a specified publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/PublicationPackage'
  /publishers:
    get:
      description: 'Gets the list of all the publishers of listings available in Oracle Cloud Infrastructure Marketplace.

        '
      operationId: ListPublishers
      parameters:
      - $ref: '#/components/parameters/PublisherIdQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/CompartmentIdOptionalQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublisherSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Gets a list of publishers.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publishers

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /reportTypes:
    get:
      description: Lists available types of reports for the compartment.
      operationId: ListReportTypes
      parameters:
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportTypeCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Lists available reports.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/ReportTypeCollection'
  /reports:
    get:
      description: Lists reports in the compartment that match the specified report type and date.
      operationId: ListReports
      parameters:
      - $ref: '#/components/parameters/ReportTypeQueryParam'
      - $ref: '#/components/parameters/ReportDateQueryParam'
      - $ref: '#/components/parameters/CompartmentIdQueryParam'
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      summary: Lists reports.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/ReportCollection'
  /searchListings:
    post:
      description: "Queries all Marketplace Applications to find listings that match the specified criteria. To search \nfor a listing, you can use a free text or structured search.\n"
      operationId: SearchListings
      parameters:
      - $ref: '#/components/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/components/parameters/PaginationTokenQueryParam'
      - $ref: '#/components/parameters/PaginationLimitQueryParam'
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page:
              description: 'For pagination of a list of items. When paging through a list, if this header appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter for the

                subsequent GET request to get the next batch of items.

                '
              schema:
                type: string
            opc-request-id:
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              schema:
                type: string
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListingSummary'
                type: array
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/DefaultError'
      summary: Finds Marketplace listings
      tags:
      - Marketplace
      x-example: "POST /20181001/searchListings\nHost: marketplace.us-ashburn-1.oci.oraclecloud.com\n<var>&lt;authorization and other headers&gt;</var>\n{\n  \"type\": \"FreeText\",\n  \"text\": \"Fortinet\"\n}\n"
      x-related-resource: '#/definitions/ListingSummary'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchListingsDetails'
        description: Details related to the search query
        required: true
components:
  schemas:
    ListingPackageSummary:
      description: The model for a summary of a package.
      properties:
        listingId:
          description: The ID of the listing that the specified package belongs to.
          type: string
        packageType:
          description: The specified package's type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        packageVersion:
          description: The version of the specified package.
          type: string
        pricing:
          $ref: '#/components/schemas/PricingModel'
        regions:
          description: 'The regions where you can deploy the listing package. (Some packages have restrictions that limit their deployment to United States regions only.)

            '
          items:
            $ref: '#/components/schemas/Region'
          type: array
        resourceId:
          description: The unique identifier for the package resource.
          type: string
        timeCreated:
          description: 'The date and time this listing package was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

            timestamp format.


            Example: `2016-08-25T21:10:29.600Z`

            '
          format: date-time
          type: string
      type: object
      x-example: "[\n  {\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n    \"packageType\" : \"ORCHESTRATION\",\n    \"pricing\": {\n      \"type\": \"FREE\",\n      \"payGoStrategy\": \"PER_OCPU_LINEAR\",\n      \"currency\": \"USD\",\n      \"rate\": 1.3,\n      \"internationalMarketPrice\": {\n        \"currencyCode\": \"GBP\",\n        \"currencySymbol\": \"£\",\n        \"rate\": 1.3\n      }\n    },\n    \"regions\" : [ {\n      \"name\" : \"us-phoenix-1\",\n      \"code\" : \"PHX\",\n      \"countries\" : []\n    },\n    {\n      \"name\" : \"us-ashburn-1\",\n      \"code\" : \"IAD\",\n      \"countries\" : []\n    }],\n    \"resourceId\" : \"56461050\",\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  },\n  {\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 10.3.6.0.19041601(11.1.1.7)\",\n    \"packageType\" : \"ORCHESTRATION\",\n    \"pricing\": {\n      \"type\": \"FREE\",\n      \"payGoStrategy\": \"PER_OCPU_LINEAR\",\n      \"currency\": \"USD\",\n      \"rate\": 0\n    },\n    \"regions\" : [ {\n      \"name\" : \"us-phoenix-1\",\n      \"code\" : \"PHX\",\n      \"countries\" : []\n    },\n    {\n      \"name\" : \"us-ashburn-1\",\n      \"code\" : \"IAD\",\n      \"countries\" : []\n    }],\n    \"resourceId\" : \"56461059\",\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  }\n]\n"
    Eula:
      description: A base object for all types of end user license agreements.
      discriminator:
        propertyName: eulaType
      properties:
        eulaType:
          description: The end user license agreement's type.
          enum:
          - TEXT
          type: string
          x-obmcs-top-level-enum: '#/definitions/EulaTypeEnum'
      required:
      - eulaType
    CreateMarketplaceExternalAttestedMetadataDetails:
      description: Payload that customer will use to generate JWT for launched instance associated with Marketplace listing
      properties:
        compartmentId:
          description: compartment that associated instance is in
          type: string
        instanceId:
          description: unique id that identifies the associated instance
          type: string
      required:
      - instanceId
      - compartmentId
      type: object
    UpdateAcceptedAgreementDetails:
      description: The model for the parameters needed to update an accepted terms of use agreement.
      properties:
        definedTags:
          additionalProperties:
            additionalProperties:
              type: object
            type: object
          description: 'The defined tags associated with this resource, if any. Each key is predefined and scoped to namespaces.

            For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Operations": {"CostCenter": "42"}}`

            '
          type: object
        displayName:
          description: A display name for the accepted agreement.
          maxLength: 255
          minLength: 1
          type: string
        freeformTags:
          additionalProperties:
            type: string
          description: 'The freeform tags associated with this resource, if any. Each tag is a simple key-value pair with no

            predefined name, type, or namespace. For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Department": "Finance"}`

            '
          type: object
      type: object
      x-example: "{\n  \"displayName\" : \"acceptedAgreementv2-18088783ocid1.user.oc1..exampleaa6zaill22qzvjl3hq2cvbghwjmbobhavawi7fauxe73fy52ue3aq\",\n  \"definedTags\" : { },\n  \"freeformTags\" : { }\n}\n"
    Region:
      description: The model for regions supported by a listing and package.
      properties:
        code:
          description: The code of the region.
          maxLength: 200
          minLength: 0
          type: string
        countries:
          description: Countries in the region.
          items:
            $ref: '#/components/schemas/Item'
          type: array
        name:
          description: The name of the region.
          maxLength: 200
          minLength: 0
          type: string
      type: object
      x-example: "{\n  \"name\" : \"uk-london-1\",\n  \"code\" : \"LHR\",\n  \"countries\" : [ ]\n}\n"
    Item:
      description: The model for an item within an array of filter values.
      properties:
        code:
          description: A code assigned to the item.
          maxLength: 200
          minLength: 0
          type: string
        name:
          description: The name of the item.
          maxLength: 200
          minLength: 0
          type: string
      type: object
      x-example: "{\n  \"name\" : \"English\",\n  \"code\" : \"en_US\"\n}\n"
    Publication:
      description: The model for an Oracle Cloud Infrastructure Marketplace publication.
      properties:
        compartmentId:
          description: The [OCID](/Content/General/Concepts/identifiers.htm) of the compartment where the publication exists.
          maxLength: 255
          minLength: 0
          type: string
        definedTags:
          additionalProperties:
            additionalProperties:
              type: object
            type: object
          description: 'The defined tags associated with this resource, if any. Each key is predefined and scoped to namespaces.

            For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Operations": {"CostCenter": "42"}}`

            '
          type: object
        freeformTags:
          additionalProperties:
            type: string
          description: 'The freeform tags associated with this resource, if any. Each tag is a simple key-value pair with no

            predefined name, type, or namespace. For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Department": "Finance"}`

            '
          type: object
        icon:
          $ref: '#/components/schemas/UploadData'
        id:
          description: The unique identifier for the publication in Marketplace.
          maxLength: 255
          minLength: 0
          type: string
        lifecycleState:
          description: The lifecycle state of the publication.
          enum:
          - CREATING
          - ACTIVE
          - DELETING
          - DELETED
          - FAILED
          type: string
        listingType:
          description: The publisher category to which the publication belongs. The publisher category informs where the listing appears for use.
          enum:
          - COMMUNITY
          - PARTNER
          - PRIVATE
          type: string
          x-obmcs-top-level-enum: '#/definitions/ListingType'
        longDescription:
          description: A long description of the publication to use in the listing.
          maxLength: 4000
          minLength: 0
          type: string
        name:
          description: The name of the publication, which is also used in the listing.
          maxLength: 200
          minLength: 0
          type: string
        packageType:
          description: The listing's package type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        shortDescription:
          description: A short description of the publication to use in the listing.
          maxLength: 320
          minLength: 0
          type: string
        supportContacts:
          description: Contact information for getting support from the publisher for the listing.
          items:
            $ref: '#/components/schemas/SupportContact'
          type: array
        supportedOperatingSystems:
          description: The list of operating systems supprted by the listing.
          items:
            $ref: '#/components/schemas/OperatingSystem'
          type: array
        systemTags:
          additionalProperties:
            additionalProperties:
              type: object
            type: object
          description: 'The system tags associated with this resource, if any. The system tags are set by Oracle Cloud Infrastructure services. Each key is predefined and scoped to namespaces.

            For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{orcl-cloud: {free-tier-retain: true}}`

            '
          type: object
        timeCreated:
          description: 'The date and time the publication was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

            timestamp format.


            Example: `2016-08-25T21:10:29.600Z`

            '
          format: date-time
          type: string
      required:
      - id
      - name
      - listingType
      - compartmentId
      type: object
      x-example: "{\n  \"compartmentId\": \"ocid1.compartment.abc\",\n  \"id\": \"ocid1.commuitylisting.oc1.iad.123\",\n  \"name\": \"listing 1\",\n  \"listingType\": \"COMMUNITY\",\n  \"longDescription\": \"long description of my listing\",\n  \"supportedOperatingSystems\": [ {\n            \"name\" : \"Linux\"\n  }],\n  \"packageType\": \"IMAGE\",\n  \"shortDescription\": \"short description of my listing\",\n  \"lifecycleState\": \"ACTIVE\",\n  \"supportContacts\": [{\n    \"name\": \"admin\",\n    \"email\": \"support@company.com\"\n  }],\n  \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n}\n"
    AgreementSummary:
      description: The model for a summary of an end user license agreement.
      properties:
        author:
          description: Who authored the agreement.
          enum:
          - ORACLE
          - PARTNER
          - PII
          type: string
        contentUrl:
          description: The content URL of the agreement.
          maxLength: 1024
          minLength: 0
          type: string
        id:
          description: The unique identifier for the agreement.
          maxLength: 18
          minLength: 0
          type: string
        prompt:
          description: Textual prompt to read and accept the agreement.
          maxLength: 4000
          minLength: 0
          type: string
      type: object
      x-example: "[\n  {\n    \"id\" : \"50511633\",\n    \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=50511634&render=inline\",\n    \"author\" : \"ORACLE\",\n    \"prompt\" : \"I have reviewed and accept the <link>Oracle Terms of Use</link>\"\n  },\n  {\n    \"id\" : \"46207560\",\n    \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=46207561&render=inline\",\n    \"author\" : \"PARTNER\",\n    \"prompt\" : \"I have reviewed and accept the <link>Partner terms and conditions</link>\"\n  },\n  {\n    \"id\" : \"pii\",\n    \"contentUrl\" : \"https://www.oracle.com/legal/privacy/privacy-policy.html\",\n    \"author\" : \"PII\",\n    \"prompt\" : \"This application is provided by an Oracle partner. In exchange for your use of the partner's application, the partner may be provided with your company name, tenant admin name and email address, as well the application(s) used, and usage information such as the number of shapes and instance hours used to run the partner's application. Each party will be responsible for managing their own use of your personal information. We recommend you review the privacy policy of this Oracle partner for more information on the partner's handling of your personal information. Oracle's handling of your personal information will be in accordance with the <link>Oracle General Privacy Policy</link>.\"\n  }\n]\n"
    PublicationSummary:
      description: The model for a summary of an Oracle Cloud Infrastructure publication.
      properties:
        compartmentId:
          description: The [OCID](/Content/General/Concepts/identifiers.htm) of the compartment where the publication exists.
          maxLength: 255
          minLength: 0
          type: string
        definedTags:
          additionalProperties:
            additionalProperties:
              type: object
            type: object
          description: 'The defined tags associated with this resource, if any. Each key is predefined and scoped to namespaces.

            For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Operations": {"CostCenter": "42"}}`

            '
          type: object
        freeformTags:
          additionalProperties:
            type: string
          description: 'The freeform tags associated with this resource, if any. Each tag is a simple key-value pair with no

            predefined name, type, or namespace. For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{"Department": "Finance"}`

            '
          type: object
        icon:
          $ref: '#/components/schemas/UploadData'
        id:
          description: The unique identifier for the publication in Marketplace.
          maxLength: 18
          minLength: 0
          type: string
        lifecycleState:
          description: The lifecycle state of the publication.
          type: string
          x-obmcs-enumref: '#/definitions/Publication/lifecycleState'
        listingType:
          description: The publisher category to which the publication belongs. The publisher category informs where the listing appears for use.
          enum:
          - COMMUNITY
          - PARTNER
          - PRIVATE
          type: string
          x-obmcs-top-level-enum: '#/definitions/ListingType'
        name:
          description: The name of the publication, which is also used in the listing.
          maxLength: 200
          minLength: 0
          type: string
        packageType:
          description: The listing's package type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        shortDescription:
          description: A short description of the publication to use in the listing.
          maxLength: 320
          minLength: 0
          type: string
        supportedOperatingSystems:
          description: The list of operating systems supported by the listing.
          items:
            $ref: '#/components/schemas/OperatingSystem'
          type: array
        systemTags:
          additionalProperties:
            additionalProperties:
              type: object
            type: object
          description: 'The system tags associated with this resource, if any. The system tags are set by Oracle Cloud Infrastructure services. Each key is predefined and scoped to namespaces.

            For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

            Example: `{orcl-cloud: {free-tier-retain: true}}`

            '
          type: object
        timeCreated:
          description: 'The date and time the publication was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

            timestamp format.


            Example: `2016-08-25T21:10:29.600Z`

            '
          format: date-time
          type: string
      required:
      - id
      - name
      - listingType
      - compartmentId
      - lifecycleState
      type: object
      x-example: "[\n  {\n    \"id\": \"ocid1.commuitylisting.oc1.iad.123\",\n    \"name\": \"listing 1\",\n    \"packageType\": \"IMAGE\",\n    \"shortDescription\": \"short decription of my listing 1\",\n    \"supportedOperatingSystems\": [ {\n        \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"lifecycleState\": \"ACTIVE\",\n    \"compartmentId\": \"ocid1.compartment.abc\",\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  },\n  {\n    \"id\": \"ocid1.privatelisting.oc1.phx.456\",\n    \"name\": \"listing 2\",\n    \"packageType\": \"IMAGE\",\n    \"shortDescription\": \"short decription of my listing 2\",\n    \"supportedOperatingSystems\": [ {\n          \"name\" : \"Windows\"\n    }],\n    \"listingType\": \"PRIVATE\",\n    \"lifecycleState\": \"ACTIVE\",\n    \"compartmentId\": \"ocid1.compartment.abc\",\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  }\n]\n"
    Screenshot:
      description: The model for a listing's screenshot.
      properties:
        contentUrl:
          description: The content URL of the screenshot.
          maxLength: 1000
          minLength: 0
          type: string
        description:
          description: A description of the screenshot.
          maxLength: 1000
          minLength: 0
          type: string
        fileExtension:
          description: The file extension of the screenshot.
          maxLength: 200
          minLength: 0
          type: string
        mimeType:
          description: The MIME type of the screenshot.
          maxLength: 200
          minLength: 0
          type: string
        name:
          description: The name of the screenshot.
          maxLength: 200
          minLength: 0
          type: string
      type: object
      x-example: "{\n  \"name\" : \"rmmlite-landing_page\",\n  \"description\" : \"\",\n  \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51607333\",\n  \"mimeType\" : \"application/octet-stream\",\n  \"fileExtension\" : \"png\"\n}\n"
    UploadData:
      description: The model for upload data for images and icons.
      properties:
        contentUrl:
          description: The content URL of the upload data.
          maxLength: 1000
          minLength: 0
          type: string
        fileExtension:
          description: The file extension of the upload data.
          maxLength: 200
          minLength: 0
          type: string
        mimeType:
          description: The MIME type of the upload data.
          maxLength: 200
          minLength: 0
          type: string
        name:
          description: The name used to refer to the upload data.
          maxLength: 200
          minLength: 0
          type: string
      type: object
      x-example: "{\n  \"name\" : \"\",\n  \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603914\",\n  \"mimeType\" : \"image/jpeg\",\n  \"fileExtension\" : \"jpg\"\n}\n"
    ListingSummary:
      description: The model for a summary of an Oracle Cloud Infrastructure Marketplace listing.
      properties:
        categories:
          description: Product categories that the listing belongs to.
          items:
            type: string
          type: array
        compatibleArchitectures:
          description: The list of compatible architectures supported by the listing
          items:
            enum:
            - X86
            - ARM
            type: string
          type: array
        icon:
          $ref: '#/components/schemas/UploadData'
        id:
          description: The unique identifier for the listing in Marketplace.
          maxLength: 18
          minLength: 0
          type: string
        isFeatured:
          description: Indicates whether the listing is featured.
          type: boolean
        isRoverExportable:
          default: false
          description: True if this application is Rover exportable
          type: boolean
        listingType:
          description: The publisher category to which the listing belongs. The publisher category informs where the listing appears for use.
          enum:
          - COMMUNITY
          - PARTNER
          - PRIVATE
          type: string
          x-obmcs-top-level-enum: '#/definitions/ListingType'
        name:
          description: The name of the listing.
          maxLength: 200
          minLength: 0
          type: string
        packageType:
          description: The listing's package type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        pricingTypes:
          description: Summary of the pricing types available across all packages in the listing.
          items:
            $ref: '#/components/schemas/PricingTypeEnum'
          type: array
        publisher:
          $ref: '#/components/schemas/PublisherSummary'
        regions:
          description: 'The regions where you can deploy the listing. (Some listings have restrictions that limit their deployment to United States regions only.)

            '
          items:
            $ref: '#/components/schemas/Region'
          type: array
        shortDescription:
          description: A short description of the listing.
          maxLength: 320
          minLength: 0
          type: string
        supportedOperatingSystems:
          description: The list of operating systems supported by the listing.
          items:
            $ref: '#/components/schemas/OperatingSystem'
          type: array
        tagline:
          description: The tagline of the listing.
          maxLength: 200
          minLength: 0
          type: string
      type: object
      x-example: "[\n  {\n    \"id\" : \"16132843\",\n    \"name\" : \"Jenkins Certified by Bitnami\",\n    \"shortDescription\" : \"Jenkins image is secure, up-to-date and pre-configured to work out of the box.\",\n    \"tagline\" : \"Continuous Integration software from the leading publisher\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=53066708\",\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n      \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n  },\n  {\n    \"id\" : \"29367738\",\n    \"name\" : \"RackWare RMM 6.5 for OCI\",\n    \"shortDescription\" : \"RMM provides complete cloud management. Cloud Migration, Image Mobility, Disaster Recovery, Backup, intelligent provisioning, autoscaling, and cloud governance that harnesses the benefits of cloud technology, while taking advantage of existing IT capabilities and investments.\",\n    \"tagline\" : \"RackWare RMM provides an image mobility and disaster recovery solution\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603914\",\n      \"mimeType\" : \"image/jpeg\",\n      \"fileExtension\" : \"jpg\"\n    },\n    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  ),\n  {\n    \"id\" : \"37604515\",\n    \"name\" : \"Check Point CloudGuard IaaS - Security Gateway\",\n    \"shortDescription\" : \"Check Point CloudGuard IaaS - Next Generation Firewall & Advanced Threat Prevention\",\n    \"tagline\" : \"Advanced Cloud Security\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=39346645\",\n      \"mimeType\" : \"application/octet-stream\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n    \"id\" : \"37989673\",\n    \"name\" : \"Redmine Certified by Bitnami\",\n    \"shortDescription\" : \"Redmine image is secure, up-to-date and pre-configured to work out of the box.\",\n    \"tagline\" : \"Bug Tracking software from the leading publisher\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=52545231\",\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n    \"id\" : \"37990057\",\n    \"name\" : \"GitLab CE Certified by Bitnami\",\n    \"shortDescription\" : \"GitLab CE image is secure, up-to-date and pre-configured to work out of the box.\",\n    \"tagline\" : \"Version Control software from the leading publisher\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=52572182\",\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n    \"id\" : \"38376199\",\n    \"name\" : \"PeopleSoft Cloud Manager Image for OCI\",\n    \"shortDescription\" : \"PeopleSoft Cloud Manager provides easy to use platform administration capabilities, including provisioning automation and monitoring for PeopleSoft application environments.\",\n    \"tagline\" : \"PeopleSoft Cloud Manager Image 08 for OCI with PT 8.56.12\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=54585108\",\n      \"mimeType\" : \"image/jpeg\",\n      \"fileExtension\" : \"jpg\"\n    },\n    \"regions\" : [ {\n      \"name\" : \"us-phoenix-1\",\n      \"code\" : \"PHX\",\n      \"countries\" : []\n    },\n    {\n      \"name\" : \"us-ashburn-1\",\n      \"code\" : \"IAD\",\n      \"countries\" : []\n    }],\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n    \"id\" : \"39647604\",\n    \"name\" : \"Fortinet FortiManager-VM Centralized Security Management for OCI\",\n    \"shortDescription\" : \"FortiManager's Security Operationalized Visibility across your Fortinet Security Fabric enables true security effectiveness and foresight to identify and understand the scope of threats, and facilites actionable response and remediation of risks.\",\n    \"tagline\" : \"Simplify configuration, automate provisioning, and maintain compliance\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=50667746\",\n      \"mimeType\" : \"application/octet-stream\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : [ {\n    \"name\" : \"us-phoenix-1\",\n    \"code\" : \"PHX\",\n    \"countries\" : []\n    },\n    {\n    \"name\" : \"us-ashburn-1\",\n    \"code\" : \"IAD\",\n    \"countries\" : []\n    }],\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n    \"id\" : \"39667790\",\n    \"name\" : \"Fortinet FortiAnalyzer-VM Centralized Logging/Reporting for OCI\",\n    \"shortDescription\" : \"FortiAnalyzer delivers critical insight into threats across the entire attack surface and provides Instant visibility, situation awareness, real-time threat\\nintelligence and actionable analytics.\",\n    \"tagline\" : \"Instant visibility, situation awareness, real-time threat intelligence and actionable analytics\",\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=52528986\",\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\" : [ {\n    \"name\" : \"us-phoenix-1\",\n    \"code\" : \"PHX\",\n    \"countries\" : []\n    },\n    {\n    \"name\" : \"us-ashburn-1\",\n    \"code\" : \"IAD\",\n    \"countries\" : []\n    }],\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n   \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  }\n]\n"
    CreatePublicationPackage:
      description: A base object for creating a publication package.
      discriminator:
        propertyName: packageType
      properties:
        eula:
          description: The end user license agreeement (EULA) that consumers of this listing must accept.
          items:
            $ref: '#/components/schemas/Eula'
          type: array
        operatingSystem:
          $ref: '#/components/schemas/OperatingSystem'
        packageType:
          description: The package's type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        packageVersion:
          description: The package version.
          maxLength: 255
          minLength: 1
          type: string
      required:
      - packageVersion
      - packageType
      - operatingSystem
      - eula
      type: object
    Agreement:
      description: The model for an end user license agreement.
      properties:
        author:
          description: Who authored the agreement.
          enum:
          - ORACLE
          - PARTNER
          type: string
        compartmentId:
          description: The unique identifier for the compartment.
          maxLength: 255
          minLength: 0
          type: string
        contentUrl:
          description: The content URL of the agreement.
          maxLength: 1024
          minLength: 0
          type: string
        id:
          description: The unique identifier for the agreement.
          maxLength: 255
          minLength: 0
          type: string
        prompt:
          description: Textual prompt to read and accept the agreement.
          maxLength: 4000
          minLength: 0
          type: string
        signature:
          description: 'A time-based signature that can be used to accept an agreement or remove a

            previously accepted agreement from the list that Marketplace checks before a deployment.

            '
          maxLength: 1000
          minLength: 0
          type: string
      required:
      - id
      - contentUrl
      - signature
      type: object
      x-example: "{\n  \"id\" : \"18088783\",\n  \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=18088784&render=inline\",\n  \"signature\" : \"exampleyAE9jb20ub3JhY2xlLm9jaS5tYXJrZXRwbGFjZS5oZWxwZXJzLkFncmVlbWVudFNpZ25hdHVyZUZ\",\n  \"compartmentId\" : null,\n  \"author\" : \"PARTNER\",\n  \"prompt\" : \"I have reviewed and accept the <link>Partner terms and conditions</link>\"\n}\n"
    PublicationPackage:
      description: A base object for all types of publication packages.
      discriminator:
        propertyName: packageType
      properties:
        description:
          description: A description of the package.
          type: string
        listingId:
          description: The ID of the listing that the specified package belongs to.
          type: string
        operatingSystem:
          $ref: '#/components/schemas/OperatingSystem'
        packageType:
          description: The specified package's type.
          enum:
          - ORCHESTRATION
          - IMAGE
          type: string
          x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
        resourceId:
          description: The unique identifier for the package resource.
          type: string
        timeCreated:
          description: 'The date and time the publication package was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

            timestamp format.


            Example: `2016-08-25T21:10:29.600Z`

            '
          format: date-time
          type: string
        version:
          description: The package version.
          type: string
      required:
      - listingId
      - version
      - packageType
      x-example: "{\n  \"listingId\": \"ocid1.listing.123\",\n  \"resourceId\": \"123e4567-e89b-12d3-a456-426614174000\",\n  \"packageVersion\": \"v1\",\n  \"packageType\": \"IMAGE\",\n  \"operatingSystem\": {\"name\": \"Linux\"}\n}\n"
    AcceptedAgreementSummary:
      description: The model for a summary of an accepted agreement.
      properties:
        agreementId:
          description: The unique identifier for the terms of use agreement itself.
          type: string
        compartmentId:
          description: The unique identifier for the compartment where the agreement was accepted.
          maxLength: 255
          minLength: 1
          type: string
        displayName:
          description: A display name for the accepted agreement.
          maxLength: 255
          minLength: 1
          type: string
        id:
          description: The unique identifier for the acceptance of the agreement within a specific compartment.
          maxLength: 255
          minLength: 1
          type: string
        listingId:
          description: The unique identifier for the listing associated with the agreement.
          type: string
        packageVersion:
          description: The package version associated with the agreement.
          type: string
        timeAccepted:
          description: The time the agreement was accepted.
          format: date-time
          type: string
      type: object
      x-example: "[\n  {\n    \"id\" : \"ocid1.marketplaceacceptedagreement.oc1..examplea7j4adm3q2a4cvb62nryxxfuov3lprjxtdokfauxgdype25v2qika\",\n    \"displayName\" : \"acceptedAgreement-18088783ocid1.user.oc1..exampleaa6zaill22qzvjl3hq2cvbghwjmbobhavawi7fauxe73fy52ue3aq\",\n    \"compartmentId\" : \"ocid1.tenancy.oc1..exampleauklway4qjfxmzcvbzloi65uxf2r5ak4rp7cfauxq6krk4seww7pa\",\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n    \"agreementId\" : \"18088783\",\n    \"timeAccepted\" : \"2019-05-02T17:39:19.186Z\"\n  },\n  {\n    \"id\" : \"ocid1.marketplaceacceptedagreement.oc1..examplearwynpzxcvbvxtmp3737hvkzyr4mydllvyxfauxgvk5emordunxpa\",\n    \"displayName\" : acceptedAgreement-65498740ocid1.user.oc1..exampleaoohy6qtno4p2cvbfjsr673jqaycquhfauxxihc4hydrh4buhzpaq\",\n    \"compartmentId\" : \"ocid1.tenancy.oc1..exampleauklway4qjfxmzcvbzloi65uxf2r5ak4rp7cfauxq6krk4seww7pa\",\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n    \"agreementId\" : \"50511233\",\n    \"timeAccepted\" : \"2019-05-30T08:22:10.123Z\"\n  }\n]\n"
    CategorySummary:
      description: The model for a summary of product categories for listings.
      properties:
        name:
          description: Name of the product category.
          maxLength: 255
          minLength: 0
          type: string
      type: object
      x-example: "[\n  {\n    \"name\" : \"Security\"\n  }, {\n    \"name\" : \"SaaS on Oracle Cloud Platform\"\n  }, {\n    \"name\" : \"Other\"\n  }, {\n    \"name\" : \"Operating Systems\"\n  }, {\n    \"name\" : \"Networking\"\n  }, {\n    \"name\" : \"Developer Tools\"\n  }, {\n    \"name\" : \"Database Management\"\n  }, {\n    \"name\" : \"Data Integration\"\n  }, {\n    \"name\" : \"Continuous Integration\"\n  }, {\n    \"name\" : \"Cloud Management\"\n  }, {\n    \"name\" : \"Business Applications\"\n  }\n]\n"
    Publisher:
      description: The model for a publisher.
      properties:
        contactEmail:
          description: The email address of the publisher.
          maxLength: 200
          minLength: 0
          type: string
        contactPhone:
          description: The phone number of the publisher.
          maxLength: 200
[...]
