swagger: '2.0'
info:
  description: Use the Marketplace API to manage applications in Oracle Cloud Infrastructure Marketplace.
    For more information, see [Overview of Marketplace](/Content/Marketplace/Concepts/marketoverview.htm)
  title: Marketplace Service API
  version: '20181001'
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Marketplace Service API OCI service and stored verbatim;
      API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/5610b7055ecadc9a892072b09a4984658029c630ca7f33c8669ed31484d1da3d.yaml
    what: the harvested document for Marketplace Service API
host: marketplace.us-ashburn-1.oci.oraclecloud.com
basePath: /20181001
schemes:
- http
- https
produces:
- application/json
paths:
  /acceptedAgreements:
    get:
      description: 'Lists the terms of use agreements that have been accepted in the specified compartment.

        You can filter results by specifying query parameters.

        '
      operationId: ListAcceptedAgreements
      parameters:
      - $ref: '#/parameters/CompartmentIdQueryParam'
      - $ref: '#/parameters/DisplayNameQueryParam'
      - $ref: '#/parameters/ListingIdQueryParam'
      - $ref: '#/parameters/PackageVersionQueryParam'
      - $ref: '#/parameters/AcceptedAgreementIdQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/AcceptedAgreementsSortByQueryParam'
      - $ref: '#/parameters/AcceptedAgreementsSortOrderQueryParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: &id003
              description: 'For pagination of a list of items. When paging through a list, if this header
                appears in the response,

                then a partial list might have been returned. Include this value as the `page` parameter
                for the

                subsequent GET request to get the next batch of items.

                '
              type: string
            opc-request-id: &id001
              description: 'Unique Oracle-assigned identifier for the request. If you need to contact

                Oracle about a particular request, please provide the request ID.

                '
              type: string
          schema:
            items:
              $ref: '#/definitions/AcceptedAgreementSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets the list of accepted terms of use agreements in the specified compartment.
      tags:
      - Marketplace
      x-example: 'GET /20181001/acceptedAgreements?compartmentId=<var>&lt;compartmentId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
    post:
      description: 'Accepts a terms of use agreement for a specific package version of a listing. You
        must accept all

        terms of use for a package before you can deploy the package.

        '
      operationId: CreateAcceptedAgreement
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      - description: Details necessary to accept an agreement.
        in: body
        name: CreateAcceptedAgreementDetails
        required: true
        schema:
          $ref: '#/definitions/CreateAcceptedAgreementDetails'
      produces:
      - application/json
      responses:
        '200':
          description: The agreement is marked as accepted.
          headers:
            etag: &id002
              description: 'For optimistic concurrency control. See `if-match`.

                '
              type: string
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/AcceptedAgreement'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Accepts a terms of use agreement for a listing.
      tags:
      - Marketplace
  /acceptedAgreements/{acceptedAgreementId}:
    delete:
      description: 'Removes a previously accepted terms of use agreement from the list of agreements that
        Marketplace checks

        before initiating a deployment. Listings in Marketplace that require acceptance of the specified
        terms

        of use can no longer be deployed, but existing deployments aren''t affected.

        '
      operationId: DeleteAcceptedAgreement
      parameters:
      - $ref: '#/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/parameters/SignatureQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/IfMatchHeaderParam'
      produces:
      - application/json
      responses:
        '204':
          description: The specified terms of use agreement will be removed from the list of accepted
            terms of use.
          headers:
            opc-request-id: *id001
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Removes an accepted terms of use agreement.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/AcceptedAgreement'
    get:
      description: 'Gets the details of a specific, previously accepted terms of use agreement.

        '
      operationId: GetAcceptedAgreement
      parameters:
      - $ref: '#/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/AcceptedAgreement'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets the details of a terms of use agreement.
      tags:
      - Marketplace
    put:
      description: 'Updates the display name or tags associated with a listing''s previously accepted
        terms of use agreement.

        '
      operationId: UpdateAcceptedAgreement
      parameters:
      - $ref: '#/parameters/AcceptedAgreementIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/parameters/IfMatchHeaderParam'
      - description: Details to update for an accepted agreement.
        in: body
        name: UpdateAcceptedAgreementDetails
        required: true
        schema:
          $ref: '#/definitions/UpdateAcceptedAgreementDetails'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/AcceptedAgreement'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Updates an accepted terms of use agreement.
      tags:
      - Marketplace
  /categories:
    get:
      description: 'Gets the list of all the categories for listings published to Oracle Cloud Infrastructure
        Marketplace. Categories apply

        to the software product provided by the listing.

        '
      operationId: ListCategories
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/CategorySummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets a list of listing categories.
      tags:
      - Marketplace
      x-example: 'GET /20181001/categories

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/CategorySummary'
  /launchEligibility:
    get:
      description: Returns Tenant eligibility and other information for launching a PIC image
      operationId: GetLaunchEligibility
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdQueryParam'
      - $ref: '#/parameters/ImageIdQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation was successful.
          headers:
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/LaunchEligibility'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Get Tenant eligibility and other information for launching a PIC image
      tags:
      - Account
  /listings:
    get:
      description: 'Gets a list of listings from Oracle Cloud Infrastructure Marketplace by searching
        keywords and

        filtering according to listing attributes.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing.
        When

        you launch the instance, you also need to provide the image ID of the listing resource version
        that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement
        for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements)
        API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements)
        object, including

        its signature, is returned in the response. With the signature for the terms of use agreement
        for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription)
        API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion)
        API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance)
        API call.

        '
      operationId: ListListings
      parameters:
      - $ref: '#/parameters/ListingNameQueryParam'
      - $ref: '#/parameters/ListingIdQueryParam'
      - $ref: '#/parameters/ImageIdOptionalQueryParam'
      - $ref: '#/parameters/PublisherIdQueryParam'
      - $ref: '#/parameters/PackageTypeQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/ListingsSortByQueryParam'
      - $ref: '#/parameters/SortOrderQueryParam'
      - $ref: '#/parameters/CategoryQueryParam'
      - $ref: '#/parameters/PricingQueryParam'
      - $ref: '#/parameters/FeaturedQueryParam'
      - $ref: '#/parameters/ListingTypeOptionalQueryParam'
      - $ref: '#/parameters/OperatingSystemQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/ListingSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets a list of listings.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}:
    get:
      description: 'Gets detailed information about a listing, including the listing''s name, version,
        description, and

        resources.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing.
        When

        you launch the instance, you also need to provide the image ID of the listing resource version
        that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement
        for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements)
        API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements)
        object, including

        its signature, is returned in the response. With the signature for the terms of use agreement
        for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription)
        API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion)
        API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance)
        API call.

        '
      operationId: GetListing
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/Listing'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets the details of a listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/packages:
    get:
      description: 'Gets the list of packages for a listing.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing.
        When

        you launch the instance, you also need to provide the image ID of the listing resource version
        that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement
        for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements)
        API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements)
        object, including

        its signature, is returned in the response. With the signature for the terms of use agreement
        for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription)
        API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion)
        API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance)
        API call.

        '
      operationId: ListPackages
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/PackageVersionQueryParam'
      - $ref: '#/parameters/PackageTypeQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/ListingsSortByQueryParam'
      - $ref: '#/parameters/SortOrderQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/ListingPackageSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets the list of packages for a listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/ListingPackageSummary'
  /listings/{listingId}/packages/{packageVersion}:
    get:
      description: 'Get the details of the specified version of a package, including information needed
        to launch the package.


        If you plan to launch an instance from an image listing, you must first subscribe to the listing.
        When

        you launch the instance, you also need to provide the image ID of the listing resource version
        that you want.


        Subscribing to the listing requires you to first get a signature from the terms of use agreement
        for the

        listing resource version. To get the signature, issue a [GetAppCatalogListingAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements/GetAppCatalogListingAgreements)
        API call.

        The [AppCatalogListingResourceVersionAgreements](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersionAgreements)
        object, including

        its signature, is returned in the response. With the signature for the terms of use agreement
        for the desired

        listing resource version, create a subscription by issuing a

        [CreateAppCatalogSubscription](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogSubscription/CreateAppCatalogSubscription)
        API call.


        To get the image ID to launch an instance, issue a [GetAppCatalogListingResourceVersion](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListingResourceVersion/GetAppCatalogListingResourceVersion)
        API call.

        Lastly, to launch the instance, use the image ID of the listing resource version to issue a [LaunchInstance](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/Instance/LaunchInstance)
        API call.

        '
      operationId: GetPackage
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/PackageVersionPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/ListingPackage'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Get the details of a specific package version.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/ListingPackage'
  /listings/{listingId}/packages/{packageVersion}/agreements:
    get:
      description: 'Returns the terms of use agreements that must be accepted before you can deploy the
        specified version of a package.

        '
      operationId: ListAgreements
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/PackageVersionPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/AgreementSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Lists terms of use agreements for a package.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>/agreements

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/packages/{packageVersion}/agreements/{agreementId}:
    get:
      description: 'Returns a terms of use agreement for a package with a time-based signature that can
        be used to

        accept the agreement.

        '
      operationId: GetAgreement
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/PackageVersionPathParam'
      - $ref: '#/parameters/AgreementIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/Agreement'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets a terms of use agreement for a package.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/packages/<var>&lt;packageVersion&gt;</var>/agreements/<var>&lt;agreementId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /listings/{listingId}/taxes:
    get:
      description: Returns list of all tax implications that current tenant may be liable to once they
        launch the listing.
      operationId: ListTaxes
      parameters:
      - $ref: '#/parameters/ListingIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/TaxSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets tax implication that current tenant may be eligible while using specific listing.
      tags:
      - Marketplace
      x-example: 'GET /20181001/listings/<var>&lt;listingId&gt;</var>/taxes

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/TaxSummary'
  /marketplaceExternalAttestedMetadata:
    post:
      description: Generates attested marketplace metadata
      operationId: CreateMarketplaceExternalAttestedMetadata
      parameters:
      - description: Payload that customer will use to generate JWT for launched instance associated with
          Marketplace listing
        in: body
        name: CreateMarketplaceExternalAttestedMetadataDetails
        required: true
        schema:
          $ref: '#/definitions/CreateMarketplaceExternalAttestedMetadataDetails'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: Returns attested marketplace metadata for a given instance in JWT format - used
            by third party publishers for verifying VM identity
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/MarketplaceExternalAttestedMetadata'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Generates attested marketplace metadata for given a given instance
      tags:
      - Marketplace
      x-related-resource: '#/definitions/CreateMarketplaceExternalAttestedMetadataDetails'
  /marketplaceMetadataPublicKeys:
    get:
      description: Get public certificates used in JWT signing, in JSON Web Key Sets format
      operationId: ListMarketplaceMetadataPublicKeys
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/SortOrderQueryParam'
      - $ref: '#/parameters/ListMarketplaceMetadataPublicKeySummarySortByQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: Returns list of public certificates used in signing JWT for MarketplaceMetadata
            object
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/MarketplaceMetadataPublicKeySummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Get public certificates used in JWT signing, in JSON Web Key Sets format
      tags:
      - Marketplace
      x-related-resource: '#/definitions/MarketplaceMetadataPublicKeySummary'
  /publications:
    get:
      description: Lists the publications in the specified compartment.
      operationId: ListPublications
      parameters:
      - $ref: '#/parameters/CompartmentIdQueryParam'
      - $ref: '#/parameters/PublicationNameQueryParam'
      - $ref: '#/parameters/ListingTypeQueryParam'
      - $ref: '#/parameters/PublicationIdQueryParam'
      - $ref: '#/parameters/OperatingSystemQueryParam'
      - $ref: '#/parameters/ListingsSortByQueryParam'
      - $ref: '#/parameters/SortOrderQueryParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: A list of all publications in the compartment.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/PublicationSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Lists all publications.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publications

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
      x-related-resource: '#/definitions/PublicationSummary'
    post:
      description: Creates a publication of the specified listing type with an optional default package.
      operationId: CreatePublication
      parameters:
      - description: The details for creating the publication.
        in: body
        name: CreatePublicationDetails
        required: true
        schema:
          $ref: '#/definitions/CreatePublicationDetails'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      responses:
        '200':
          description: The operation to create a publication succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/Publication'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Creates a publication.
      tags:
      - Marketplace
  /publications/{publicationId}:
    delete:
      description: Deletes a publication, which also removes the associated listing from anywhere it was
        published, such as Marketplace or Compute.
      operationId: DeletePublication
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - $ref: '#/parameters/IfMatchHeaderParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '204':
          description: The operation to delete the publication succeeded.
          headers:
            opc-request-id: *id001
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Deletes a publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/Publication'
    get:
      description: Gets the details of the specified publication.
      operationId: GetPublication
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: The details of the requested publication.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/Publication'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Gets a publication.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publications/<var>&lt;listingId&gt;</var>

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
    put:
      description: Updates the details of an existing publication.
      operationId: UpdatePublication
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/parameters/IfMatchHeaderParam'
      - description: The details for updating the publication.
        in: body
        name: UpdatePublicationDetails
        required: true
        schema:
          $ref: '#/definitions/UpdatePublicationDetails'
      produces:
      - application/json
      responses:
        '200':
          description: The operation to update the publication succeeded.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/Publication'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Updates an existing publication.
      tags:
      - Marketplace
  /publications/{publicationId}/actions/changeCompartment:
    post:
      description: Moves the specified publication from one compartment to another.
      operationId: ChangePublicationCompartment
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - description: The details of the request to change the compartment of a given publication.
        in: body
        name: ChangePublicationCompartmentDetails
        required: true
        schema:
          $ref: '#/definitions/ChangePublicationCompartmentDetails'
      - $ref: '#/parameters/OpcRetryTokenHeaderParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/IfMatchHeaderParam'
      responses:
        '204':
          description: The operation to change the compartment of the publication succeeded.
          headers:
            opc-request-id: *id001
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Changes the compartment of the publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/Publication'
  /publications/{publicationId}/packages:
    get:
      description: Lists the packages in the specified publication.
      operationId: ListPublicationPackages
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - $ref: '#/parameters/PackageVersionQueryParam'
      - $ref: '#/parameters/PackageTypeQueryParam'
      - $ref: '#/parameters/ListingsSortByQueryParam'
      - $ref: '#/parameters/SortOrderQueryParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: The packages associated with the specified publication.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/PublicationPackageSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Lists the packages in a publication.
      tags:
      - Marketplace
  /publications/{publicationId}/packages/{packageVersion}:
    get:
      description: Gets the details of a specific package version within a given publication.
      operationId: GetPublicationPackage
      parameters:
      - $ref: '#/parameters/PublicationIdPathParam'
      - $ref: '#/parameters/PackageVersionPathParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      produces:
      - application/json
      responses:
        '200':
          description: The requested publication package version.
          headers:
            etag: *id002
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/PublicationPackage'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '412':
          $ref: '#/responses/412'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Gets a package version of a specified publication.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/PublicationPackage'
  /publishers:
    get:
      description: 'Gets the list of all the publishers of listings available in Oracle Cloud Infrastructure
        Marketplace.

        '
      operationId: ListPublishers
      parameters:
      - $ref: '#/parameters/PublisherIdQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/CompartmentIdOptionalQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/PublisherSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Gets a list of publishers.
      tags:
      - Marketplace
      x-example: 'GET /20181001/publishers

        Host: marketplace.us-ashburn-1.oci.oraclecloud.com

        <var>&lt;authorization and other headers&gt;</var>

        '
  /reportTypes:
    get:
      description: Lists available types of reports for the compartment.
      operationId: ListReportTypes
      parameters:
      - $ref: '#/parameters/CompartmentIdQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/ReportTypeCollection'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Lists available reports.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/ReportTypeCollection'
  /reports:
    get:
      description: Lists reports in the compartment that match the specified report type and date.
      operationId: ListReports
      parameters:
      - $ref: '#/parameters/ReportTypeQueryParam'
      - $ref: '#/parameters/ReportDateQueryParam'
      - $ref: '#/parameters/CompartmentIdQueryParam'
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/ReportCollection'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
      summary: Lists reports.
      tags:
      - Marketplace
      x-related-resource: '#/definitions/ReportCollection'
  /searchListings:
    post:
      description: "Queries all Marketplace Applications to find listings that match the specified criteria.\
        \ To search \nfor a listing, you can use a free text or structured search.\n"
      operationId: SearchListings
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/PaginationTokenQueryParam'
      - $ref: '#/parameters/PaginationLimitQueryParam'
      - description: Details related to the search query
        in: body
        name: SearchListingsDetails
        required: true
        schema:
          $ref: '#/definitions/SearchListingsDetails'
      produces:
      - application/json
      responses:
        '200':
          description: The operation succeeded.
          headers:
            opc-next-page: *id003
            opc-request-id: *id001
          schema:
            items:
              $ref: '#/definitions/ListingSummary'
            type: array
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Finds Marketplace listings
      tags:
      - Marketplace
      x-example: "POST /20181001/searchListings\nHost: marketplace.us-ashburn-1.oci.oraclecloud.com\n\
        <var>&lt;authorization and other headers&gt;</var>\n{\n  \"type\": \"FreeText\",\n  \"text\":\
        \ \"Fortinet\"\n}\n"
      x-related-resource: '#/definitions/ListingSummary'
  /thirdPartyPaidListingEligibility:
    get:
      description: Returns eligibility details of the tenancy to see and launch third party paid listings
      operationId: GetThirdPartyPaidListingEligibility
      parameters:
      - $ref: '#/parameters/OpcRequestIdHeaderParam'
      - $ref: '#/parameters/CompartmentIdQueryParam'
      produces:
      - application/json
      responses:
        '200':
          description: The operation was successful.
          headers:
            opc-request-id: *id001
          schema:
            $ref: '#/definitions/ThirdPartyPaidListingEligibility'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '404':
          $ref: '#/responses/404'
        '409':
          $ref: '#/responses/409'
        '429':
          $ref: '#/responses/429'
        '500':
          $ref: '#/responses/500'
        default:
          $ref: '#/responses/DefaultError'
      summary: Get eligibilty of the tenancy to see third party paid listings
      tags:
      - Account
      x-obmcs-authz-declarations:
        authorizationRequired: false
definitions:
  AcceptedAgreement:
    description: The model for an accepted terms of use agreement.
    properties:
      agreementId:
        description: The unique identifier for the terms of use agreement itself.
        type: string
      compartmentId:
        description: The unique identifier for the compartment where the agreement was accepted.
        maxLength: 255
        minLength: 1
        type: string
      definedTags: &id004
        additionalProperties:
          additionalProperties:
            type: object
          type: object
        description: 'The defined tags associated with this resource, if any. Each key is predefined and
          scoped to namespaces.

          For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

          Example: `{"Operations": {"CostCenter": "42"}}`

          '
        type: object
      displayName:
        description: A display name for the accepted agreement.
        maxLength: 255
        minLength: 1
        type: string
      freeformTags: &id005
        additionalProperties:
          type: string
        description: 'The freeform tags associated with this resource, if any. Each tag is a simple key-value
          pair with no

          predefined name, type, or namespace. For more information, see [Resource Tags](https://docs.cloud.oracle.com/iaas/Content/General/Concepts/resourcetags.htm).

          Example: `{"Department": "Finance"}`

          '
        type: object
      id:
        description: The unique identifier for the acceptance of the agreement within a specific compartment.
        maxLength: 255
        minLength: 1
        type: string
      listingId:
        description: The unique identifier for the listing associated with the agreement.
        type: string
      packageVersion:
        description: The package version associated with the agreement.
        type: string
      timeAccepted:
        description: The time the agreement was accepted.
        format: date-time
        type: string
    type: object
    x-example: "{\n  \"id\" : \"ocid1.marketplaceacceptedagreement.oc1..examplea7j4adm3q2a4cvb62nryxxfuov3lprjxtdokfauxgdype25v2qika\"\
      ,\n  \"displayName\" : \"acceptedAgreement-18088783ocid1.user.oc1..exampleaa6zaill22qzvjl3hq2cvbghwjmbobhavawi7fauxe73fy52ue3aq\"\
      ,\n  \"compartmentId\" : \"ocid1.tenancy.oc1..exampleauklway4qjfxmzcvbzloi65uxf2r5ak4rp7cfauxq6krk4seww7pa\"\
      ,\n  \"listingId\" : \"55805922\",\n  \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n  \"agreementId\"\
      \ : \"18088783\",\n  \"timeAccepted\" : \"2019-05-02T17:39:19.186Z\"\n}\n"
  AcceptedAgreementSummary:
    description: The model for a summary of an accepted agreement.
    properties:
      agreementId:
        description: The unique identifier for the terms of use agreement itself.
        type: string
      compartmentId:
        description: The unique identifier for the compartment where the agreement was accepted.
        maxLength: 255
        minLength: 1
        type: string
      displayName:
        description: A display name for the accepted agreement.
        maxLength: 255
        minLength: 1
        type: string
      id:
        description: The unique identifier for the acceptance of the agreement within a specific compartment.
        maxLength: 255
        minLength: 1
        type: string
      listingId:
        description: The unique identifier for the listing associated with the agreement.
        type: string
      packageVersion:
        description: The package version associated with the agreement.
        type: string
      timeAccepted:
        description: The time the agreement was accepted.
        format: date-time
        type: string
    type: object
    x-example: "[\n  {\n    \"id\" : \"ocid1.marketplaceacceptedagreement.oc1..examplea7j4adm3q2a4cvb62nryxxfuov3lprjxtdokfauxgdype25v2qika\"\
      ,\n    \"displayName\" : \"acceptedAgreement-18088783ocid1.user.oc1..exampleaa6zaill22qzvjl3hq2cvbghwjmbobhavawi7fauxe73fy52ue3aq\"\
      ,\n    \"compartmentId\" : \"ocid1.tenancy.oc1..exampleauklway4qjfxmzcvbzloi65uxf2r5ak4rp7cfauxq6krk4seww7pa\"\
      ,\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n    \"\
      agreementId\" : \"18088783\",\n    \"timeAccepted\" : \"2019-05-02T17:39:19.186Z\"\n  },\n  {\n\
      \    \"id\" : \"ocid1.marketplaceacceptedagreement.oc1..examplearwynpzxcvbvxtmp3737hvkzyr4mydllvyxfauxgvk5emordunxpa\"\
      ,\n    \"displayName\" : acceptedAgreement-65498740ocid1.user.oc1..exampleaoohy6qtno4p2cvbfjsr673jqaycquhfauxxihc4hydrh4buhzpaq\"\
      ,\n    \"compartmentId\" : \"ocid1.tenancy.oc1..exampleauklway4qjfxmzcvbzloi65uxf2r5ak4rp7cfauxq6krk4seww7pa\"\
      ,\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\",\n    \"\
      agreementId\" : \"50511233\",\n    \"timeAccepted\" : \"2019-05-30T08:22:10.123Z\"\n  }\n]\n"
  Agreement:
    description: The model for an end user license agreement.
    properties:
      author:
        description: Who authored the agreement.
        enum:
        - ORACLE
        - PARTNER
        type: string
      compartmentId:
        description: The unique identifier for the compartment.
        maxLength: 255
        minLength: 0
        type: string
      contentUrl:
        description: The content URL of the agreement.
        maxLength: 1024
        minLength: 0
        type: string
      id:
        description: The unique identifier for the agreement.
        maxLength: 255
        minLength: 0
        type: string
      prompt:
        description: Textual prompt to read and accept the agreement.
        maxLength: 4000
        minLength: 0
        type: string
      signature:
        description: 'A time-based signature that can be used to accept an agreement or remove a

          previously accepted agreement from the list that Marketplace checks before a deployment.

          '
        maxLength: 1000
        minLength: 0
        type: string
    required:
    - id
    - contentUrl
    - signature
    type: object
    x-example: "{\n  \"id\" : \"18088783\",\n  \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=18088784&render=inline\"\
      ,\n  \"signature\" : \"exampleyAE9jb20ub3JhY2xlLm9jaS5tYXJrZXRwbGFjZS5oZWxwZXJzLkFncmVlbWVudFNpZ25hdHVyZUZ\"\
      ,\n  \"compartmentId\" : null,\n  \"author\" : \"PARTNER\",\n  \"prompt\" : \"I have reviewed and\
      \ accept the <link>Partner terms and conditions</link>\"\n}\n"
  AgreementSummary:
    description: The model for a summary of an end user license agreement.
    properties:
      author:
        description: Who authored the agreement.
        enum:
        - ORACLE
        - PARTNER
        - PII
        type: string
      contentUrl:
        description: The content URL of the agreement.
        maxLength: 1024
        minLength: 0
        type: string
      id:
        description: The unique identifier for the agreement.
        maxLength: 18
        minLength: 0
        type: string
      prompt:
        description: Textual prompt to read and accept the agreement.
        maxLength: 4000
        minLength: 0
        type: string
    type: object
    x-example: "[\n  {\n    \"id\" : \"50511633\",\n    \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=50511634&render=inline\"\
      ,\n    \"author\" : \"ORACLE\",\n    \"prompt\" : \"I have reviewed and accept the <link>Oracle\
      \ Terms of Use</link>\"\n  },\n  {\n    \"id\" : \"46207560\",\n    \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=46207561&render=inline\"\
      ,\n    \"author\" : \"PARTNER\",\n    \"prompt\" : \"I have reviewed and accept the <link>Partner\
      \ terms and conditions</link>\"\n  },\n  {\n    \"id\" : \"pii\",\n    \"contentUrl\" : \"https://www.oracle.com/legal/privacy/privacy-policy.html\"\
      ,\n    \"author\" : \"PII\",\n    \"prompt\" : \"This application is provided by an Oracle partner.\
      \ In exchange for your use of the partner's application, the partner may be provided with your company\
      \ name, tenant admin name and email address, as well the application(s) used, and usage information\
      \ such as the number of shapes and instance hours used to run the partner's application. Each party\
      \ will be responsible for managing their own use of your personal information. We recommend you\
      \ review the privacy policy of this Oracle partner for more information on the partner's handling\
      \ of your personal information. Oracle's handling of your personal information will be in accordance\
      \ with the <link>Oracle General Privacy Policy</link>.\"\n  }\n]\n"
  ArchitectureType:
    description: Possible values for a listings compatbile architecture
    enum: &id009
    - X86
    - ARM
    type: string
  CategorySummary:
    description: The model for a summary of product categories for listings.
    properties:
      name:
        description: Name of the product category.
        maxLength: 255
        minLength: 0
        type: string
    type: object
    x-example: "[\n  {\n    \"name\" : \"Security\"\n  }, {\n    \"name\" : \"SaaS on Oracle Cloud Platform\"\
      \n  }, {\n    \"name\" : \"Other\"\n  }, {\n    \"name\" : \"Operating Systems\"\n  }, {\n    \"\
      name\" : \"Networking\"\n  }, {\n    \"name\" : \"Developer Tools\"\n  }, {\n    \"name\" : \"Database\
      \ Management\"\n  }, {\n    \"name\" : \"Data Integration\"\n  }, {\n    \"name\" : \"Continuous\
      \ Integration\"\n  }, {\n    \"name\" : \"Cloud Management\"\n  }, {\n    \"name\" : \"Business\
      \ Applications\"\n  }\n]\n"
  ChangePublicationCompartmentDetails:
    description: The model for the parameters needed move a publication from one compartment to another.
    properties:
      compartmentId:
        description: The [OCID](/Content/General/Concepts/identifiers.htm) of the compartment where you
          want to move the publication.
        maxLength: 255
        minLength: 0
        type: string
  CreateAcceptedAgreementDetails:
    description: The model for the parameters needed to accept a terms of use agreement.
    properties:
      agreementId:
        description: The agreement to accept.
        type: string
      compartmentId:
        description: The unique identifier for the compartment where the agreement will be accepted.
        maxLength: 255
        minLength: 1
        type: string
      definedTags: *id004
      displayName:
        description: A display name for the accepted agreement.
        maxLength: 255
        minLength: 1
        type: string
      freeformTags: *id005
      listingId:
        description: The unique identifier for the listing associated with the agreement.
        type: string
      packageVersion:
        description: The package version associated with the agreement.
        type: string
      signature:
        description: 'A signature generated for the listing package agreements that you can retrieve

          with [GetAgreement](/api/#/en/marketplace/20181001/Agreement/GetAgreement).

          '
        maxLength: 1000
        minLength: 1
        type: string
    required:
    - compartmentId
    - listingId
    - packageVersion
    - agreementId
    - signature
    type: object
    x-example: "{\n  \"compartmentId\" : \"ocidv1:tenancy:oc1:phx:1459375190146:aaaaaaaa26beldzcdr5tdgzcie5mcvrlvq\"\
      ,\n  \"listingId\" : \"54854361\",\n  \"packageVersion\" : \"20190403001\",\n  \"agreementId\" :\
      \ \"50511633\",\n  \"signature\" : \"exampleyAE9jb20ub3JhY2xlLm9jaS5tYXJrZXRwbGFjZS5oZWxwZXJzLkFncmVlbWVudFNpZ25hdHVyZUZ\"\
      ,\n  \"displayName\" : \"acceptedAgreement-50511633ocid1.user.oc1..exampleaa6zaill22qzvjl3hq2cvbghwjmbobhavawi7fauxe73fy52ue3aq\"\
      ,\n  \"definedTags\" : {\n    \"MyFirstNamespace\":\n    {\n      \"CostCenter\": \"SmartAlec\"\
      ,\n      \"Project\": \"42\",\n      \"CreatedBy\": \"SmartAlec\",\n      \"CreatedDate\": \"9/21/2017T14:00\"\
      \n    }\n  },\n  \"freeformTags\" : {\"Department\": \"Finance\"}\n}\n"
  CreateImagePublicationPackage:
    allOf:
    - $ref: '#/definitions/CreatePublicationPackage'
    - discriminator: IMAGE
      properties:
        imageId:
          description: The unique identifier for the base image of the publication.
          maxLength: 255
          minLength: 1
          type: string
    description: An object for creating an image publication package.
  CreateMarketplaceExternalAttestedMetadataDetails:
    description: Payload that customer will use to generate JWT for launched instance associated with
      Marketplace listing
    properties:
      compartmentId:
        description: compartment that associated instance is in
        type: string
      instanceId:
        description: unique id that identifies the associated instance
        type: string
    required:
    - instanceId
    - compartmentId
    type: object
  CreatePublicationDetails:
    description: The model for the parameters needed to create a publication.
    properties:
      compartmentId:
        description: The [OCID](/Content/General/Concepts/identifiers.htm) of the compartment where you
          want to create the publication.
        maxLength: 255
        minLength: 1
        type: string
      definedTags: *id004
      freeformTags: *id005
      isAgreementAcknowledged:
        description: 'Whether the publisher acknowledged that they have the right and authority to share
          the contents of the publication and that they accepted the Oracle terms of use agreements required
          to create a publication.

          '
        type: boolean
      listingType:
        description: 'The publisher category to which the publication belongs. The publisher category
          informs where the listing appears for use.

          '
        enum: &id010
        - COMMUNITY
        - PARTNER
        - PRIVATE
        type: string
        x-obmcs-top-level-enum: '#/definitions/ListingType'
      longDescription:
        description: A long description of the publication to use in the listing.
        maxLength: 1024
        minLength: 0
        type: string
      name:
        description: The name of the publication, which is also used in the listing.
        maxLength: 255
        minLength: 1
        type: string
      packageDetails:
        $ref: '#/definitions/CreatePublicationPackage'
      shortDescription:
        description: A short description of the publication to use in the listing.
        maxLength: 512
        minLength: 1
        type: string
      supportContacts:
        description: Contact information for getting support from the publisher for the listing.
        items:
          $ref: '#/definitions/SupportContact'
        type: array
    required:
    - listingType
    - name
    - shortDescription
    - supportContacts
    - compartmentId
    - packageDetails
    - isAgreementAcknowledged
    type: object
    x-example: "{\n  \"name\": \"image_listing\",\n  \"listingType\": \"COMMUNITY\",\n  \"shortDescription\"\
      : \"short description of my image listing\",\n  \"longDescription\": \"long description of my listing\"\
      ,\n  \"supportContacts\": [\n    {\n      \"name\": \"admin\",\n      \"email\": \"support@company.com\"\
      \n    }\n  ],\n  \"compartmentId\": \"ocid1.compartment.abc\",\n  \"packageDetails\": {\n    \"\
      packageVersion\": \"v1\",\n    \"packageType\": \"IMAGE\",\n    \"imageId\": \"ocid1.image.oc1.iad.abcxyz\"\
      ,\n    \"operatingSystem\": {\n      \"name\": \"Linux\"\n    },\n    \"eula\": [\n      {\n   \
      \     \"eulaType\": \"TEXT\",\n        \"licenseText\": \"You accept all risk associated with using\
      \ this software.\"\n      }\n    ]\n  },\n  \"agreementUrl\": [\"https://cloudmarketplace.oracle.com/marketplace/content?contentId=18088784&render=inline\"\
      ]\n}\n"
  CreatePublicationPackage:
    description: A base object for creating a publication package.
    discriminator: packageType
    properties:
      eula:
        description: The end user license agreeement (EULA) that consumers of this listing must accept.
        items:
          $ref: '#/definitions/Eula'
        type: array
      operatingSystem:
        $ref: '#/definitions/OperatingSystem'
      packageType:
        description: The package's type.
        enum: &id011
        - ORCHESTRATION
        - IMAGE
        type: string
        x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
      packageVersion:
        description: The package version.
        maxLength: 255
        minLength: 1
        type: string
    required:
    - packageVersion
    - packageType
    - operatingSystem
    - eula
    type: object
  DocumentationLink:
    description: A link to a documentation resource on the internet.
    properties:
      documentCategory:
        description: The category that the document belongs to.
        maxLength: 200
        minLength: 0
        type: string
      name:
        description: Text that describes the resource.
        maxLength: 4000
        minLength: 0
        type: string
      url:
        description: The URL of the resource.
        maxLength: 4000
        minLength: 0
        type: string
    type: object
    x-example: "{\n  \"name\" : \"RackWare RMM Platform\",\n  \"url\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603917\"\
      ,\n  \"documentCategory\" : \"Data Sheets\"\n}\n"
  ErrorEntity:
    description: The model for the error entity.
    properties:
      code:
        description: A short error code that defines the error.
        maxLength: 200
        minLength: 0
        type: string
      message:
        description: A human-readable error string.
        maxLength: 1000
        minLength: 0
        type: string
    required:
    - code
    - message
    type: object
  Eula:
    description: A base object for all types of end user license agreements.
    discriminator: eulaType
    properties:
      eulaType:
        description: The end user license agreement's type.
        enum: &id006
        - TEXT
        type: string
        x-obmcs-top-level-enum: '#/definitions/EulaTypeEnum'
    required:
    - eulaType
  EulaTypeEnum:
    description: Possible values for end user license agreement (EULA) formats.
    enum: *id006
    type: string
  FreeTextSearchDetails:
    allOf:
    - $ref: '#/definitions/SearchListingsDetails'
    - discriminator: FreeText
      properties:
        text:
          description: The text to search for.
          type: string
      required:
      - text
      x-example: "{\n  \"type\": \"FreeText\",\n  \"text\": \"Fortinet\"\n}\n"
    description: 'A request containing arbitrary text that must be present in the Marketplace Applications.

      '
  ImageListingPackage:
    allOf:
    - $ref: '#/definitions/ListingPackage'
    - discriminator: IMAGE
      properties:
        appCatalogListingId:
          description: 'The ID of the listing resource associated with this listing package. For more
            information, see [AppCatalogListing](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListing/)
            in the Core Services API.

            '
          type: string
        appCatalogListingResourceVersion:
          description: The resource version of the listing resource associated with this listing package.
          type: string
        imageId:
          description: The ID of the image corresponding to the package.
          type: string
    description: A package for image listings.
    x-example: "{\n  \"packageType\" : \"IMAGE\",\n  \"description\" : \"\",\n  \"listingId\" : \"16132843\"\
      ,\n  \"version\" : \"2.150.3-2\",\n  \"resourceId\" : \"53066763\",\n  \"timeCreated\" : \"2019-03-11T00:00:00.000Z\"\
      ,\n  \"appCatalogListingId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaamfkymkaswbyqdn32ckslmespcaqgda6et7juetbtuz3h7nwtamdq\"\
      ,\n  \"appCatalogListingResourceVersion\" : \"2.150.3-2\",\n  \"regions\" : [ {\n    \"name\" :\
      \ \"eu-frankfurt-1\",\n    \"code\" : \"FRA\",\n    \"countries\" : [ ]\n  },\n  {\n    \"name\"\
      \ : \"ca-toronto-1\",\n    \"code\" : \"YYZ\",\n    \"countries\" : [ ]\n  },\n  {\n    \"name\"\
      \ : \"iad\",\n    \"code\" : \"IAD\",\n    \"countries\" : [ ]\n  },\n  {\n    \"name\" : \"uk-london-1\"\
      ,\n    \"code\" : \"LHR\",\n    \"countries\" : [ ]\n  },\n  {\n    \"name\" : \"phx\",\n    \"\
      code\" : \"PHX\",\n    \"countries\" : [ ]\n  } ],\n\"imageId\": \"ocid1.image.oc1.iad.abcxyz\"\
      ,\n}\n"
  ImagePublicationPackage:
    allOf:
    - $ref: '#/definitions/PublicationPackage'
    - discriminator: IMAGE
      properties:
        appCatalogListingId:
          description: 'The ID of the listing resource associated with this publication package. For more
            information, see [AppCatalogListing](https://docs.cloud.oracle.com/en-us/iaas/api/#/en/iaas/latest/AppCatalogListing/)
            in the Core Services API.

            '
          type: string
        appCatalogListingResourceVersion:
          description: The resource version of the listing resource associated with this publication package.
          type: string
        imageId:
          description: The ID of the image that corresponds to the package.
          type: string
      x-example: "{\n  \"packageType\" : \"IMAGE\",\n  \"description\" : \"\",\n  \"listingId\" : \"16132843\"\
        ,\n  \"version\" : \"2.150.3-2\",\n  \"resourceId\" : \"53066763\",\n  \"timeCreated\" : \"2019-03-11T00:00:00.000Z\"\
        ,\n  \"appCatalogListingId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaamfkymkaswbyqdn32ckslmespcaqgda6et7juetbtuz3h7nwtamdq\"\
        ,\n  \"appCatalogListingResourceVersion\" : \"2.150.3-2\"\n}\n"
    description: A publication package for image publications.
  IneligibilityReasonEnum:
    description: Possible values of on why a tenant cannot launch a listing
    enum: &id007
    - INELIGIBLE_ACCOUNT_COUNTRY
    - INELIGIBLE_REGION
    - INELIGIBLE_ACCOUNT_BLACKLISTED
    - INELIGIBLE_ACCOUNT_FEATURE_DISABLED
    - INELIGIBLE_ACCOUNT_CURRENCY
    - INELIGIBLE_ACCOUNT_NOT_PAID
    - INELIGIBLE_ACCOUNT_INTERNAL
    - INELIGIBLE_ACCOUNT_GOV_SUBSCRIPTION
    - INELIGIBLE_PAID_LISTING_THROTTLED
    - INELIGIBLE_ACCOUNT_NOT_AVAILABLE
    - INELIGIBLE_ACCOUNT_NOT_MONTHLY_INCLUSIVE
    - IMAGE_META_DATA_SO
    - INELIGIBLE_ACCOUNT_TENANCY_NOT_ALLOWED_ACCESS_IMAGE
    - INELIGIBLE_ACCOUNT_GOV_LAUNCH_NON_GOV_LISTING
    - AGREEMENT_NOT_ACCEPTED
    - NOT_AUTHORIZED
    - ELIGIBLE
    type: string
  InternationalMarketPrice:
    description: The model for international market pricing.
    properties:
      currencyCode:
        description: The currency of the pricing model.
        enum: &id013
        - USD
        - CAD
        - INR
        - GBP
        - BRL
        - JPY
        - OMR
        type: string
        x-obmcs-top-level-enum: '#/definitions/PricingCurrencyEnum'
      currencySymbol:
        description: The symbol of the currency
        maxLength: 200
        minLength: 0
        type: string
      rate:
        description: The pricing rate.
        format: double
        type: number
    required:
    - currencyCode
    - rate
    type: object
    x-example: "{\n  \"currencyCode\": \"GBP\",\n  \"currencySymbol\": \"£\",\n  \"rate\": 1.3\n}\n"
  Item:
    description: The model for an item within an array of filter values.
    properties:
      code:
        description: A code assigned to the item.
        maxLength: 200
        minLength: 0
        type: string
      name:
        description: The name of the item.
        maxLength: 200
        minLength: 0
        type: string
    type: object
    x-example: "{\n  \"name\" : \"English\",\n  \"code\" : \"en_US\"\n}\n"
  LaunchEligibility:
    description: Tenant eligibility and other information for launching a PIC image
    properties:
      imageId:
        description: PIC Image ID
        type: string
      ineligibilityReason:
        description: Reason the account is ineligible to launch paid listings
        enum: *id007
        type: string
        x-obmcs-top-level-enum: '#/definitions/IneligibilityReasonEnum'
      isLaunchAllowed:
        description: Is the tenant permitted to launch the PIC image
        type: boolean
      meters:
        description: related meters for the PIC image
        type: string
    required:
    - imageId
    - isLaunchAllowed
    type: object
    x-example: "[\n  {\n    \"imageId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaavvijdvafj64pj5y45k7qgda2um7qdsunr6snzl2456s5isvyuaoq\"\
      ,\n    \"isLaunchAllowed\" : true,\n    \"meters\" : \"{\\\"default\\\" : {\\\"pausedOnInstanceStop\\\
      \" : true,\\\"extendedMeters\\\" : [{\\\"name\\\" : \\\"MP_BOBO_AP\\\",\\\"minimumBillingPeriodInHours\\\
      \" : 0}]}}\"\n  }\n  {\n    \"imageId\" : \"ocid1.appcataloglisting.oc1..aaaaaaaavvijdvafj64pj5y45k7qgda2um7qdsunr6snzl2456s5isvyuaoq\"\
      ,\n    \"isLaunchAllowed\" : false,\n    \"meters\" : \"{\\\"default\\\" : {\\\"pausedOnInstanceStop\\\
      \" : true,\\\"extendedMeters\\\" : [{\\\"name\\\" : \\\"MP_BOBO_AP\\\",\\\"minimumBillingPeriodInHours\\\
      \" : 0}]}}\"\n    \"ineligibilityReason\" : \"INELIGILE_PAID_LISTING_THROTTLED\"\n  }\n]\n"
  Link:
    description: The model for links.
    properties:
      href:
        description: The anchor tag.
        maxLength: 1000
        minLength: 0
        type: string
      rel:
        description: Reference links to the previous page, next page, and other pages.
        enum: &id008
        - SELF
        - CANONICAL
        - NEXT
        - TEMPLATE
        - PREV
        type: string
        x-obmcs-top-level-enum: '#/definitions/LinkEnum'
    type: object
    x-example: "{\n  \"rel\" : \"CANONICAL\",\n  \"href\" : \"https://ocm-apis-cloud.oracle.com/appstore/marketplace/v2/publishers/7376171\"\
      \n}\n"
  LinkEnum:
    description: Possible values for a link type.
    enum: *id008
    type: string
  Listing:
    description: The model for an Oracle Cloud Infrastructure Marketplace listing.
    properties:
      banner:
        $ref: '#/definitions/UploadData'
      categories:
        description: Categories that the listing belongs to.
        items:
          type: string
        type: array
      compatibleArchitectures:
        description: The list of compatible architectures supported by the listing
        items:
          enum: *id009
          type: string
        type: array
      defaultPackageVersion:
        description: The default package version.
        maxLength: 200
        minLength: 0
        type: string
      documentationLinks:
        description: Links to additional documentation provided by the publisher specifically for the
          listing.
        items:
          $ref: '#/definitions/DocumentationLink'
        type: array
      icon:
        $ref: '#/definitions/UploadData'
      id:
        description: The unique identifier for the listing in Marketplace.
        maxLength: 255
        minLength: 0
        type: string
      isFeatured:
        description: Indicates whether the listing is included in Featured Listings.
        type: boolean
      keywords:
        description: Keywords associated with the listing.
        maxLength: 200
        minLength: 0
        type: string
      languages:
        description: Languages supported by the listing.
        items:
          $ref: '#/definitions/Item'
        type: array
      licenseModelDescription:
        description: A description of the publisher's licensing model for the listing.
        maxLength: 4000
        minLength: 0
        type: string
      links:
        description: Links to reference material.
        items:
          $ref: '#/definitions/Link'
        type: array
      listingType:
        description: The publisher category to which the listing belongs. The publisher category informs
          where the listing appears for use.
        enum: *id010
        type: string
        x-obmcs-top-level-enum: '#/definitions/ListingType'
      longDescription:
        description: A long description of the listing.
        maxLength: 4000
        minLength: 0
        type: string
      name:
        description: The name of the listing.
        maxLength: 200
        minLength: 0
        type: string
      packageType:
        description: The listing's package type.
        enum: *id011
        type: string
        x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
      publisher:
        $ref: '#/definitions/Publisher'
      regions:
        description: 'The regions where you can deploy the listing. (Some listings have restrictions that
          limit their deployment to United States regions only.)

          '
        items:
          $ref: '#/definitions/Region'
        type: array
      releaseNotes:
        description: Release notes for the listing.
        maxLength: 4000
        minLength: 0
        type: string
      screenshots:
        description: Screenshots of the listing.
        items:
          $ref: '#/definitions/Screenshot'
        type: array
      shortDescription:
        description: A short description of the listing.
        maxLength: 320
        minLength: 0
        type: string
      supportContacts:
        description: Contact information to use to get support from the publisher for the listing.
        items:
          $ref: '#/definitions/SupportContact'
        type: array
      supportLinks:
        description: Links to support resources for the listing.
        items:
          $ref: '#/definitions/NamedLink'
        type: array
      supportedOperatingSystems:
        description: List of operating systems supported by the listing.
        items:
          $ref: '#/definitions/OperatingSystem'
        type: array
      systemRequirements:
        description: System requirements for the listing.
        maxLength: 4000
        minLength: 0
        type: string
      tagline:
        description: The tagline of the listing.
        maxLength: 200
        minLength: 0
        type: string
      timeReleased:
        description: The release date of the listing.
        format: date-time
        type: string
      usageInformation:
        description: Usage information for the listing.
        maxLength: 4000
        minLength: 0
        type: string
      version:
        description: The version of the listing.
        maxLength: 200
        minLength: 0
        type: string
      videos:
        description: Videos of the listing.
        items:
          $ref: '#/definitions/NamedLink'
        type: array
    type: object
    x-example: "{\n  \"id\" : \"29367738\",\n  \"name\" : \"RackWare RMM 6.5 for OCI\",\n  \"version\"\
      \ : \"6.5.0\",\n  \"tagline\" : \"RackWare RMM provides an image mobility and disaster recovery\
      \ solution\",\n  \"keywords\" : \"Migration, Disaster Recovery, Bare Metal\",\n  \"shortDescription\"\
      \ : \"RMM provides complete cloud management. Cloud Migration, Image Mobility, Disaster Recovery,\
      \ Backup, intelligent provisioning, autoscaling, and cloud governance that harnesses the benefits\
      \ of cloud technology, while taking advantage of existing IT capabilities and investments.\",\n\
      \  \"usageInformation\" : \"&lt;p&gt;Open TCP ports 22 ingress/egress&nbsp;to RMM from Source hosts&lt;/p&gt;\\\
      n\\n&lt;p&gt;Open TCP port 22 ingress/egress from RMM to target OCI networks&lt;/p&gt;\\n\\n&lt;p&gt;Open\
      \ TCP port 443 ingress to RMM from where you will access the GUI&lt;/p&gt;\\n\\n&lt;p&gt;Login through\
      \ firefox or chrome browser to https://&lt;ip of rmm&gt;&lt;/p&gt;\\n\\n&lt;p&gt;Click on the obtain\
      \ license button&lt;/p&gt;\\n\\n&lt;p&gt;Follow licensing email information once received to complete\
      \ product registration and obtain additional login information&lt;/p&gt;\\n\\n&lt;p&gt;After product\
      \ has been licensed please see: Rackware RMM Getting Started for Oracle Marketplace&lt;/p&gt;\\\
      n\\n&lt;p&gt;&lt;a href=\\\"http://www.rackwareinc.com/rackware-rmm-getting-started-for-oracle-marketplace\\\
      \"&gt;&lt;strong&gt;rackware-rmm-getting-started-for-oracle-marketplace&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;\"\
      ,\n  \"longDescription\" : \"&lt;p&gt;RMM provides a Disaster Recovery solution that builds on its\
      \ image mobility and elasticity features to bring economic DR to enterprises. The building blocks\
      \ of RackWare&rsquo;s DR solution include onboarding, cloud bursting and the policy framework to\
      \ automate necessary functions. Captured images from production instances bare metal or virtualized)\
      \ are cloned and pushed out to a local or remote DR site. Changes in production images are periodically\
      \ synchronized with the remote images, keeping the original host Image and the DR image in sync.\
      \ In the event of an outage at the origin site, the up to date image at the DR site can assume operations\
      \ through RackWare&rsquo;s fail-over mechanism.&lt;/p&gt;\",\n  \"licenseModelDescription\" : \"\
      Paid (Contact for pricing details)\",\n  \"systemRequirements\" : \"&lt;p&gt;RMM Version 6.x (Incorporated\
      \ in marketplace app.)&lt;/p&gt;\\n\\n&lt;p&gt;&lt;strong&gt;Minimum requirements:&lt;/strong&gt;&lt;/p&gt;\\\
      n\\n&lt;p&gt;1 OCPUs&lt;br /&gt;\\n7 GB memory&lt;br /&gt;\\n&lt;br /&gt;\\n&lt;strong&gt;Deploy\
      \ Second disk to store Data:&lt;/strong&gt;&lt;/p&gt;\\n\\n&lt;ul&gt;\\n\\t&lt;li&gt;For Workload\
      \ migrations only a small data disk of 50gb needs to be configured to hold metatadata.&lt;/li&gt;\\\
      n\\t&lt;li&gt;For Disaster Recovery with backup a data disk sufficient to hold the amount of used\
      \ data to be captured from source is required. Storage equal to the total used storage x 1.1 plus\
      \ ensure enough allocated storage to accommodate growth (of the used space only).&lt;/li&gt;\\n&lt;/ul&gt;\\\
      n\\n&lt;p&gt;&nbsp;&lt;/p&gt;\\n\",\n  \"timeReleased\" : \"2019-02-04T00:00:00.000Z\",\n  \"releaseNotes\"\
      \ : \"&lt;ul&gt;\\n\\t&lt;li&gt;&lt;strong&gt;Whitelist/blacklist drives&lt;/strong&gt;&nbsp;&ndash;\
      \ flexible support for networked storage and the ability to mark networked drives as whitelist or\
      \ blacklist and selectively include them for migration to the cloud&lt;/li&gt;\\n\\t&lt;li&gt;&lt;strong&gt;Backup\
      \ wizard&lt;/strong&gt;&nbsp;&ndash; includes policy configuration on top of a disaster recovery\
      \ policy.&nbsp;&lt;/li&gt;\\n\\t&lt;li&gt;&lt;strong&gt;Single file restore&lt;/strong&gt;&lt;/li&gt;\\\
      n\\t&lt;li&gt;&lt;strong&gt;Openstack Auto provisioning&lt;/strong&gt;&lt;/li&gt;\\n\\t&lt;li&gt;&lt;strong&gt;Data\
      \ Guard&lt;/strong&gt;&nbsp;&ndash; disaster recovery (DR) policy integration with Oracle Data Guard&lt;/li&gt;\\\
      n&lt;/ul&gt;\\n\\n&lt;p&gt;&nbsp;&lt;/p&gt;\\n\",\n  \"categories\" : [ \"Migration\" ],\n  \"publisher\"\
      \ : {\n    \"id\" : \"7376171\",\n    \"name\" : \"Rackware, Inc.\",\n    \"description\" : \"Data\
      \ Migration, Cloud Automation and Disaster Recovery\",\n    \"yearFounded\" : 2008,\n    \"websiteUrl\"\
      \ : \"http://www.rackwareinc.com/\",\n    \"contactEmail\" : \"info@rackwareinc.com\",\n    \"contactPhone\"\
      \ : \"408.430.5821\",\n    \"hqAddress\" : \"Fremont, CA, United States\",\n    \"logo\" : null,\n\
      \    \"links\" : [ {\n      \"rel\" : \"CANONICAL\",\n      \"href\" : \"https://ocm-apis-cloud.oracle.com/appstore/marketplace/v2/publishers/7376171\"\
      \n    } ]\n  },\n  \"languages\" : [ {\n    \"name\" : \"English\",\n    \"code\" : \"en_US\"\n\
      \  } ],\n  \"screenshots\" : [ {\n    \"name\" : \"rmmlite-landing_page\",\n    \"description\"\
      \ : \"\",\n    \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51607333\"\
      ,\n    \"mimeType\" : \"application/octet-stream\",\n    \"fileExtension\" : \"png\"\n  } ],\n \
      \ \"videos\" : [ {\n    \"name\" : \"RackWare RMM for Oracle Bare Metal Cloud\",\n    \"url\" :\
      \ \"https://youtu.be/9lBn3R_btI0\"\n  } ],\n  \"supportContacts\" : [ {\n    \"name\" : \"Tech Support\"\
      ,\n    \"phone\" : null,\n    \"email\" : \"support@rackwareinc.com\",\n    \"subject\" : null\n\
      \  }, {\n    \"name\" : \"Tech Support\",\n    \"phone\" : \"1 844 797 8776\",\n    \"email\" :\
      \ null,\n    \"subject\" : null\n  } ],\n  \"supportLinks\" : [ {\n    \"name\" : \"RackWare Support\"\
      ,\n    \"url\" : \"http://www.rackwareinc.com/support/\"\n  } ],\n  \"documentationLinks\" : [ {\n\
      \    \"name\" : \"RackWare RMM Platform\",\n    \"url\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603917\"\
      ,\n    \"documentCategory\" : \"Data Sheets\"\n  }, {\n  \"name\" : \"RackWare Migration and Replicaiton\"\
      ,\n  \"url\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603909\",\n\
      \  \"documentCategory\" : \"Data Sheets\"\n  }, {\n  \"name\" : \"RackWare Risk and Change Management\
      \ Process\",\n  \"url\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603916\"\
      ,\n  \"documentCategory\" : \"Whitepapers\"\n  }, {\n  \"name\" : \"RackWare Disaster Recovery\"\
      ,\n  \"url\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603908\",\n\
      \  \"documentCategory\" : \"Whitepapers\"\n  }, {\n  \"name\" : \"Rackware RMM Getting Started for\
      \ Oracle OCI\",\n  \"url\" : \"https://www.rackwareinc.com/rackware-rmm-getting-started-for-oracle-marketplace\"\
      ,\n  \"documentCategory\" : \"User Guides\"\n  } ],\n\"icon\" : {\n  \"name\" : \"\",\n  \"contentUrl\"\
      \ : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603914\",\n  \"mimeType\"\
      \ : \"image/jpeg\",\n  \"fileExtension\" : \"jpg\"\n},\n\"banner\" : null,\n\"regions\" : [ {\n\
      \  \"name\" : \"us-phoenix-1\",\n  \"code\" : \"PHX\",\n  \"countries\" : []\n},\n{\n  \"name\"\
      \ : \"us-ashburn-1\",\n  \"code\" : \"IAD\",\n  \"countries\" : []\n}],\n\"packageType\" : \"IMAGE\"\
      ,\n\"defaultPackageVersion\" : \"6.5.0\",\n\"links\" : [ ]\n\"listingType\": \"COMMUNITY\",\n\"\
      supportedOperatingSystems\": [ {\n    \"name\" : \"Linux\"\n}]\n}\n"
  ListingPackage:
    description: A base object for all types of listing packages.
    discriminator: packageType
    properties:
      description:
        description: Description of this package.
        type: string
      listingId:
        description: The ID of the listing this package belongs to.
        type: string
      operatingSystem:
        $ref: '#/definitions/OperatingSystem'
      packageType:
        description: The specified package's type.
        enum: *id011
        type: string
        x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
      pricing:
        $ref: '#/definitions/PricingModel'
      regions:
        description: 'The regions where you can deploy the listing package. (Some packages have restrictions
          that limit their deployment to United States regions only.)

          '
        items:
          $ref: '#/definitions/Region'
        type: array
      resourceId:
        description: The unique identifier for the package resource.
        type: string
      timeCreated:
        description: 'The date and time this listing package was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

          timestamp format.


          Example: `2016-08-25T21:10:29.600Z`

          '
        format: date-time
        type: string
      version:
        description: The package version.
        type: string
    required:
    - listingId
    - version
    - packageType
    x-example: "{\n  \"listingId\": \"ocid1.listing.123\",\n  \"resourceId\": \"123e4567-e89b-12d3-a456-426614174000\"\
      ,\n  \"packageVersion\": \"v1\",\n  \"packageType\": \"IMAGE\",\n  \"operatingSystem\": {\"name\"\
      \ : \"Linux\"}\n}\n"
  ListingPackageSummary:
    description: The model for a summary of a package.
    properties:
      listingId:
        description: The ID of the listing that the specified package belongs to.
        type: string
      packageType:
        description: The specified package's type.
        enum: *id011
        type: string
        x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
      packageVersion:
        description: The version of the specified package.
        type: string
      pricing:
        $ref: '#/definitions/PricingModel'
      regions:
        description: 'The regions where you can deploy the listing package. (Some packages have restrictions
          that limit their deployment to United States regions only.)

          '
        items:
          $ref: '#/definitions/Region'
        type: array
      resourceId:
        description: The unique identifier for the package resource.
        type: string
      timeCreated:
        description: 'The date and time this listing package was created, expressed in [RFC 3339](https://tools.ietf.org/html/rfc3339)

          timestamp format.


          Example: `2016-08-25T21:10:29.600Z`

          '
        format: date-time
        type: string
    type: object
    x-example: "[\n  {\n    \"listingId\" : \"55805922\",\n    \"packageVersion\" : \"WLS 12.2.1.3.19041601\"\
      ,\n    \"packageType\" : \"ORCHESTRATION\",\n    \"pricing\": {\n      \"type\": \"FREE\",\n   \
      \   \"payGoStrategy\": \"PER_OCPU_LINEAR\",\n      \"currency\": \"USD\",\n      \"rate\": 1.3,\n\
      \      \"internationalMarketPrice\": {\n        \"currencyCode\": \"GBP\",\n        \"currencySymbol\"\
      : \"£\",\n        \"rate\": 1.3\n      }\n    },\n    \"regions\" : [ {\n      \"name\" : \"us-phoenix-1\"\
      ,\n      \"code\" : \"PHX\",\n      \"countries\" : []\n    },\n    {\n      \"name\" : \"us-ashburn-1\"\
      ,\n      \"code\" : \"IAD\",\n      \"countries\" : []\n    }],\n    \"resourceId\" : \"56461050\"\
      ,\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  },\n  {\n    \"listingId\" : \"55805922\"\
      ,\n    \"packageVersion\" : \"WLS 10.3.6.0.19041601(11.1.1.7)\",\n    \"packageType\" : \"ORCHESTRATION\"\
      ,\n    \"pricing\": {\n      \"type\": \"FREE\",\n      \"payGoStrategy\": \"PER_OCPU_LINEAR\",\n\
      \      \"currency\": \"USD\",\n      \"rate\": 0\n    },\n    \"regions\" : [ {\n      \"name\"\
      \ : \"us-phoenix-1\",\n      \"code\" : \"PHX\",\n      \"countries\" : []\n    },\n    {\n    \
      \  \"name\" : \"us-ashburn-1\",\n      \"code\" : \"IAD\",\n      \"countries\" : []\n    }],\n\
      \    \"resourceId\" : \"56461059\",\n    \"timeCreated\" : \"2019-05-02T00:00:00.000Z\"\n  }\n]\n"
  ListingSummary:
    description: The model for a summary of an Oracle Cloud Infrastructure Marketplace listing.
    properties:
      categories:
        description: Product categories that the listing belongs to.
        items:
          type: string
        type: array
      compatibleArchitectures:
        description: The list of compatible architectures supported by the listing
        items:
          enum: *id009
          type: string
        type: array
      icon:
        $ref: '#/definitions/UploadData'
      id:
        description: The unique identifier for the listing in Marketplace.
        maxLength: 18
        minLength: 0
        type: string
      isFeatured:
        description: Indicates whether the listing is featured.
        type: boolean
      isRoverExportable:
        default: false
        description: True if this application is Rover exportable
        type: boolean
      listingType:
        description: The publisher category to which the listing belongs. The publisher category informs
          where the listing appears for use.
        enum: *id010
        type: string
        x-obmcs-top-level-enum: '#/definitions/ListingType'
      name:
        description: The name of the listing.
        maxLength: 200
        minLength: 0
        type: string
      packageType:
        description: The listing's package type.
        enum: *id011
        type: string
        x-obmcs-top-level-enum: '#/definitions/PackageTypeEnum'
      pricingTypes:
        description: Summary of the pricing types available across all packages in the listing.
        items:
          $ref: '#/definitions/PricingTypeEnum'
        type: array
      publisher:
        $ref: '#/definitions/PublisherSummary'
      regions:
        description: 'The regions where you can deploy the listing. (Some listings have restrictions that
          limit their deployment to United States regions only.)

          '
        items:
          $ref: '#/definitions/Region'
        type: array
      shortDescription:
        description: A short description of the listing.
        maxLength: 320
        minLength: 0
        type: string
      supportedOperatingSystems:
        description: The list of operating systems supported by the listing.
        items:
          $ref: '#/definitions/OperatingSystem'
        type: array
      tagline:
        description: The tagline of the listing.
        maxLength: 200
        minLength: 0
        type: string
    type: object
    x-example: "[\n  {\n    \"id\" : \"16132843\",\n    \"name\" : \"Jenkins Certified by Bitnami\",\n\
      \    \"shortDescription\" : \"Jenkins image is secure, up-to-date and pre-configured to work out\
      \ of the box.\",\n    \"tagline\" : \"Continuous Integration software from the leading publisher\"\
      ,\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=53066708\"\
      ,\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\"\
      \ : null,\n    \"supportedOperatingSystems\": [ {\n      \"name\" : \"Linux\"\n    }],\n    \"listingType\"\
      : \"COMMUNITY\",\n  },\n  {\n    \"id\" : \"29367738\",\n    \"name\" : \"RackWare RMM 6.5 for OCI\"\
      ,\n    \"shortDescription\" : \"RMM provides complete cloud management. Cloud Migration, Image Mobility,\
      \ Disaster Recovery, Backup, intelligent provisioning, autoscaling, and cloud governance that harnesses\
      \ the benefits of cloud technology, while taking advantage of existing IT capabilities and investments.\"\
      ,\n    \"tagline\" : \"RackWare RMM provides an image mobility and disaster recovery solution\"\
      ,\n    \"icon\" : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=51603914\"\
      ,\n      \"mimeType\" : \"image/jpeg\",\n      \"fileExtension\" : \"jpg\"\n    },\n    \"regions\"\
      \ : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n\
      \    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  ),\n  {\n\
      \    \"id\" : \"37604515\",\n    \"name\" : \"Check Point CloudGuard IaaS - Security Gateway\",\n\
      \    \"shortDescription\" : \"Check Point CloudGuard IaaS - Next Generation Firewall & Advanced\
      \ Threat Prevention\",\n    \"tagline\" : \"Advanced Cloud Security\",\n    \"icon\" : {\n     \
      \ \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=39346645\"\
      ,\n      \"mimeType\" : \"application/octet-stream\",\n      \"fileExtension\" : \"png\"\n    },\n\
      \    \"regions\" : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\
      \n    }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n\
      \  },\n  {\n    \"id\" : \"37989673\",\n    \"name\" : \"Redmine Certified by Bitnami\",\n    \"\
      shortDescription\" : \"Redmine image is secure, up-to-date and pre-configured to work out of the\
      \ box.\",\n    \"tagline\" : \"Bug Tracking software from the leading publisher\",\n    \"icon\"\
      \ : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=52545231\"\
      ,\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\"\
      \ : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n\
      \    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n\
      \    \"id\" : \"37990057\",\n    \"name\" : \"GitLab CE Certified by Bitnami\",\n    \"shortDescription\"\
      \ : \"GitLab CE image is secure, up-to-date and pre-configured to work out of the box.\",\n    \"\
      tagline\" : \"Version Control software from the leading publisher\",\n    \"icon\" : {\n      \"\
      name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=52572182\"\
      ,\n      \"mimeType\" : \"image/png\",\n      \"fileExtension\" : \"png\"\n    },\n    \"regions\"\
      \ : null,\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n    }],\n\
      \    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n  {\n\
      \    \"id\" : \"38376199\",\n    \"name\" : \"PeopleSoft Cloud Manager Image for OCI\",\n    \"\
      shortDescription\" : \"PeopleSoft Cloud Manager provides easy to use platform administration capabilities,\
      \ including provisioning automation and monitoring for PeopleSoft application environments.\",\n\
      \    \"tagline\" : \"PeopleSoft Cloud Manager Image 08 for OCI with PT 8.56.12\",\n    \"icon\"\
      \ : {\n      \"name\" : \"\",\n      \"contentUrl\" : \"https://cloudmarketplace.oracle.com/marketplace/content?contentId=54585108\"\
      ,\n      \"mimeType\" : \"image/jpeg\",\n      \"fileExtension\" : \"jpg\"\n    },\n    \"regions\"\
      \ : [ {\n      \"name\" : \"us-phoenix-1\",\n      \"code\" : \"PHX\",\n      \"countries\" : []\n\
      \    },\n    {\n      \"name\" : \"us-ashburn-1\",\n      \"code\" : \"IAD\",\n      \"countries\"\
      \ : []\n    }],\n    \"supportedOperatingSystems\": [ {\n              \"name\" : \"Linux\"\n  \
      \  }],\n    \"listingType\": \"COMMUNITY\",\n    \"compatibleArchitectures\" : [ \"X86\" ],\n  },\n\
      \  {\n    \"id\" : \"39647604\",\n    \"name\" : \"Fortinet FortiManager-VM Centralized Security\
      \ Management for OCI\",\n    \"shortDescription\" : \"FortiManager's Security Operationalized Visibility\
      \ across your Fortinet Security Fabric enables true security effectiveness and foresight to identify\
      \ and understand the scope of threats, and facilites actionable response and remediation of risks.\"\
[...]
