swagger: '2.0'
info:
  description: <p>Oracle Cloud My Services API is an Internet facing service that allows customers to
    access the Oracle Cloud</p>
  title: Oracle Cloud My Services API
  version: v1
  x-provenance:
    method: harvested
    first_party: true
    publisher: Oracle
    source: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    harvested: '2026-08-04'
    note: Published by Oracle as the contract for the Oracle Cloud My Services API OCI service and stored
      verbatim; API Evangelist added only this provenance block.
  x-evidence:
  - url: https://docs.oracle.com/en-us/iaas/api/specs/index.json
    what: Oracle's own index of every OCI service specification
  - url: https://docs.oracle.com/en-us/iaas/api/specs/2fd4343e03912de02e1b6e82eb9fed428530a4191aff1e43fb986fb90c429748.json
    what: the harvested document for Oracle Cloud My Services API
host: itra.oraclecloud.com
basePath: /itas
schemes:
- https
tags:
- description: Cloud Account Resource.
  name: CloudAccountResource
- description: Cloud Account Resource collection.
  name: CloudAccountsResource
- description: The Operation resource represents an asynchronous task to be performed by back end services.
  name: OperationResource
- description: Operation Resource Collection.
  name: OperationsResource
- description: Purchase Entitlement Resource.
  name: PurchaseEntitlementResource
- description: Purchase Entitlement Resource Collection.
  name: PurchaseEntitlementsResource
- description: Represents a Service Entitlement Service Configuration Exadata SecurityGroup Resource.
  name: SEExadataSecurityGroupResource
- description: Represents a Service Entitlement Service Configuration Exadata SecurityGroups Resource.
  name: SEExadataSecurityGroupsResource
- description: Represents a Service Entitlement ServiceConfiguration resource.
  name: SEServiceConfigurationResource
- description: Represents a Service Entitlement ServiceConfiguration resource collection.
  name: SEServiceConfigurationsResource
- description: Represents a Service Instance Service Configuration Exadata Bursting Resource.
  name: SIExadataBurstingResource
- description: Represents a Service Instance Service Configuration Exadata SecurityGroupAssignment Resource.
  name: SIExadataSecurityGroupAssignmentResource
- description: Represents a Service Instance Service Configuration Exadata SecurityGroupAssignments Resource.
  name: SIExadataSecurityGroupAssignmentsResource
- description: Represents a Service Instance ServiceConfiguration resource.
  name: SIServiceConfigurationResource
- description: Represents a Service Instance ServiceConfiguration resource collection.
  name: SIServiceConfigurationsResource
- description: Service Definition Resource.
  name: ServiceDefinitionResource
- description: Represents a serviceDefinition resource collection.
  name: ServiceDefinitionsResource
- description: Service Entitlement Resource.
  name: ServiceEntitlementResource
- description: Service Entitlement resource collection.
  name: ServiceEntitlementsResource
- description: Service Instance Resource.
  name: ServiceInstanceResource
- description: Service Instance resource collection.
  name: ServiceInstancesResource
paths:
  /{domain}/myservices/api/v1/cloudAccounts:
    get:
      description: Returns a Cloud Account resource collection, default ordering is "id:asc"
      operationId: resource_MSCloudAccountsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Filter on the cloud account name
        in: query
        name: name
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Ordering of the resources, this resource can be ordered by id, modifiedOn, createdOn
        in: query
        name: orderBy
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSCloudAccounts'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Cloud Account resource collection, default ordering is "id:asc".
      tags:
      - CloudAccountsResource
  /{domain}/myservices/api/v1/cloudAccounts/{id}:
    get:
      description: Returns a Cloud Account Resource
      operationId: resource_MSCloudAccountResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The unique Cloud Account Id
        in: path
        name: id
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSCloudAccount'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '404':
          description: The resource was not found.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Cloud Account Resource.
      tags:
      - CloudAccountResource
  /{domain}/myservices/api/v1/operations:
    get:
      description: Returns operation resource collection, default ordering is "id:asc"
      operationId: resource_MSOperationsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      - description: Range end filter based on the createdOn attribute
        in: query
        name: createdOnRangeEnd
        type: string
      - description: Range start filter based on the createdOn attribute
        in: query
        name: createdOnRangeStart
        type: string
      - default: operationItems
        description: 'list of sub objects to expand inside the operation object, supported values: none,
          operationItems'
        in: query
        name: expands
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Range end filter based on the modifiedOn attribute
        in: query
        name: modifiedOnRangeEnd
        type: string
      - description: Range start filter based on the modifiedOn attribute
        in: query
        name: modifiedOnRangeStart
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Return all operations who have an operationitem containing the specified attribute
          name
        in: query
        name: operationItemAttributeName
        type: string
      - description: Return all operations who have an operationitem containing the specified attribute
          value
        in: query
        name: operationItemAttributeValue
        type: string
      - description: Comma separated list of operation item current actions, operation whose operation
          item current action matches one of the specified curent action will be returned.
        in: query
        name: operationItemCurrentActions
        type: string
      - description: DEPRECATED, use operationItemDefinitionIds, return the operations with an operation
          item definition specified
        in: query
        name: operationItemDefinitionId
        type: string
      - description: Comma separated list of operation item definitions, operations whose operation item
          has one of the specified operation item definition ids will be returned.
        in: query
        name: operationItemDefinitionIds
        type: string
      - description: Return the operation containing this operation item id
        in: query
        name: operationItemId
        type: string
      - description: DEPRECATED, use operationItemStatuses, return the operations having at least one
          operation item with the specified status
        enum:
        - ASYNC_WAIT
        - FAILED
        - PROCESSED
        - PROCESSING
        - READY
        - WAITING
        in: query
        name: operationItemStatus
        type: string
      - description: Comma separated list of operation item statuses, operations whose operation item
          status matches one of the specified operation item statuses will be returned.
        in: query
        name: operationItemStatuses
        type: string
      - description: Ordering of the resources, this resource can be ordered by id, createdOn, modifiedOn
        in: query
        name: orderBy
        type: string
      - description: DEPRECATED, use statuses,  operations whose status matches the specified operation
          status will be returned.
        enum:
        - FAILED
        - NEW
        - PENDING_APPROVAL
        - PROCESSED
        - PROCESSING
        - REJECTED
        in: query
        name: status
        type: string
      - description: Comma separated list of operation statuses, operations whose status matches one of
          the specified operation statuses will be returned.
        in: query
        name: statuses
        type: string
      - default: TRA
        description: Subsytem to query, currently only TRA is supported, operations from other subsystems
          can only be queried by id.
        enum:
        - CIM
        - TAS
        - TRA
        in: query
        name: subSystem
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSOperations'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '429':
          description: Too Many Requests, too many requests sent in a given amount of time or too many
            simultaneous requests for the same user being processed.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns operation resource collection, default ordering is "id:asc".
      tags:
      - OperationsResource
    post:
      consumes:
      - application/json
      description: "<p>The operations resource is a mean to send and monitor asynchronous operations to\
        \ various Oracle Cloud Service Components.\nThe operations consist of items defined in the operationItemDefinitions\
        \ resource. </p>\n\n<p>Sample for creating a new service instance</p>\n<pre class=\"prettyprint\
        \ lang-js\">\n   POST /itas/idcs-b613095893a44b0582073eb2edade2de/myservices/api/v1/operations\
        \ HTTP/1.1\n   User-Agent: test/1.0\n   Host: host\n   Accept: application/json\n   Content-Type:application/json\n\
        \n   {\n   \"operationItems\": [\n    {\n      \"attributes\": [\n        {\n          \"name\"\
        : \"requestPayload.name\",\n          \"value\": \"myServiceName\"\n        },\n        {\n  \
        \        \"name\": \"requestPayload.serviceEntitlementId\",\n          \"value\": \"500176796\"\
        \n        },\n        {\n          \"name\": \"requestPayload.size\",\n          \"value\": \"\
        CUSTOM\"\n        },\n        {\n          \"name\": \"requestPayload.serviceType\",\n       \
        \   \"value\": \"IDCS\"\n        },\n        {\n          \"name\": \"requestPayload.customAttributes.PickInstanceSize\"\
        ,\n          \"value\": \"Identity Cloud Service Basic - Enterprise User- Non-metered - Hosted\
        \ Named User\"\n        }\n      ],\n      \"operationItemDefinition\": {\n        \"id\": \"\
        CIM-IDCS-CUSTOM--CREATE\",\n        \"operationType\": \"CREATE\",\n        \"canonicalLink\"\
        : \"/itas/idcs-b613095893a44b0582073eb2edade2de/myservices/api/operationItemDefinitions/CIM-IDCS-CUSTOM--CREATE\"\
        \n      }\n    }\n   ]\n   }\n</pre>"
      operationId: resource_MSOperationsResource_post_POST
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      - description: ''
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSOperation'
          description: ''
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: .
      tags:
      - OperationsResource
  /{domain}/myservices/api/v1/operations/{id}:
    get:
      description: Retrieves an operation by its id.
      operationId: resource_MSOperationResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The unique Operation Id
        in: path
        name: id
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      - default: operationItems
        description: ''
        in: query
        name: expands
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSOperation'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '404':
          description: The resource was not found.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Retrieves an operation by its id.
      tags:
      - OperationResource
    put:
      consumes:
      - application/json
      description: Update an operation
      operationId: resource_MSOperationResource_put_PUT
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: The unique Operation Id
        in: path
        name: id
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      - description: ''
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSOperation'
          description: ''
      produces:
      - application/json
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            description: ''
            type: file
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '404':
          description: The resource was not found.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Update an operation.
      tags:
      - OperationResource
  /{domain}/myservices/api/v1/purchaseEntitlements:
    get:
      description: Purchase Entitlement resource collection, default ordering is "id:asc"
      operationId: resource_MSPurchaseEntitlementsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: Filter on a list of ids
        in: query
        name: ids
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Ordering of the resources, this resource can be ordered by id, modifiedOn, createdOn
        in: query
        name: orderBy
        type: string
      - description: Filter on a list of service definition names
        in: query
        name: serviceDefinitionNames
        type: string
      - description: Filter on a list of statuses
        in: query
        name: statuses
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSPurchaseEntitlements'
            description: ''
        default:
          description: Unexpected error.
      summary: Purchase Entitlement resource collection, default ordering is "id:asc".
      tags:
      - PurchaseEntitlementsResource
  /{domain}/myservices/api/v1/purchaseEntitlements/{id}:
    get:
      description: Returns a Purchase Entitlement
      operationId: resource_MSPurchaseEntitlementResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: Purchase Entitlement unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSPurchaseEntitlement'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Purchase Entitlement.
      tags:
      - PurchaseEntitlementResource
  /{domain}/myservices/api/v1/serviceDefinitions:
    get:
      description: 'Service Definition resource, contains metadata about Purchase Entitlements, Service
        Entitlements and

        Service Instances, default ordering is "name:asc"'
      operationId: resource_MSServiceDefinitionsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Service Definition name
        in: query
        name: name
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Ordering of the resources, this resource can be ordered by name
        in: query
        name: orderBy
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceDefinitions'
            description: ''
        default:
          description: Unexpected error.
      summary: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements
        and

        Service Instances, default ordering is "name:asc".'
      tags:
      - ServiceDefinitionsResource
  /{domain}/myservices/api/v1/serviceDefinitions/{id}:
    get:
      description: 'Service Definition resource, contains metadata about Purchase Entitlements, Service
        Entitlements and

        Service Instances.'
      operationId: resource_MSServiceDefinitionResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceDefinition unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceDefinition'
            description: ''
        default:
          description: Unexpected error.
      summary: 'Service Definition resource, contains metadata about Purchase Entitlements, Service Entitlements
        and

        Service Instances.'
      tags:
      - ServiceDefinitionResource
  /{domain}/myservices/api/v1/serviceEntitlements:
    get:
      description: Returns a Service Entitlement resource collection, default ordering is "id:asc"
      operationId: resource_MSServiceEntitlementsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: Filter on a list of ids
        in: query
        name: ids
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Ordering of the resources, this resource can be ordered by id, modifiedOn, createdOn
        in: query
        name: orderBy
        type: string
      - description: Filter on purchase entitlement id
        in: query
        name: purchaseEntitlementId
        type: string
      - description: Filter on a list of service definition names
        in: query
        name: serviceDefinitionNames
        type: string
      - description: Filter on a list of statuses
        in: query
        name: statuses
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceEntitlements'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Service Entitlement resource collection, default ordering is "id:asc".
      tags:
      - ServiceEntitlementsResource
  /{domain}/myservices/api/v1/serviceEntitlements/{id}:
    get:
      description: Returns a Service Entitlement Resource
      operationId: resource_MSServiceEntitlementResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlement unique identifier
        in: path
        name: id
        required: true
        type: string
      - default: none
        description: Use expands=serviceInstancesEligibleDataCenters to obtain Eligible Data Centers
        in: query
        name: expands
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceEntitlement'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Service Entitlement Resource.
      tags:
      - ServiceEntitlementResource
  /{domain}/myservices/api/v1/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations:
    get:
      description: Returns SEServiceConfigurations resource collection
      operationId: resource_MSSEServiceConfigurationsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: Filter on a list of service definition names
        in: query
        name: serviceDefinitionNames
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSEServiceConfigurations'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SEServiceConfigurations resource collection.
      tags:
      - SEServiceConfigurationsResource
  /{domain}/myservices/api/v1/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{id}:
    get:
      description: Returns SEServiceConfiguration resource
      operationId: resource_MSSEServiceConfigurationResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: serviceConfiguration unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSEServiceConfiguration'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SEServiceConfiguration resource.
      tags:
      - SEServiceConfigurationResource
  ? /{domain}/myservices/api/v1/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups
  : get:
      description: Returns SEExadataSecurityGroup resource collection
      operationId: resource_MSSEExadataSecurityGroupsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSEExadataSecurityGroups'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SEExadataSecurityGroup resource collection.
      tags:
      - SEExadataSecurityGroupsResource
    post:
      consumes:
      - application/json
      description: "<p>Create a new Security Group</p>\n\n<br><strong>Sample - Create a new Security Group</strong><br>\n\
        \n<pre class=\"prettyprint lang-js\">\n POST /{domain}/myservices/api/{versionId}/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups\
        \ HTTP/1.1\n\n {\n   \"customerId\": \"504078663\",\n   \"name\": \"TestGroup2\",\n   \"description\"\
        : \"HR's first group\",\n   \"version\": 1,\n   \"rules\": [\n     {\n       \"direction\": \"\
        ingress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 30,\n       \"endPort\": 31,\n \
        \      \"ipSubnet\": \"100.100.100.255\",\n       \"ruleInterface\": \"admin\"\n     },\n    \
        \ {\n       \"direction\": \"egress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 32,\n\
        \       \"endPort\": 33,\n       \"ipSubnet\": \"100.100.255.255\",\n       \"ruleInterface\"\
        : \"admin\"\n     }\n   ]\n }\n \n </pre>"
      operationId: resource_MSSEExadataSecurityGroupsResource_post_POST
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: ''
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSSEExadataSecurityGroup'
          description: ''
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SEExadataSecurityGroupsResource
  ? /{domain}/myservices/api/v1/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups/{id}
  : delete:
      description: Deletes a SEExadataSecurityGroup resource.
      operationId: resource_MSSEExadataSecurityGroupResource_deleteSecurityGroup_DELETE
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSCloudAccount'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '404':
          description: The resource was not found.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Deletes a SEExadataSecurityGroup resource.
      tags:
      - SEExadataSecurityGroupResource
    get:
      description: Returns SEExadataSecurityGroup resource
      operationId: resource_MSSEExadataSecurityGroupResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        type: string
      - description: The identity domain name or the IDCS GUID of the user to authenticate.
        in: header
        name: X-ID-TENANT-NAME
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              description: Response body content type (application/json).
              type: string
          schema:
            $ref: '#/definitions/json_MSSEExadataSecurityGroup'
            description: ''
        '401':
          description: Unauthorized, specify a valid Authorization header + X-ID-TENANT-NAME header or
            substitute the domain in the url with  ".anon" for an anonymous request.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        '404':
          description: The resource was not found.
          headers: {}
          schema:
            $ref: '#/definitions/json_MSError'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SEExadataSecurityGroup resource.
      tags:
      - SEExadataSecurityGroupResource
    put:
      consumes:
      - application/json
      description: "<p>Modify an existing Security Group</p>\n\n<br><strong>Sample - Modify an existing\
        \ Security Group</strong><br>\n\n<pre class=\"prettyprint lang-js\">\n PUT /{domain}/myservices/api/{versionId}/serviceEntitlements/{serviceEntitlementId}/serviceConfigurations/{serviceConfigurationId}/securityGroups/{id}\
        \ HTTP/1.1\n\n {\n   \"id\": \"2\",\n   \"customerId\": \"504078663\",\n   \"name\": \"TestGroup2\"\
        ,\n   \"description\": \"HR's first group\",\n   \"rules\": [\n     {\n       \"direction\": \"\
        ingress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 30,\n       \"endPort\": 31,\n \
        \      \"ipSubnet\": \"100.100.100.255\",\n       \"ruleInterface\": \"admin\"\n     },\n    \
        \ {\n       \"direction\": \"egress\",\n       \"proto\": \"tcp\",\n       \"startPort\": 32,\n\
        \       \"endPort\": 33,\n       \"ipSubnet\": \"100.100.255.255\",\n       \"ruleInterface\"\
        : \"admin\"\n     }\n   ]\n }\n \n </pre>"
      operationId: resource_MSSEExadataSecurityGroupResource_put_PUT
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceEntitlementId unique identifier
        in: path
        name: serviceEntitlementId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: SecurityGroup unique identifier
        in: path
        name: id
        required: true
        type: string
      - description: SecurityGroup unique identifier
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSSEExadataSecurityGroup'
          description: ''
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SEExadataSecurityGroupResource
  /{domain}/myservices/api/v1/serviceInstances:
    get:
      description: Returns a Service Instance resource collection, default ordering is "id:asc"
      operationId: resource_MSServiceInstancesResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: Filter on a list of ids
        in: query
        name: ids
        type: string
      - description: Limits the number of resources to return
        in: query
        name: limit
        type: string
      - description: Starting offset of the resources to return
        in: query
        name: offset
        type: string
      - description: Ordering of the resources, this resource can be ordered by id, modifiedOn, createdOn
        in: query
        name: orderBy
        type: string
      - description: Filter on purchase entitlement id
        in: query
        name: purchaseEntitlementId
        type: string
      - description: Filter on a list of service definition names
        in: query
        name: serviceDefinitionNames
        type: string
      - description: ''
        in: query
        name: serviceEntitlementId
        type: string
      - description: Filter on a list of statuses
        in: query
        name: statuses
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceInstances'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Service Instance resource collection, default ordering is "id:asc".
      tags:
      - ServiceInstancesResource
  /{domain}/myservices/api/v1/serviceInstances/{id}:
    get:
      description: Returns a Service Instance Resource
      operationId: resource_MSServiceInstanceResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstance unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSServiceInstance'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns a Service Instance Resource.
      tags:
      - ServiceInstanceResource
  /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations:
    get:
      description: Returns SIServiceConfigurations resource collection
      operationId: resource_MSSIServiceConfigurationsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSIServiceConfigurations'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SIServiceConfigurations resource collection.
      tags:
      - SIServiceConfigurationsResource
  /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations/{id}:
    get:
      description: Returns SIServiceConfiguration resource
      operationId: resource_MSSIServiceConfigurationResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: serviceConfiguration unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSIServiceConfiguration'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SIServiceConfiguration resource.
      tags:
      - SIServiceConfigurationResource
  /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/bursting:
    get:
      description: Returns SIExadataBursting resource
      operationId: resource_MSSIExadataBurstingResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSIExadataBursting'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SIExadataBursting resource.
      tags:
      - SIExadataBurstingResource
    put:
      consumes:
      - application/json
      description: "<p>Modify bursting configuration</p>\n\n<br><strong>Sample - Modify bursting configuration</strong>\n\
        \n<pre class=\"prettyprint lang-js\"><br>\n PUT /{domain}/myservices/api/{versionId}/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/bursting\
        \ HTTP/1.1\n\n \n {\n   \"ocpuOpInProgress\": false,\n   \"exaunitId\": 19,\n   \"ocpuAllocations\"\
        : [\n     {\n       \"hostName\": \"host.us.oracle.com\",\n       \"subscriptionOcpu\": 8,\n \
        \      \"meteredOcpu\": 0,\n       \"burstOcpu\": 0,\n       \"minOcpu\": 1,\n       \"maxOcpu\"\
        : 34,\n       \"maxBurstOcpu\": 8,\n       \"maxSubOcpu\": 34,\n       \"maxMetOcpu\": 0\n   \
        \  },\n     {\n       \"hostName\": \"host.us.oracle.com\",\n       \"subscriptionOcpu\": 8,\n\
        \       \"meteredOcpu\": 0,\n       \"burstOcpu\": 0,\n       \"minOcpu\": 1,\n       \"maxOcpu\"\
        : 34,\n       \"maxBurstOcpu\": 8,\n       \"maxSubOcpu\": 34,\n       \"maxMetOcpu\": 0\n   \
        \  }\n   ],\n   \"additionalNumOfCoresHourly\": \"2\",\n   \"additionalNumOfCores\": \"3\",\n\
        \   \"coreBursting\": \"Y\"\n }\n \n </pre>"
      operationId: resource_MSSIExadataBurstingResource_put_PUT
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: ''
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSSIExadataBursting'
          description: ''
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SIExadataBurstingResource
  ? /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/securityGroupAssignment/{id}
  : delete:
      description: Remove a ExadataSecurityGroup assignment.
      operationId: resource_MSSIExadataSecurityGroupAssignmentResource_deleteSecurityGroupAssignment_DELETE
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: SecurityGroupAssignment unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: Remove a ExadataSecurityGroup assignment.
      tags:
      - SIExadataSecurityGroupAssignmentResource
    get:
      description: Returns ExadataSecurityGroupAssignment resource
      operationId: resource_MSSIExadataSecurityGroupAssignmentResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: SecurityGroupAssignment unique identifier
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSIExadataSecurityGroupAssignment'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns ExadataSecurityGroupAssignment resource.
      tags:
      - SIExadataSecurityGroupAssignmentResource
  ? /{domain}/myservices/api/v1/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/securityGroupAssignments
  : get:
      description: Returns SIExadataSecurityGroupAssignment resource collection
      operationId: resource_MSSIExadataSecurityGroupAssignmentsResource_get_GET
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Success
          headers: {}
          schema:
            $ref: '#/definitions/json_MSSIExadataSecurityGroupAssignments'
            description: ''
        default:
          description: Unexpected error.
      summary: Returns SIExadataSecurityGroupAssignment resource collection.
      tags:
      - SIExadataSecurityGroupAssignmentsResource
    post:
      consumes:
      - application/json
      description: "<p>Create a new Security Group Assignment</p>\n\n<br><strong>Sample - Create a new\
        \ Security Group Assignment</strong><br>\n\n<pre class=\"prettyprint lang-js\">\n POST /{domain}/myservices/api/{versionId}/serviceInstances/{serviceInstanceId}/serviceConfigurations/{serviceConfigurationId}/securityGroupAssignments\
        \ HTTP/1.1\n\n {\n   \"securityGroup\": {\n      \"id\": \"1\",\n  \"customerId\": \"504078663\"\
        ,\n      \"canonicalLink\": \"/itas/QL1Cc00013/myservices/api/serviceEntitlements/504078663/serviceConfigurations/Exadata/securityGroups/1\"\
        \n    }\n  }\n\n </pre>"
      operationId: resource_MSSIExadataSecurityGroupAssignmentsResource_post_POST
      parameters:
      - description: The identity domain name or the IDCS GUID of the resource
        in: path
        name: domain
        required: true
        type: string
      - description: ServiceInstanceId unique identifier
        in: path
        name: serviceInstanceId
        required: true
        type: string
      - description: ServiceConfigurationId unique identifier
        in: path
        name: serviceConfigurationId
        required: true
        type: string
      - description: ''
        in: body
        name: body
        schema:
          $ref: '#/definitions/json_MSSIExadataSecurityGroupAssignment'
          description: ''
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers: {}
          schema:
            description: ''
            type: file
        default:
          description: Unexpected error.
      summary: .
      tags:
      - SIExadataSecurityGroupAssignmentsResource
definitions:
  json_Actions:
    description: ''
    enum:
    - VERIFY_V1
    title: Actions
    type: string
  json_ApplicableServicePlan:
    description: ''
    properties:
      requestTypes:
        description: ''
        items:
          type: string
        type: array
      servicePlan:
        $ref: '#/definitions/json_ServicePlan'
        description: ''
    title: ApplicableServicePlan
    type: object
  json_AttributeValue:
    description: ''
    properties:
      name:
        description: Name of the attribute
        type: string
      parentId:
        description: ''
        type: string
      parentType:
        description: ''
        type: string
      propertySetId:
        description: ''
        type: string
      value:
        description: Value of the attribute
        type: string
    title: AttributeValue
    type: object
  json_CloudAccountSupport:
    description: ''
    enum:
    - DISABLED
    - ENABLED
    - TRA_UNKNOWN
    title: CloudAccountSupport
    type: string
  json_Country:
    description: Defines a country
    properties:
      callingCode:
        description: 'Standard calling code of this country: List of ITU-T Recommendation E.164 assigned
          country codes (http://www.itu.int/pub/T-SP-E.164D-11-2011)'
        type: string
      canonicalLink:
        description: ''
        type: string
      common:
        description: Country is common
        type: boolean
      currencyCode:
        description: 'Standard currency code of this country: List of ISO-4217 currency codes (http://www.xe.com/iso4217.php)'
        type: string
      dailyUsdExchangeRate:
        description: Quantity of this country's currency unit that can be purchased with 1 USD (daily
          exchange rate)
        type: number
      id:
        description: 'Standard two-letter country code for this country: ISO 3166-1 alpha-2.'
        type: string
      language:
        description: Locale corresponding to the display name.
        type: string
      modifiedOn:
        description: ''
        type: number
      name:
        description: Country display name in specific locale
        type: string
      subdivisions:
        $ref: '#/definitions/json_Subdivisions'
        description: Subdivisions of this country.
      usdExchangeRate:
        description: Quantity of this country's currency unit that can be purchased with 1 USD (Oracle
          exchange rate)
        type: number
    title: Country
    type: object
  json_CountrySpecificValidationType:
    description: This class is a POJO which associates a country with a validation type (used in TrialValidationRule)
    properties:
      country:
        $ref: '#/definitions/json_Country'
        description: Country belongs to Country Specific Validation
      defaultValidationType:
        description: ''
        type: string
      validationType:
        description: Country Validation Type
        type: string
    title: CountrySpecificValidationType
    type: object
  json_CustomAttribute:
    description: ''
    properties:
      bundleName:
        description: ''
        type: string
      caDescriptionTKey:
        description: ''
        type: string
      caDisplayNameTKey:
        description: ''
        type: string
      canonicalLink:
        description: ''
        type: string
      customAttributeValueSet:
        $ref: '#/definitions/json_CustomAttributeValueSet'
        description: ''
      dataType:
        description: ''
        type: string
      description:
        description: '[Localizable]'
        type: string
      displayName:
        description: '[Localizable]'
        type: string
      displayOrder:
        description: ''
        type: number
      downgradeAllowed:
        description: Is downgrade allowed
        type: boolean
      filters:
        description: Attribut Filters
        items:
          $ref: '#/definitions/json_CustomAttributeFilter'
        type: array
      id:
        description: ''
        type: string
      inputType:
        description: ''
        type: string
      isMultipleOf:
        description: Is multiple of
        type: string
      language:
        description: ''
        type: string
      maxLength:
        description: ''
        type: number
      name:
        description: ''
        type: string
      required:
        description: ''
        type: boolean
      sectionId:
        description: ''
        type: string
      serviceId:
        description: ''
        type: string
      serviceOptions:
        description: Applicable to a list of Option
        items:
          $ref: '#/definitions/json_ServiceOption'
        type: array
      servicePlans:
        description: Applicable to a list of Plan
        items:
          $ref: '#/definitions/json_ServicePlan'
        type: array
      subscriptionType:
        $ref: '#/definitions/json_SubscriptionType'
        description: ''
      validationMsg:
        description: ''
        type: string
      validationRule:
        description: ''
        type: string
    title: CustomAttribute
    type: object
  json_CustomAttributeFilter:
    description: ''
    properties:
      allowedSubscriptionModel:
        $ref: '#/definitions/json_SubscriptionModel'
        description: ''
      applicablePlans:
        description: Plan restriction this is deplicated in 15.4.2 ONEOFF
        items:
          $ref: '#/definitions/json_ServicePlan'
        type: array
      customAttributeId:
        description: ''
        type: string
      max:
        description: ''
        type: number
      min:
        description: ''
        type: number
      name:
        description: filter name
        type: string
      useQuotaLimitAsMax:
        description: ''
        type: boolean
      useQuotaLimitAsMin:
        description: ''
        type: boolean
      value:
        description: filter value
        type: string
    title: CustomAttributeFilter
    type: object
  json_CustomAttributeSection:
    description: ''
    properties:
      bundleName:
        description: ''
        type: string
      displayOrder:
        description: ''
        type: number
      header:
        description: '[Localizable]'
        type: string
      headerTKey:
        description: ''
        type: string
      id:
        description: ''
        type: string
      language:
        description: ''
        type: string
      serviceId:
        description: ''
        type: string
      subscriptionType:
        $ref: '#/definitions/json_SubscriptionType'
        description: ''
    title: CustomAttributeSection
    type: object
  json_CustomAttributeValue:
    description: ''
    properties:
      bundleName:
        description: ''
        type: string
      code:
        description: ''
        type: string
      filters:
        description: ''
        items:
          $ref: '#/definitions/json_CustomAttributeValueFilter'
        type: array
      id:
        description: ''
        type: string
      language:
        description: ''
        type: string
      selectedByDefault:
        description: ''
        type: boolean
      setId:
        description: ''
        type: string
      translationKey:
        description: ''
        type: boolean
      value:
        description: '[Localizable]'
        type: string
      valueTKey:
        description: ''
        type: string
    title: CustomAttributeValue
    type: object
  json_CustomAttributeValueFilter:
    description: ''
    properties:
      allowedSubscriptionModels:
        description: ''
        items:
          $ref: '#/definitions/json_SubscriptionModel'
        type: array
    title: CustomAttributeValueFilter
    type: object
  json_CustomAttributeValueSet:
    description: ''
    properties:
      canonicalLink:
        description: ''
        type: string
      customAttributeValues:
        description: ''
        items:
          $ref: '#/definitions/json_CustomAttributeValue'
        type: array
      id:
        description: ''
        type: string
      language:
        description: ''
        type: string
      serviceId:
        description: ''
        type: string
    title: CustomAttributeValueSet
    type: object
  json_GsiItem:
    description: ''
    properties:
      id:
        description: ''
        type: string
      itemDesc:
        description: gsi item desccription
        type: string
      itemName:
        description: gsi item name used in sgi payload.
        type: string
      planId:
        description: Unique id to represent the plan.
        type: string
      serviceId:
        description: ''
        type: string
    title: GsiItem
    type: object
  json_MSActionLog:
    description: MyServices ServiceDefinition object
    properties:
      action:
        description: ''
        type: string
      attributes:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttribute'
        type: array
      createdOn:
        description: ''
        type: number
      id:
        description: ''
        type: string
      message:
        description: ''
        type: string
      operationId:
        description: ''
        type: string
      operationItemId:
        description: ''
        type: string
      status:
        $ref: '#/definitions/json_OperationItemResultStatus'
        description: ''
    title: ActionLog
    type: object
  json_MSAttribute:
    description: MyServices ServiceDefinition object
    properties:
      attributes:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttribute'
        type: array
      name:
        description: ''
        type: string
      value:
        description: ''
        type: string
    title: Attribute
    type: object
  json_MSAttributeDefinition:
    description: MyServices ServiceDefinition object
    properties:
      attributeDefinitions:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttributeDefinition'
        type: array
      description:
        description: ''
        type: string
      id:
        description: ''
        type: string
      inputType:
        $ref: '#/definitions/json_MSAttributeDefinitionInputType'
        description: ''
      maxLength:
        description: ''
        type: number
      maxValue:
        description: ''
        type: number
      minLength:
        description: ''
        type: number
      minValue:
        description: ''
        type: number
      name:
        description: ''
        type: string
      operationItemDefinitionId:
        description: ''
        type: string
      required:
        description: ''
        type: boolean
      supportedResourceValues:
        description: ''
        type: string
      supportedValues:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttributeSupportedValue'
        type: array
      transformationAttributeName:
        description: ''
        type: string
      transformationClass:
        description: ''
        type: string
      transformationClassExecutionMode:
        $ref: '#/definitions/json_MSAttributeDefinitionTransformationClassExecutionMode'
        description: ''
      transformationClassParameters:
        description: ''
        items:
          type: string
        type: array
      validationClass:
        description: ''
        type: string
      validationClassParameters:
        description: ''
        items:
          type: string
        type: array
      validationRuleRegExp:
        description: ''
        type: string
      value:
        description: ''
        type: string
      valueFromAttribute:
        description: ''
        type: string
    title: AttributeDefinition
    type: object
  json_MSAttributeDefinitionInputType:
    description: ''
    enum:
    - READ_ONLY
    - HIDDEN
    - DEFINITION
    - PROMOTION
    - INTERNAL
    - TEXT
    - TEXTAREA
    - CHECKBOX
    - SELECT_ONE_RESOURCE
    - SELECT_ONE_VALUE
    title: AttributeDefinitionInputType
    type: string
  json_MSAttributeDefinitionTransformationClassExecutionMode:
    description: ''
    enum:
    - VALIDATION
    - PROCESSING
    - BOTH
    title: MSAttributeDefinitionTransformationClassExecutionMode
    type: string
  json_MSAttributeSupportedValue:
    description: MyServices ServiceDefinition object
    properties:
      attributeDefinitionId:
        description: ''
        type: string
      displayValue:
        description: ''
        type: string
      value:
        description: ''
        type: string
    title: AttributeSupportedValue
    type: object
  json_MSCloudAccount:
    description: MyServices Cloud Account. A Cloud Account is a container for Cloud Services purchased
      by a Customer.
    properties:
      canonicalLink:
        description: Canonical Link of the Cloud Account Resource
        type: string
      id:
        description: Unique Id of the Cloud Account
        type: string
      name:
        description: Name of the Cloud Account as defined by the customer
        type: string
    title: CloudAccount
    type: object
  json_MSCloudAccounts:
    description: ''
    properties:
      canonicalLink:
        description: link to access this CloudAccount list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all CloudAccounts
        type: boolean
      items:
        description: List of CloudAccounts.
        items:
          $ref: '#/definitions/json_MSCloudAccount'
        type: array
      limit:
        description: Maximum number of CloudAccount returned
        type: number
      nextLink:
        description: Link to next CloudAccount page
        type: string
      offset:
        description: Starting offset of CloudAccounts returned
        type: number
      previousLink:
        description: Link to previous CloudAccount page
        type: string
    title: CloudAccounts
    type: object
  json_MSError:
    description: ''
    properties:
      additionalInfoLink:
        description: ''
        type: string
      errorCode:
        description: ''
        type: string
      errorMessage:
        description: ''
        type: string
      httpMessage:
        description: ''
        type: string
      httpStatusCode:
        description: ''
        type: number
      relatedLink:
        description: ''
        type: string
    title: Error
    type: object
  json_MSIdentityDomain:
    description: MyServices IdentityDomain object
    properties:
      displayName:
        description: Identity Domain Display Name
        type: string
      id:
        description: Identity Domain Unique Id
        type: string
      name:
        description: Identity Domain Name
        type: string
    title: IdentityDomain
    type: object
  json_MSOperation:
    description: Represents an operation
    properties:
      canonicalLink:
        description: ''
        type: string
      createdOn:
        description: ''
        type: number
      id:
        description: ''
        type: string
      modifiedOn:
        description: ''
        type: number
      name:
        description: ''
        type: string
      operationItems:
        description: ''
        items:
          $ref: '#/definitions/json_MSOperationItem'
        type: array
      result:
        description: ''
        type: string
    title: Operation
    type: object
  json_MSOperationItem:
    description: MyServices ServiceDefinition object
    properties:
      actionLogs:
        description: ''
        items:
          $ref: '#/definitions/json_MSActionLog'
        type: array
      attributes:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttribute'
        type: array
      createdOn:
        description: ''
        type: number
      id:
        description: ''
        type: string
      modifiedOn:
        description: ''
        type: number
      operationId:
        description: ''
        type: string
      operationItemDefinition:
        $ref: '#/definitions/json_MSOperationItemDefinition'
        description: ''
      result:
        $ref: '#/definitions/json_MSOperationItemResult'
        description: ''
    title: OperationItem
    type: object
  json_MSOperationItemDefinition:
    description: OperationItemDefinition object
    properties:
      attributeDefinitions:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttributeDefinition'
        type: array
      canonicalLink:
        description: ''
        type: string
      id:
        description: ''
        type: string
      name:
        description: ''
        type: string
      operationType:
        $ref: '#/definitions/json_MSOperationType'
        description: ''
      product:
        $ref: '#/definitions/json_MSProduct'
        description: ''
      resourceType:
        $ref: '#/definitions/json_MSOperationResourceType'
        description: ''
      serviceDefinition:
        $ref: '#/definitions/json_MSServiceDefinition'
        description: ''
    title: OperationItemDefinition
    type: object
  json_MSOperationItemDefinitions:
    description: ''
    properties:
      canonicalLink:
        description: link to access this OperationItemDefinition list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all OperationItemDefinitions
        type: boolean
      items:
        description: List of OperationItemDefinitions.
        items:
          $ref: '#/definitions/json_MSOperationItemDefinition'
        type: array
      limit:
        description: Maximum number of OperationItemDefinition returned
        type: number
      nextLink:
        description: Link to next OperationItemDefinition page
        type: string
      offset:
        description: Starting offset of OperationItemDefinitions returned
        type: number
      previousLink:
        description: Link to previous OperationItemDefinition page
        type: string
      resourceFilter:
        $ref: '#/definitions/json_ResourceFilter'
        description: ''
    title: OperationItemDefinitions
    type: object
  json_MSOperationItemResult:
    description: MyServices ServiceDefinition object
    properties:
      actionRetryCount:
        description: ''
        type: number
      actionScheduledOn:
        description: ''
        type: number
      attributes:
        description: ''
        items:
          $ref: '#/definitions/json_MSAttribute'
        type: array
      currentAction:
        description: ''
        type: string
      status:
        $ref: '#/definitions/json_OperationItemResultStatus'
        description: ''
    title: OperationItemResult
    type: object
  json_MSOperationResourceType:
    description: ''
    enum:
    - PRODUCT
    - CLOUD_ACCOUNT
    - PURCHASE_ENTITLEMENT
    - SERVICE_ENTITLEMENT
    - SERVICE_INSTANCE
    title: MSOperationResourceType
    type: string
  json_MSOperationResult:
    description: MyServices ServiceDefinition object
    properties:
      status:
        $ref: '#/definitions/json_OperationResultStatus'
        description: ''
      statusMessage:
        description: ''
        type: string
    title: OperationResult
    type: object
  json_MSOperationType:
    description: ''
    enum:
    - CREATE
    - UPDATE
    - DELETE
    title: MSOperationType
    type: string
  json_MSOperations:
    description: ''
    properties:
      canonicalLink:
        description: link to access this Operation list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all Operations
        type: boolean
      items:
        description: List of Operations.
        items:
          $ref: '#/definitions/json_MSOperation'
        type: array
      limit:
        description: Maximum number of Operation returned
        type: number
      nextLink:
        description: Link to next Operation page
        type: string
      offset:
        description: Starting offset of Operations returned
        type: number
      previousLink:
        description: Link to previous Operation page
        type: string
      resourceFilter:
        description: ''
        type: string
    title: Operations
    type: object
  json_MSProduct:
    description: ''
    properties:
      allowedPromotions:
        description: Array of Product that includes associated allowed promotions
        items:
          $ref: '#/definitions/json_MSProduct'
        type: array
      canonicalLink:
        description: ''
        type: string
      currencyCode:
        description: Three letters currency code in ISO 4217 standard
        type: string
      currencyCodeLocalizations:
        description: Array of Product containing subset of attributes that are localized by currencyCode
        items:
          $ref: '#/definitions/json_MSProduct'
        type: array
      displayName:
        description: ''
        type: string
      eligibleSelections:
        description: 'List of selection criteria that specifies a product eligibility (e.g., EDITION:
          Standard)'
        items:
          $ref: '#/definitions/json_MSProductSelection'
        type: array
      id:
        description: Product unique identifier
        type: string
      language:
        description: ''
        type: string
      languageLocalizations:
        description: Array of Product containing subset of attributes that are localized by language
        items:
          $ref: '#/definitions/json_MSProduct'
        type: array
      metricDisplayName:
        description: ''
        type: string
      parentProducts:
        description: Array of Product that includes this product (i.e., top-level SKUs)
        items:
          $ref: '#/definitions/json_MSProduct'
        type: array
      partInventoryItemId:
        description: Part inventory item id
        type: string
      partNumber:
        description: Product part number
        type: string
      prices:
        description: Product price list for a specific currency code
        items:
          $ref: '#/definitions/json_MSProductPrice'
        type: array
      serviceCategoryDisplayName:
        description: ''
        type: string
      serviceDefinition:
        $ref: '#/definitions/json_MSServiceDefinition'
        description: ''
      shortDisplayName:
        description: ''
        type: string
    title: Product
    type: object
  json_MSProductPrice:
    description: ''
    properties:
      currencyCode:
        description: ''
        type: string
      model:
        $ref: '#/definitions/json_ProductPriceModel'
        description: ''
      rangeMax:
        description: ''
        type: number
      rangeMin:
        description: ''
        type: number
      rangeUnit:
        description: ''
        type: string
      value:
        description: The maximum precision is 10 digits after the decimal point, extra digits will be
          discarded.
        type: number
    title: ProductPrice
    type: object
  json_MSProductSelection:
    description: ''
    properties:
      localizationId:
        description: ''
        type: string
      name:
        description: ''
        type: string
      value:
        description: ''
        type: string
    title: ProductSelection
    type: object
  json_MSPurchaseEntitlement:
    description: Customer PurchaseEntitlement. A Purchase Entitlement represents the entity bought by
      a customer.
    properties:
      activationDate:
        description: ''
        type: number
      billingMetrics:
        description: ''
        type: string
      canonicalLink:
        description: Canonical Link of the Purchase Entitlement Resource
        type: string
      cloudAccount:
        $ref: '#/definitions/json_MSCloudAccount'
        description: Cloud Account to which the purchase entitlement is associated
      createdBy:
        description: User who requested the Purchase Entitlement
        type: string
      createdOn:
        description: Date and Time of creation
        type: number
      csiNumber:
        description: ''
        type: string
      endDate:
        description: ''
        type: number
      id:
        description: Unique Id of the Purchase Entitlement
        type: string
      identityDomain:
        $ref: '#/definitions/json_MSIdentityDomain'
        description: Identity Domain to which the purchase entitlement is associated
      modifiedBy:
        description: User who performed the last modification
        type: string
      modifiedOn:
        description: Date and Time of the last modification
        type: number
      serviceDefinition:
        $ref: '#/definitions/json_MSServiceDefinition'
        description: The Purchase Entitlement is for a specific type of service. The Service Definition
          indicates the type of Service.
      startDate:
        description: ''
        type: number
      status:
        $ref: '#/definitions/json_PurchaseEntitlementStatus'
        description: Current Status
      subscriptionId:
        description: The Purchase Entitlement may be part of a Subscription
        type: string
      terminationDate:
        description: ''
        type: number
      trial:
        description: ''
        type: boolean
    title: PurchaseEntitlement
    type: object
  json_MSPurchaseEntitlements:
    description: ''
    properties:
      canonicalLink:
        description: link to access this PurchaseEntitlement list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all PurchaseEntitlements
        type: boolean
      items:
        description: List of PurchaseEntitlements.
        items:
          $ref: '#/definitions/json_MSPurchaseEntitlement'
        type: array
      limit:
        description: Maximum number of PurchaseEntitlement returned
        type: number
      nextLink:
        description: Link to next PurchaseEntitlement page
        type: string
      offset:
        description: Starting offset of PurchaseEntitlements returned
        type: number
      previousLink:
        description: Link to previous PurchaseEntitlement page
        type: string
    title: PurchaseEntitlements
    type: object
  json_MSSEExadataSecurityGroup:
    description: 'MyServices Exadata Security Group. Exadata Cloud Service Self-Service Firewall provides
      a system of rules and groups. By default, the firewall denies network access to the Exadata Cloud
      Service instance.

      Security groups contains security rules. The security rules effectively define a white-list of allowed
      network access points.'
    properties:
      canonicalLink:
        description: Canonical Link
        type: string
      customerId:
        description: Customer Id. This must be the same as the {serviceEntitlementId}
        type: string
      description:
        description: Group Description
        type: string
      id:
        description: MSSEExadataSecurityGroup unique identifier
        type: string
      name:
        description: Group Name. A group name.
        type: string
      rules:
        description: Rules defining the white-list of allowed network access points
        items:
          $ref: '#/definitions/json_MSSEExadataSecurityRule'
        type: array
      version:
        description: Version
        type: number
    title: SEExadataSecurityGroup
    type: object
  json_MSSEExadataSecurityGroups:
    description: MyServices Exadata Security Groups object
    properties:
      canonicalLink:
        description: link to access this SEExadataSecurityGroup list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all SEExadataSecurityGroups
        type: boolean
      items:
        description: List of SEExadataSecurityGroups.
        items:
          $ref: '#/definitions/json_MSSEExadataSecurityGroup'
        type: array
      limit:
        description: Maximum number of SEExadataSecurityGroup returned
        type: number
      nextLink:
        description: Link to next SEExadataSecurityGroup page
        type: string
      offset:
        description: Starting offset of SEExadataSecurityGroups returned
        type: number
      previousLink:
        description: Link to previous SEExadataSecurityGroup page
        type: string
    title: SEExadataSecurityGroups
    type: object
  json_MSSEExadataSecurityRule:
    description: MyServices Exadata Security Rule. Each rule defines an element in the white-list of allowed
      network access points
    properties:
      direction:
        description: 'Direction of the network communications that are subject to this rule. Allowed values:
          [ingress | egress] for inbound (configures the rule to allow network communications to be received
          from the location specified in the rule) or outbound (configures the rule to allow network communications
          to be sent to the location specified in the rule).'
        type: string
      endPort:
        description: See startPort.
        type: number
      ipSubnet:
        description: Specifies the IP addresses that are subject to this rule. Specify a single IP address,
          or specify a range of IP addresses using Classless Inter-Domain Routing (CIDR) notation.
        type: string
      proto:
        description: 'Network Protocol. Allowed values: [tcp | udp].'
        type: string
      ruleInterface:
        description: 'Network interface that is subject to this rule. Allowed values: [admin | client
          | backup]. admin: The rule applies to network communications over the administration network
          interface. The administration network is typically used to support administration tasks by using
          terminal sessions, monitoring agents, and so on. client: The rule applies to network communications
          over the client access network interface, which is typically used by Oracle Net (database) connections.
          backup: The rule applies to network communications over the backup network interface, which
          is typically used to transport backup information to and from network-based storage that is
          separate from Exadata Cloud Service.'
        type: string
      startPort:
        description: startPort and endPort define the range of ports to open/white-list [0 - 65535]. startPort
          <= endPort and startPort == endPort to open only 1 port.
        type: number
    title: SEExadataSecurityRule
    type: object
  json_MSSEServiceConfiguration:
    description: MyServices ServiceEntitlement Service Configuration object
    properties:
      canonicalLink:
        description: ''
        type: string
      exadata:
        $ref: '#/definitions/json_MSSEServiceConfigurationExadata'
        description: ''
      id:
        description: ''
        type: string
    title: SEServiceConfiguration
    type: object
  json_MSSEServiceConfigurationExadata:
    description: MyServices ServiceEntitlement Service Configuration Exadata object
    properties:
      canonicalLink:
        description: ''
        type: string
      id:
        description: ''
        type: string
      securityGroups:
        $ref: '#/definitions/json_MSSEExadataSecurityGroups'
        description: ''
    title: SEServiceConfigurationExadata
    type: object
  json_MSSEServiceConfigurations:
    description: MyServices ServiceEntitlement Service Configurations object
    properties:
      canonicalLink:
        description: ''
        type: string
      items:
        description: ''
        items:
          $ref: '#/definitions/json_MSSEServiceConfiguration'
        type: array
      resourceFilter:
        $ref: '#/definitions/json_ResourceFilter'
        description: ''
    title: SEServiceConfigurations
    type: object
  json_MSSIExadataBursting:
    description: MyServices Exadata Bursting object
    properties:
      additionalNumOfCores:
        description: ''
        type: string
      additionalNumOfCoresHourly:
        description: ''
        type: string
      canonicalLink:
        description: Canonical Link
        type: string
      coreBursting:
        description: ''
        type: string
      exaunitId:
        description: ''
        type: number
      ocpuAllocations:
        description: List of Bursting configuration for each Host Name
        items:
          $ref: '#/definitions/json_MSSIExadataOcpuAllocation'
        type: array
      ocpuOpInProgress:
        description: Indicates that a modification to the Bursting Configuration is in Progress
        type: boolean
      op:
        description: ''
        type: string
      requestId:
        description: ''
        type: string
      status:
        description: ''
        type: number
    title: SIExadataBursting
    type: object
  json_MSSIExadataOcpuAllocation:
    description: MyServices Exadata Ocpu Allocation object used in Exadata Bursting
    properties:
      burstOcpu:
        description: Current Burst value. 0 means no Bursting. A positive value means an increase in compute
          nodes. Not that the additional number of compute nodes cannot exceed the value in maxBurstOcpu
        type: number
      hostName:
        description: Host Name
        type: string
      maxBurstOcpu:
        description: Maximum amount of compute nodes allowed for Bursting.
        type: number
      maxMetOcpu:
        description: ''
        type: number
      maxOcpu:
        description: ''
        type: number
      maxSubOcpu:
        description: ''
        type: number
      meteredOcpu:
        description: ''
        type: number
      minOcpu:
        description: ''
        type: number
      subscriptionOcpu:
        description: ''
        type: number
    title: SIExadataOcpuAllocation
    type: object
  json_MSSIExadataSecurityGroupAssignment:
    description: MyServices Exadata Security Group Assignment object
    properties:
      canonicalLink:
        description: Canonical Link
        type: string
      id:
        description: Unique Id
        type: string
      securityGroup:
        $ref: '#/definitions/json_MSSEExadataSecurityGroup'
        description: Assigned Security group.
    title: SIExadataSecurityGroupAssignment
    type: object
  json_MSSIExadataSecurityGroupAssignments:
    description: MyServices Exadata Security Group Assignments object
    properties:
      canonicalLink:
        description: link to access this SIExadataSecurityGroupAssignment list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all SIExadataSecurityGroupAssignments
        type: boolean
      items:
        description: List of SIExadataSecurityGroupAssignments.
        items:
          $ref: '#/definitions/json_MSSIExadataSecurityGroupAssignment'
        type: array
      limit:
        description: Maximum number of SIExadataSecurityGroupAssignment returned
        type: number
      nextLink:
        description: Link to next SIExadataSecurityGroupAssignment page
        type: string
      offset:
        description: Starting offset of SIExadataSecurityGroupAssignments returned
        type: number
      previousLink:
        description: Link to previous SIExadataSecurityGroupAssignment page
        type: string
    title: SIExadataSecurityGroupAssignments
    type: object
  json_MSSIServiceConfiguration:
    description: MyServices ServiceInstance Service Configuration object
    properties:
      canonicalLink:
        description: ''
        type: string
      exadata:
        $ref: '#/definitions/json_MSSIServiceConfigurationExadata'
        description: ''
      id:
        description: ''
        type: string
    title: SIServiceConfiguration
    type: object
  json_MSSIServiceConfigurationExadata:
    description: MyServices ServiceInstance Service Configuration Exadata object
    properties:
      bursting:
        $ref: '#/definitions/json_MSSIExadataBursting'
        description: ''
      canonicalLink:
        description: ''
        type: string
      id:
        description: ''
        type: string
      securityGroupAssignments:
        $ref: '#/definitions/json_MSSIExadataSecurityGroupAssignments'
        description: ''
    title: SIServiceConfigurationExadata
    type: object
  json_MSSIServiceConfigurations:
    description: MyServices ServiceInstance Service Configurations object
    properties:
      canonicalLink:
        description: ''
        type: string
      items:
        description: ''
        items:
          $ref: '#/definitions/json_MSSIServiceConfiguration'
        type: array
      resourceFilter:
        $ref: '#/definitions/json_ResourceFilter'
        description: ''
    title: SIServiceConfigurations
    type: object
  json_MSServiceDefinition:
    description: MyServices ServiceDefinition
    properties:
      canonicalLink:
        description: Canonical Link of the Service Entitlement Resource
        type: string
      id:
        description: Unique Id of the Service Definition
        type: string
      name:
        description: Name of the Service Definition. As an example, "DBAAS" would represent the service
          "DataBase As A Service"
        type: string
    title: ServiceDefinition
    type: object
  json_MSServiceDefinitions:
    description: ''
    properties:
      canonicalLink:
        description: link to access this ServiceDefinition list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all ServiceDefinitions
        type: boolean
      items:
        description: List of ServiceDefinitions.
        items:
          $ref: '#/definitions/json_MSServiceDefinition'
        type: array
      limit:
        description: Maximum number of ServiceDefinition returned
        type: number
      nextLink:
        description: Link to next ServiceDefinition page
        type: string
      offset:
        description: Starting offset of ServiceDefinitions returned
        type: number
      previousLink:
        description: Link to previous ServiceDefinition page
        type: string
    title: ServiceDefinitions
    type: object
  json_MSServiceEntitlement:
    description: 'Customer ServiceEntitlement. A Service Entitlement represents a specific service included
      in a Purchase Entitlement.

      As an example, a Service Entitlement with with a Service Definition "DBAAS" would be for the entitlement
      to use the

      service "DataBase As A Service".'
    properties:
      canonicalLink:
        description: Canonical Link of the Service Entitlement Resource
        type: string
      cloudAccount:
        $ref: '#/definitions/json_MSCloudAccount'
        description: Cloud Account to which the Service Entitlement is associated
      createdBy:
        description: User who requested the Service Entitlement
        type: string
      createdOn:
        description: Date and Time of creation
        type: number
      id:
        description: Unique Id of the Service Entitlement
        type: string
      identityDomain:
        $ref: '#/definitions/json_MSIdentityDomain'
        description: Identity Domain to which the Service Entitlement is associated
      modifiedBy:
        description: User who performed the last modification
        type: string
      modifiedOn:
        description: Date and Time of the last modification
        type: number
      purchaseEntitlement:
        $ref: '#/definitions/json_MSPurchaseEntitlement'
        description: Purchase Entitlement in which this service is included.
      serviceConfigurations:
        $ref: '#/definitions/json_MSSEServiceConfigurations'
        description: Service Configurations
      serviceDefinition:
        $ref: '#/definitions/json_MSServiceDefinition'
        description: The Service Definition defines the exact type of service
      status:
        $ref: '#/definitions/json_ServiceEntitlementStatus'
        description: Current Status
    title: ServiceEntitlement
    type: object
  json_MSServiceEntitlements:
    description: ''
    properties:
      canonicalLink:
        description: link to access this ServiceEntitlement list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all ServiceEntitlements
        type: boolean
      items:
        description: List of ServiceEntitlements.
        items:
          $ref: '#/definitions/json_MSServiceEntitlement'
        type: array
      limit:
        description: Maximum number of ServiceEntitlement returned
        type: number
      nextLink:
        description: Link to next ServiceEntitlement page
        type: string
      offset:
        description: Starting offset of ServiceEntitlements returned
        type: number
      previousLink:
        description: Link to previous ServiceEntitlement page
        type: string
    title: ServiceEntitlements
    type: object
  json_MSServiceInstance:
    description: 'Customer ServiceInstance. A Service Instance represents a specific instance of a Service
      Entitlement. As an example,

      the "Compute" Service Entitlement could allow a customer to create one or more instances of Compute

      Virtual Machines. Each Virtual Machine is associated to a unique ServiceInstance.'
    properties:
      canonicalLink:
        description: Canonical Link of the Service Instance Resource
        type: string
      cloudAccount:
        $ref: '#/definitions/json_MSCloudAccount'
        description: Cloud Account to which the Service Instance is associated
      createdBy:
        description: User who created the Service Instance
        type: string
      createdOn:
        description: Date and Time of creation
        type: number
      id:
        description: Unique Id of the Service Instance
        type: string
      identityDomain:
        $ref: '#/definitions/json_MSIdentityDomain'
        description: Identity Domain to which the Service Instance is associated
      modifiedBy:
        description: User who performed the last modification
        type: string
      modifiedOn:
        description: Date and Time of the last modification
        type: number
      purchaseEntitlement:
        $ref: '#/definitions/json_MSPurchaseEntitlement'
        description: Purchase Entitlement in which this Service Instance is included.
      serviceConfigurations:
        $ref: '#/definitions/json_MSSIServiceConfigurations'
        description: Service Configurations
      serviceDefinition:
        $ref: '#/definitions/json_MSServiceDefinition'
        description: The Service Definition defines the exact type of service
      serviceEntitlement:
        $ref: '#/definitions/json_MSServiceEntitlement'
        description: Service Entitlement in which this Service Instance is included.
      status:
        $ref: '#/definitions/json_ServiceInstanceStatus'
        description: Current Status
    title: ServiceInstance
    type: object
  json_MSServiceInstances:
    description: ''
    properties:
      canonicalLink:
        description: link to access this ServiceInstance list
        type: string
      hasMore:
        description: Set to true if subsequent GETs need to be done to list all ServiceInstances
        type: boolean
      items:
        description: List of ServiceInstances.
        items:
          $ref: '#/definitions/json_MSServiceInstance'
        type: array
      limit:
        description: Maximum number of ServiceInstance returned
        type: number
      nextLink:
        description: Link to next ServiceInstance page
        type: string
      offset:
        description: Starting offset of ServiceInstances returned
        type: number
      previousLink:
        description: Link to previous ServiceInstance page
        type: string
      resourceFilter:
        $ref: '#/definitions/json_ResourceFilter'
        description: ''
    title: ServiceInstances
    type: object
  json_MeteredResource:
    description: ''
    properties:
      instanceType:
        $ref: '#/definitions/json_MeteredResourceInstanceType'
        description: ''
      name:
        description: ''
        type: string
      selectCriteriaPropSetId:
        description: ''
        type: string
      selectCriteriaValues:
        description: Metered Resource  customAttributes attributes
        items:
          $ref: '#/definitions/json_AttributeValue'
        type: array
      value:
        $ref: '#/definitions/json_MeteredResourceValue'
        description: ''
    title: MeteredResource
    type: object
  json_MeteredResourceInstanceType:
    description: ''
    enum:
    - TRA_UNKNOWN
    - PRODUCTION
    - TEST
    - DEVELOPMENT
    title: MeteredResourceInstanceType
    type: string
  json_MeteredResourceValue:
    description: ''
    properties:
      customAttributeName:
        description: ''
        type: string
      fixedValue:
        description: ''
        type: string
    title: MeteredResourceValue
    type: object
  json_OfferingType:
    description: ''
    enum:
    - TRIAL
    - PRODUCTION
    - TRA_UNKNOWN
    title: OfferingType
    type: string
  json_OperationItemResultStatus:
    description: ''
    enum:
    - READY
    - ASYNC_WAIT
    - PROCESSING
    - PROCESSED
    - FAILED
    - WAITING
    title: OperationItemResultStatus
    type: string
  json_OperationResultStatus:
    description: ''
    enum:
    - PENDING_APPROVAL
    - REJECTED
    - NEW
    - PROCESSING
    - PROCESSED
    - FAILED
    title: OperationResultStatus
    type: string
  json_OperationType:
    description: ''
    enum:
    - TRA_UNKNOWN
    - ACTIVATION
    - ARCHIVE_SERVICE
    - ARCHIVE_SYSTEM
    - ASSOCIATION
    - CANCELATION
    - CANCEL_ACTIVATION
    - CONVERT_SVC_INST_TO_SBE
    - CREATE_ACCOUNT
    - CREATE_CLOUD_ACCOUNT
    - DELETE_ACCOUNT
    - CONVERT_TRIAL_TO_PAID
    - CREATE_SYSTEM
    - DISABLE
    - DISABLE_ALL
    - DISASSOCIATION
    - ENABLE
    - ENABLE_ALL
    - EXTENSION
    - LOCK
    - MIGRATION
    - ONBOARDING
    - GLOBAL_ONBOARDING
    - ONBOARDING_PASSIVE
    - ON_OVER_UTILIZATION
    - PROVISIONING
    - REFRESH_ENTITLEMENT
    - RELOCATE_ENTITLEMENT
    - RENAME_CLOUD_ACCOUNT
    - REPROVISION
    - PURGE_SERVICE_ARCHIVE
    - PURGE_SYSTEM
    - PURGE_SYSTEM_ARCHIVE
    - SOFT_BREACH
    - SOFT_TERMINATION
    - SUBMIT_GSI_ORDER
    - TERMINATE_CLOUD_ACCOUNT
    - TERMINATE_SYSTEM
    - TERMINATION
    - TERMINATION_DUE_TO_CANCEL
    - TERMINATION_PASSIVE
    - TRIAL_EXTENSION
    - TUNNEL_TO_DC
    - UNLOCK
    - UPDATE
    - UPDATE_SYSTEM
    - UPDATE_ACCOUNT
    - SUSPEND
    - RESUME
    title: OperationType
    type: string
  json_Product:
    description: ''
    properties:
      allowedPromotions:
        description: Array of Product that includes associated allowed promotions
        items:
          $ref: '#/definitions/json_Product'
        type: array
      canonicalLink:
        description: ''
        type: string
      coveredPart:
        description: ''
        type: string
      coveredPartInventoryItemId:
        description: ''
        type: string
      currencyCode:
        description: Three letters currency code in ISO 4217 standard
        type: string
      currencyCodeLocalizations:
        description: Array of Product containing subset of attributes that are localized by currencyCode
        items:
          $ref: '#/definitions/json_Product'
        type: array
      displayName:
        description: ''
        type: string
      eligibleSelections:
        description: 'List of selection criteria that specifies a product eligibility (e.g., EDITION:
          Standard)'
[...]
